/* -----------------------------------------------------------------------
	 EPA's Micorsite Home Page CSS
	 v.oneweb, 20 Sep 2010
	 Questions? hessling.michael@epa.gov
----------------------------------------------------------------------- */
/* RESET ELEMENTS
----------------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}
body{line-height:1.35}
table{background-color:#fff;border-collapse:separate;border-spacing:0}
caption, th, td{text-align:left;font-weight:normal}
blockquote:before, blockquote:after, q:before, q:after{content:""}
blockquote, q{quotes:"" ""}
a img{border:none}
ins{text-decoration:none}


/* TYPOGRAPHY
----------------------------------------------------------------------- */
body{font-size:75%;color:#151515;font-family:"Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif}

/* ALERTS */
#sitewidea, #sitewideb, #sitewidec{background-color:#000;border-width:0 0 1px;color:#fff;font-size:1.25em;font-weight:bold;padding:0 10px}
#sitewidea span, #sitewideb span, #sitewidec span{color:#fff}
#sitewidea span {font-size:1.25em}
#sitewideb span {font-size:1.5em}
#sitewidec span {font-size:1.75em}
#sitewidea a:hover,#sitewideb a:hover,#sitewidec a:hover,#sitewidea a,#sitewideb a,#sitewidec a{color:#fff;text-decoration:underline}


/* Headings */
#headline h2,#message h2{color:#fff;font-size:1.333em;font-weight:bold;margin-bottom:0.75em}
#headline h3{color:#fff;font-size:1.1em;font-weight:bold;margin-bottom:0.75em}
#main h3{color:#449439;font-size:1.35em;font-weight:bold;letter-spacing:-1px;line-height:1;margin-bottom:0.5em}
h4{font-size:1.2em;font-weight:bold;line-height:1;margin-bottom:1em}
h5{font-size:1em;font-weight:bold;margin-bottom:1.5em}
h6{font-size:1em;margin-bottom:1.5em}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img{margin:0}

/* Text */
#content p{margin:0 0 1.5em}
#content p img.left{float:left;margin:1.5em 1.5em 1.5em 0;padding:0}
#content p img.right{float:right;margin:1.5em 0 1.5em 1.5em}
#content strong{font-weight:bold}
#content em, #content dfn{font-style:italic}
#content dfn{font-weight:bold}
#content sup, #content sub{line-height:0}
#content abbr, #content acronym{border-bottom:1px dashed #d0d0d0;cursor:help;font-variant:small-caps}
#content address{margin:0 0 1.5em;font-style:italic}
#content del{color:#666}
#content pre{margin:1.5em 0;white-space:pre}
#content pre, #content code, #content tt{font:1em 'andale mono', 'Lucida Sans Console', monospace;line-height:1.5}

/* Links */
#content a:visited{}
#content a:focus, #content a:hover{color:#39c;text-decoration:underline}
#content a{color:#069;text-decoration:none}

/* Lists */
#content li ul, #content li ol{margin:0}
#content ul, #content ol{margin:0 0 1.5em 13px}
#content #main ul{list-style-image: url('m/bg-bullet.png')}
#content ol{list-style-type:decimal}

/* Horizontal Rules */
hr{background:#d9f0a0;border:1px solid #d9f0a0;clear:both;color:#d9f0a0;float:none;text-align:center;margin:0.7em auto;width:80%}
hr.space{background:none;border:none;color:#fff}
hr.separate{background:transparent url('m/border-horizontal.png') repeat-x;border:none;color:transparent;width:100%}

/* Definition Lists */
#content dl{margin:0 0 1.5em 0}
#content dl dt{font-weight:bold}
#content dd{margin-left:1.5em}

/* Form elements */
#content form legend{display:block;font-weight:bold;padding:0 0 5px}
#content form input{/*border:1px solid #bfd9e8;color:#4a545a;*/-moz-border-radius:2px;border-radius:2px;-khtml-border-radius:2px;padding:2px 3px}
#content form button{background:#4289aa;border:none;-moz-border-radius:4px;border-radius:4px;-khtml-border-radius:4px;color:#fff;letter-spacing:-1px;padding:1px 2px 2px;text-transform:lowercase}
#content form button:hover{background:#599dbd;-webkit-box-shadow:0 0 3px rgba(135, 139, 144, 0.4);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.4);cursor:pointer;text-shadow:0 1px 1px #aaa}

#email-signup{background:url('m/bg-email.png') no-repeat;padding:3px 0 20px 52px}
#myenv fieldset p{margin-bottom:0}

/* Misc elements */
#content blockquote{margin:1.5em;color:#666}


/* Misc Classes */
.right{float:right;margin:0 0 5px 5px}
.center{text-align:center;margin:0 5px}
.left{float:left;margin:0 5px 5px 0}
.clear{clear:both}
.warning{color:#c33;font-weight:bold;font-size:1.0em}
.fileinfo {font-size: 0.85em;color: #777}/* Inline information about non-html (PDF, MS-Word, etc.) files */
.epaltsansbold {font-size: 0.85em;font-weight: bold}
.epaltsans, #content .epaLtSans{font-size: 0.90em}
.skip{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;border:none;font-size:0}
.highlight{background:#ff0}

/* GRIDS/LAYOUT
----------------------------------------------------------------------- */
body{background:#356697}
#wrapper{margin:0 auto;position:relative;width:966px}
#header{background:url('m/bg-header-nodrop.png') no-repeat 50% -10px;padding:20px 0 6px;width:966px;color:#fff;margin:0 auto;position:relative;z-index:2}

/* EPA Logo */
#header h1,#header h1 a{display:block;height:45px;margin:0;padding:0;text-indent:-3000px;width:378px}

/* Language Options */
#header dl{height:30px;position:absolute;right:-4px;top:7px;width:425px}
#header dt{left:0;position:absolute;top:0;text-indent:-3000px}
#header dd{display:inline}
#header dd a{display:block;height:25px;position:absolute;text-indent:-3000px;top:0}
#header dd a:hover{border-bottom:1px solid #fff}
#mobile a{left:9px;width:37px}
#spanish a{left:68px;width:43px}
#trad_chinese a{left:134px;width:65px}
#simple_chinese a{left:222px;width:65px}
#vietnamese a{left:306px;width:57px}
#korean a{left:382px;width:34px}

/* Top nav/IA Buckets */
#header ul{height:38px;left:-2px;list-style:none;position:relative;top:6px;width:635px}
#header ul li{position:absolute}
#header ul li a:focus{outline:none}
#header ul li a{display:block;height:44px;left:0;position:absolute;text-decoration:none;text-indent:-3000px;top:0}
#header ul li a:hover{background-image:url('m/bg-ia.png');background-repeat:no-repeat;display:block;height:44px;position:absolute;top:0}
#header ul li#learn{left:4px}
#header ul li#learn a{width:130px}
#header ul li#learn a:hover{background-position:2px 1px}
#header ul li#scitech{left:135px}
#header ul li#scitech a{width:164px}
#header ul li#scitech a:hover{background-position:-129px 1px}
#header ul li#laws{left:300px}
#header ul li#laws a{width:151px}
#header ul li#laws a:hover{background-position:-294px 1px}
#header ul li#about{left:452px}
#header ul li#about a{width:86px}
#header ul li#about a:hover{background-position:-446px 1px}
#header ul li#news{left:538px}
#header ul li#news a{width:87px}
#header ul li#news a:hover{background-position:-532px 1px}
/* dropdown */
#header ul li ul li{position:relative}
#header ul ul{height:auto;position:absolute;top:-999em;width:150px; /* left offset of submenus need to match (see below) */}
#header ul ul li{background:#4289aa;border-bottom:1px solid #599dbd;float:left}
#header ul li:hover{visibility:inherit /* fixes IE7 'sticky bug' */}
#header ul ul a{color:#fff;display:block;font-weight:bold;height:auto;padding:5px;position:static;text-indent:0;width:auto}
#header ul li#about ul a{width:160px}
#header ul li#learn ul a,#header ul li#scitech ul a{width:150px}
#wrapper #header ul ul a:hover{background:#599dbd;height:auto;position:static}
#header ul li:hover ul,#header ul li.sfHover ul{left:0;top:38px;z-index:99}
#header ul li:hover li ul,#header ul li.sfHover li ul{top:-999em}
#header ul li li:hover ul,#header ul li li.sfHover ul{left:160px;top:0}
#header ul li li:hover li ul,#header ul li li.sfHover li ul{top:-999em}
#header ul li li li:hover ul,#header ul li li li.sfHover ul{left:160px;top:0}
.sf-sub-indicator{display:none}

/* Search */
#EPAsearch{float:right;margin:-8px 0 0}
#EPAsearch legend{display:none}
#EPAsearch ol{list-style:none}
#header fieldset ol li{display:inline;text-align:right}
#header fieldset ol li a{color:#fff;display:block;float:right;font-size:1em;padding:7px 70px 0 0;text-decoration:none}
#header fieldset ol li#azindex a{font-size:1.25em;font-weight:bold;padding:0}
#search{clear:both;height:22px;width:263px}
#searchbox{background:none;border:none;height:18px;padding:5px 3px 0 5px;width:196px}
#searchbutton{background:none;border:none;cursor:pointer;height:25px;text-indent:-3000px;vertical-align:top;width:55px}

/* autocomplete */
.ac_results{border:1px solid #ddd;font-size:11px;overflow:hidden;z-index:100}
.ac_results ul{background:#fff;list-style:none;margin:0;overflow-x:hidden;overflow-y:auto;padding:0}
.ac_results ul li{margin:0;padding:4px}
.ac_results strong{color:#559b6a}
.ac_even{background-color:#fff}
.ac_odd{background-color:#f4f4f4}
.ac_over{background-color:#ffc}


/* =Main Text Content */
#content{background:transparent;margin:0 auto;position:relative;width:960px;z-index:1}
/* Special messages above banner */
#message{background:#1f262a url('m/bg-message.png') repeat-x;border-bottom:1px solid #333c41;margin:0 0 0 -2px;padding:10px 20px}
#message h2{background:url('m/message-arrow.png') no-repeat 0 50%;letter-spacing:1px;margin:0;padding-left:15px}

#headline{background:#1f262a;border:8px solid #1f262a;border-width:8px 0 8px 8px;color:#fff;height:370px;margin:0;width:952px}
#banner, #aside{border-right:7px solid #1f262a;height:370px}
#banner div{font-size:1.1em;height:370px;overflow:hidden}
#headline #banner div div{background:transparent url('m/bg-homebanner.png') repeat;background:rgba(0, 0, 0, 0.6) none;height:auto;margin:1em;padding:1em 1em 0;width:410px}
#headline #banner div div ul{list-style-image:url('m/bg-bullet-banner.png')}
#headline #banner a {color:#fff; font-weight:bold}

#content #below_banner{margin:0;padding:0 0 0 120px;text-indent:-3000px;position:absolute;width:735px;height:38px;top:340px}
#below_banner a{display:block;float:left;height:38px;position:relative;width:735px;z-index:20}
#earth_day{width:200px}
#forty{left:17px;width:510px}

#nav{left:14px;position:absolute;z-index:20;top:350px;*line-height:2}
.switch #nav{left:334px}
#nav a{background:#303b40;-moz-border-radius:3px;border-radius:3px;-khtml-border-radius:3px;color:#fff;font-weight:bold;text-decoration:none;margin:0 5px 0 0;padding:3px 5px}
#nav a.activeSlide {color:#6cf}
#nav a:focus,#nav a:hover{outline: none;text-decoration:none}
.play {width:20px;height:24px;background-image:url(/opei/RuleGate.nsf/pause.jpg);cursor:pointer;float:left}
.pause {width:20px;height:24px;background-image:url(/opei/RuleGate.nsf/play.jpg);float:left;cursor:pointer}


.no_asides #banner div{width:946px}
.no_asides #aside{display:none}
.one_aside #banner,.two_asides #banner,.three_asides #banner{float:left;overflow:hidden;width:676px}
.switch #banner{float:right}
.one_aside #banner div,.two_asides #banner div,.three_asides #banner div{width:676px}
.one_aside #aside,.two_asides #aside,.three_asides #aside{float:right;padding:0 10px;width:242px}
.switch #aside{float:left}
.one_aside #aside{background:url('m/bg-aside-01.png') no-repeat}
.switch #aside{background:url('m/bg-aside-01-switch.png') no-repeat -7px 0}
.two_asides #aside{background:url('m/bg-aside-02.png') no-repeat}
.two_asides #aside .first{height:242px}
.two_asides #aside .last{height:124px}
.three_asides #aside{background:url('m/bg-aside-03.png') no-repeat}
.three_asides #aside .first,.three_asides #aside .mid,.three_asides #aside .last{height:124px}
#aside a {color:#fff; font-weight:bold}

#main{background:#f7f2f2 url('m/bg-main.png') repeat-x;padding:10px 10px 5px;margin:0 auto;width:940px}
/*  =Simple Columns in Main */
#main .columns{background:url('m/bg-column.png') repeat-y;display:inline-block;display:block;margin-top:2px;overflow:hidden}
#main .three{background:url('m/bg-column-three.png') repeat-y}
#main .equal{background:url('m/bg-column-equal.png') repeat-y}
* html #main .columns{height:1%}
#main .column{display:inline;float:left;margin:8px 10px 0;overflow:hidden}
#main .columns .last{float:right;margin:8px 0 0 4px;width:252px}
#main .columns .up,#main .three .up{margin-top:0}
#main .columns .first,#main .three .first{margin-left:0}
#main .column{width:255px}
#main .equal .column{width:210px}
#main .three .column{width:204px}
#main .three .first{width:373px}
#main .three .last{float:right;margin:8px 0 0 10px;width:323px}
#main .equal .last{width:252px}
#main .narrow{width:124px}

#feeds{background:url('m/rss.png') no-repeat 100% 50%}
#content #feed{margin-bottom:1em}
#feed li{margin-bottom:1em}
#content #moremyenv {margin:0 0 1.5em;overflow:hidden}
#moremyenv li{float:left;margin:0 15px}

#admin{background:url('m/admin.jpg') no-repeat -2px 0;display:block;height:128px;margin:0 auto 10px;width:256px}
#main #admin ul{list-style:none;margin:0;overflow:hidden}
#main #admin ul li{display:inline}
#main #admin ul li a{color:#fff;display:block;float:left;font-size:11px;font-weight:bold;margin:0 2px 0 5px}
#main #admin ul li a:focus,#main #admin ul li a:hover{color:#39c}
#main #admin h3{color:#fff;line-height:1.25;margin:0 0 12px;padding:24px 0 0 10px}
#main #admin h3 a{color:#fff;display:block;height:70px;text-decoration:none;width:230px}

/* Colorboxes */
#colorbox, #cboxover, #cboxwrap{position:absolute;top:0;left:0;z-index:9999;overflow:hidden}
#cboxover{background:#000;position:fixed;width:100%;height:100%}
#cboxml,#cboxbl{clear:left}
#cboxc{margin-top:20px;position:relative}
#cboxlc{background:#000;padding:5px;overflow:auto}
#cboxlc iframe{background:#fff;display:block;width:100%;height:100%;border:0}
#cboxt{margin:0;position:absolute;top:-20px;left:0;color:#ccc}
#cboxlo, #cboxlg{position:absolute;top:0;left:0;width:100%}
#cboxprev, #cboxnxt, #cboxcl, #cboxss{cursor:pointer}
/* User style */
  #cboxlc div{background:#fff}
  #cboxlc p{margin:0 0 1.5em}
  #cboxcur{position:absolute;top:-20px;right:0;color:#ccc}
  #cboxss{position:absolute;top:-20px;right:90px;color:#fff}
  #cboxprev{position:absolute;top:50%;left:5px;margin-top:-32px;background:url('i/colorbox-controls.png') top left no-repeat;width:28px;height:65px;text-indent:-9999px}
  #cboxprev.hover{background-position:bottom left}
  #cboxnxt{position:absolute;top:50%;right:5px;margin-top:-32px;background:url('i/colorbox-controls.png') top right no-repeat;width:28px;height:65px;text-indent:-9999px}
  #cboxnxt.hover{background-position:bottom right}
  #cboxlo{background:#000}
  #cboxlg{background:url('i/loading.gif') center center no-repeat}
  #cboxcl{position:absolute;top:0;right:5px;display:block;background:url('i/colorbox-controls.png') top center no-repeat;width:38px;height:19px;text-indent:-9999px}
  #cboxcl.hover{background-position:bottom center}

/* Footer */
#footer{background:url('m/bg-footer-nodrop.png') no-repeat -1px 0;clear:both;color:#fff;font-size:0.9167em;margin:0 auto;overflow:hidden;padding:1em 0 4em;position:relative;width:960px}
#footer a{color:#fff;text-decoration:none}
#footer a:focus,#footer li a:hover{color:#39c;text-decoration:none}
#footer ul{list-style:none}
#seal{display:block;height:82px;position:absolute;right:99px;text-indent:-3000px;top:37px;width:82px}

/* Web20 goodies */
#goodies{display:block;height:100px;position:absolute;right:175px;top:28px;width:274px}
#goodies li{display:inline}
#goodies li a:focus{outline:none}
#goodies li a{display:block;height:55px;position:absolute;text-indent:-3000px}
#goodies li a:hover{background-image:url('m/bg-goodies.png');background-repeat:no-repeat}
#goodies li#widgets a:hover{background-position:0 -5px}
#goodies li#widgets a{left:0;width:52px}
#goodies li#rss-news a:hover{background-position:-60px -5px}
#goodies li#rss-news a{left:60px;width:75px}
#goodies li#podcasts a:hover{background-position:-140px -5px}
#goodies li#podcasts a{left:140px;width:60px}
#goodies li#blog a:hover{background-position:-205px -5px}
#goodies li#blog a{left:205px;width:70px}
#goodies li#fb a:hover{background-position:-77px -70px}
#goodies li#fb a{height:33px;left:77px;top:65px;width:33px}
#goodies li#yt a:hover{background-position:-119px -70px}
#goodies li#yt a{height:33px;left:119px;top:65px;width:33px}
#goodies li#tw a:hover{background-position:-159px -70px}
#goodies li#tw a{height:33px;left:159px;top:65px;width:33px}
#goodies li#fr a:hover{background-position:-200px -70px}
#goodies li#fr a{height:33px;left:200px;top:65px;width:33px}
#goodies li#more-socmed a{background:transparent;font-weight:bold;height:auto;left:80px;position:relative;top:104px;text-indent:0;width:auto}

/* Global footer links */
#globallinks{float:left;margin:10px 0 0 35px;overflow:hidden;width:420px}
#globallinks li{border-bottom:1px dotted #fff;float:left;margin-left:15px;width:125px}
#globallinks li a{display:block;padding:5px 5px 0 0}
#url{display:none}

.clearfix:after, .columns:after, #content:after, #header:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden}
.clearfix, #content, #header{display:block}

/* styles Cathy added */
#govdelivery{background:url('m/bg-email.png') no-repeat;padding:3px 0 20px 52px}
#opengovbox,#spillsbox{width:250px;clear:left;overflow:hidden}
#opengovbox p,#spillsbox p{float:left;margin:0;padding-top:6px;width:101px}
#opengovbox ul,#spillsbox ul{float:right;margin-left:20px;padding-top:4px;width:125px}
#spillsbox p{width:30px}
#spillsbox ul{float:none;margin:0 0 0 45px;width:170px}

#getinvolved {width:250px}
#getinvolvedleft {float:left;width:101px}
#getinvolvedright {float:right;margin-left:14px;width:135px}