ErrorDocument 404 /adminweb/epafiles/auxfiles/error404.htm
RedirectMatch 301 /epafiles/exit.html http://www2.epa.gov/home/exit-epa
RedirectMatch 301 /epafiles/exemptions.html http://www2.epa.gov/webguide/procedure-complying-epagov-look-and-feel#exemptions
RedirectMatch 301 /epafiles/searchcode.html http://www2.epa.gov/webguide/search-epa
RedirectMatch 301 /epafiles/usenotice.htm http://www2.epa.gov/home/privacy-and-security-notice
RedirectMatch 301 /epafiles/templates/js.html http://www2.epa.gov/webguide/web-standard-javascript
RedirectMatch 301 /epafiles/v4/$ /epafiles/templates/

# gzip compression.
<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
# Skip non-HTM, JS, CSS files
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|.pdf|exe|t?gz|zip)$ no-gzip dont-vary
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIEs6 !no-gzip !gzip-only-text/html

# Since we send far-future expires, no ETags for static content.
FileETag none
Header unset ETag
<FilesMatch "\.(js|css|ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4)$">
Header set Cache-Control "public"
Header set Expires "Fri, 01 Aug 2014 20:00:00 GMT"
</FilesMatch>
<FilesMatch "\.(html|htm|xml|txt|xsl)$">
Header set Cache-Control "max-age=7200, must-revalidate"
</FilesMatch>
</IfModule>

# use utf-8 encoding for anything served text/plain or text/html
# force utf-8 for a number of file formats
AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .xml .json .rss
