<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><!-- InstanceBegin template="/Templates/redesign.dwt" codeOutsideHTMLIsLocked="false" -->
<!-- EPA Template version 3.2.2, 05 August 2010 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!-- InstanceBeginEditable name="doctitle" -->
	<title>Layouts | EPA Web Design | US EPA</title>
	<meta name="DC.title" content="" />
	<meta name="DC.description" content="These pages describe EPA's style guide for its web site." />
	<meta name="keywords" content="" />
		<meta name="DC.type" content="" />
	<meta name="DC.date.reviewed" content="" />
	<meta name="DC.date.modified" content="" />
	<meta name="DC.date.created" content="" />
    <!-- InstanceEndEditable -->
<meta name="DC.language" content="en" />
<meta name="DC.creator" content="US EPA, Office of Web Communications and Office of Environmental Information" />
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<style type="text/css" media="screen">@import 'http://www.epa.gov/epafiles/s/epa.css';</style>
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="http://www.epa.gov/epafiles/s/ie.css" /><![endif]-->
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/epa-core.js"></script>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/extra.js"></script>
</head>
<body>
<!--googleoff: index-->
<p class="skip"><a id="skiptop" href="#content" title="Jump to main content.">Jump to main content.</a></p>
<div id="header">
  <!-- START EPA HEADER -->
  <div id="logo"><a href="http://www.epa.gov/" title="US EPA home page"><img src="http://www.epa.gov/epafiles/images/logo_epaseal.gif" alt="[logo] US EPA" width="100" height="111" /></a></div>
  <div id="areaname">
    <!-- START AREA NAME -->
    <p>EPA Web Design</p>
  </div>
  <!-- END AREA NAME -->
  <!-- START SEARCH CONTROLS -->
  <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
    <p><a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Contact Us</a> <span class="search"><strong>Search:</strong>
      <input name="querytext" id="searchbox" value="" />
      <input name="submit" id="searchbutton" type="submit" value="Go" />
      <input type="hidden" name="fld" value="adminweb|epafiles" />
      <input type="hidden" name="areaname" value="EPA Web Design" />
      <input type="hidden" name="areacontacts" value="http://www.epa.gov/epafiles/auxfiles/contactus.htm" />
      <input type="hidden" name="areasearchurl" value="" />
      <input type="hidden" name="result_template" value="epafiles_default.xsl" />
      <input type="hidden" name="filter" value="sample4filt.hts" />
      </span> </p>
  </form>
  <!-- END SEARCH CONTROLS -->
  <ul>
    <!-- BEGIN BREADCRUMBS -->
    <li class="first">You are here: <a href="http://www.epa.gov/">EPA Home</a></li>
    <!-- InstanceBeginEditable name="breadcrumbs" -->
		<li><a href="http://www.epa.gov/epafiles/index.html">EPA Web Design</a></li>
		<li><a href="http://www.epa.gov/epafiles/s/">Available Styles</a></li>
		<li>Layouts</li>
    <!-- InstanceEndEditable -->
  </ul>
  <!-- END BREADCRUMBS -->
</div>
<!-- END EPA HEADER -->
<hr class="skip" />
<div id="content">
  <!-- BEGIN CONTENT -->
  <!-- EPA SITE-WIDE ANNOUNCEMENTS -->
  <p id="sitewidec"></p>
  <!-- BEGIN PAGE NAME -->
<!--googleon: index-->
  <h1><!-- InstanceBeginEditable name="PageName" -->Layouts<!-- InstanceEndEditable --></h1>
  <!-- END PAGE NAME -->
  <!-- BEGIN CONTENT AREA -->
  <!-- InstanceBeginEditable name="content" -->
	<p>There are multiple ways of laying out your pages with <acronym title="Cascading Style Sheets">CSS</acronym>. Here are some simple ones, including . Use the one that suits you best and put it in a local style sheet. Experiment!</p>
	<ul>
		<li>Default layouts. These layouts do not require local styles and will be used in EPA's forthcoming Web CMS:
			<ul>
				<li><a href="two-columns-default.html">Two column layout</a></li>
				<li><a href="three-columns-default.html">Three column layout</a></li>
			</ul>
		</li>
		<li>Alternative two column layouts. These layouts require local styles:
			<ul>
				<li><a href="two-columns-fixed.html">Two columns</a>: main column with right margin and first in source; sidebar absolutely positioned</li>
				<li><a href="two-columns-float01.html">Two columns</a>: main column floated left; sidebar with large left-margin</li>
				<li><a href="two-columns-float02.html">Two columns</a>: main column floated left; sidebar, floated left</li>
			</ul>
		</li>
		<li>Alternative three column layouts. These layouts require local styles:
			<ul>
				<li><a href="three-columns-fixed.html">Three columns</a>: main column with right and left margins; sidebars absolutely positioned</li>
				<li><a href="three-columns-floated.html">Three columns</a>: main column with right and left margins and <b>last in source</b>; left sidebar floated left; right sidebar floated right</li>
			</ul>
		</li>
		<li>Online resources:
			<ul>
				<li><a href="http://developer.yahoo.com/yui/grids/">Yahoo! Developer Network: Grids CSS</a> <a href="http://www.epa.gov/epahome/exitepa.htm"><img src="http://www.epa.gov/epafiles/images/epafiles_misc_exitepadisc.gif" alt="Link to EPA's External Link Disclaimer" width="87" height="13" /></a></li>
				<li><a href="http://tjkdesign.com/articles/one_html_markup_many_css_layouts.asp">One clean HTML markup, many layouts...</a> <a href="http://www.epa.gov/epahome/exitepa.htm"><img src="http://www.epa.gov/epafiles/images/epafiles_misc_exitepadisc.gif" alt="Link to EPA's External Link Disclaimer" width="87" height="13" /></a></li>
			</ul>
		</li>
	</ul>
    <!-- InstanceEndEditable -->
<!--googleoff: index-->
  <!-- BEGIN AREA FOOTER -->
  <p id="areafooter">For help with these pages, contact the <a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Web Redesign Workgroup</a>.</p>
  <!-- END AREA FOOTER -->
</div>
<!-- END CONTENT -->
<hr class="skip" />
<div id="area-nav">
  <!-- BEGIN AREA MAIN NAVIGATION -->
  <h3 class="skip">Local Navigation</h3>
  <ul>
    <li><a href="http://www.epa.gov/epafiles/">EPA Web Design Home</a>
      <hr />
    </li>
    <li><a href="http://www.epa.gov/epafiles/v4/">Template 4 Home</a></li>
    <li><a href="http://www.epa.gov/epafiles/docs/faq.html">Frequent Questions</a></li>
    <li><a href="http://www.epa.gov/epafiles/templates/">HTML Templates</a></li>
    <li><a href="http://www.epa.gov/epafiles/docs/">Updating &amp; Creating your Web Pages</a></li>
    <li><a href="http://www.epa.gov/epafiles/s/">Styling your Templates</a></li>
    <li><a href="http://www.epa.gov/check_template/">Track your Conversions</a></li>
    <li><a href="http://yosemite.epa.gov/oei/webguide.nsf/standards-guidance">EPA Web Standards</a></li>
  </ul>
</div>
<!-- END AREA MAIN NAVIGATION -->
<hr class="skip" />
<div id="footer">
  <!-- BEGIN FOOTER -->
  <ul id="globalfooter">
    <li><a href="http://www.epa.gov/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/epahome/usenotice.htm">Privacy and Security Notice</a></li>
    <li class="last"><a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Contact Us</a></li>
  </ul>
</div>
<!-- END FOOTER -->
<p class="skip"><a id="skipbot" href="#content" title="Jump to main content.">Jump to main content.</a></p>
</body>
<!-- InstanceEnd --></html>