<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><!-- InstanceBegin template="/Templates/redesign.dwt" codeOutsideHTMLIsLocked="false" -->
<!-- EPA Template version 3.2.2, 05 August 2010 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!-- InstanceBeginEditable name="doctitle" -->
	<title>Floated Three-Column Layout | EPA Web Design | US EPA</title>
	<meta name="DC.title" content="" />
	<meta name="DC.description" content="These pages describe EPA's style guide for its web site." />
	<meta name="keywords" content="" />
		<meta name="DC.type" content="" />
	<meta name="DC.date.reviewed" content="" />
	<meta name="DC.date.modified" content="" />
	<meta name="DC.date.created" content="" />
	
<!-- Embedded styles for main and sidebar columns -->
<style media="screen" type="text/css">
	#sidebar1 { float: right; width: 200px; }
	#sidebar2 { float: left; width: 200px; }
	#main { margin: 0 215px; }
</style>
    <!-- InstanceEndEditable -->
<meta name="DC.language" content="en" />
<meta name="DC.creator" content="US EPA, Office of Web Communications and Office of Environmental Information" />
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<style type="text/css" media="screen">@import 'http://www.epa.gov/epafiles/s/epa.css';</style>
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="http://www.epa.gov/epafiles/s/ie.css" /><![endif]-->
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/epa-core.js"></script>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/extra.js"></script>
</head>
<body>
<!--googleoff: index-->
<p class="skip"><a id="skiptop" href="#content" title="Jump to main content.">Jump to main content.</a></p>
<div id="header">
  <!-- START EPA HEADER -->
  <div id="logo"><a href="http://www.epa.gov/" title="US EPA home page"><img src="http://www.epa.gov/epafiles/images/logo_epaseal.gif" alt="[logo] US EPA" width="100" height="111" /></a></div>
  <div id="areaname">
    <!-- START AREA NAME -->
    <p>EPA Web Design</p>
  </div>
  <!-- END AREA NAME -->
  <!-- START SEARCH CONTROLS -->
  <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
    <p><a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Contact Us</a> <span class="search"><strong>Search:</strong>
      <input name="querytext" id="searchbox" value="" />
      <input name="submit" id="searchbutton" type="submit" value="Go" />
      <input type="hidden" name="fld" value="adminweb|epafiles" />
      <input type="hidden" name="areaname" value="EPA Web Design" />
      <input type="hidden" name="areacontacts" value="http://www.epa.gov/epafiles/auxfiles/contactus.htm" />
      <input type="hidden" name="areasearchurl" value="" />
      <input type="hidden" name="result_template" value="epafiles_default.xsl" />
      <input type="hidden" name="filter" value="sample4filt.hts" />
      </span> </p>
  </form>
  <!-- END SEARCH CONTROLS -->
  <ul>
    <!-- BEGIN BREADCRUMBS -->
    <li class="first">You are here: <a href="http://www.epa.gov/">EPA Home</a></li>
    <!-- InstanceBeginEditable name="breadcrumbs" -->
		<li><a href="http://www.epa.gov/epafiles/index.html">EPA Web Design</a></li>
		<li><a href="http://www.epa.gov/epafiles/s/">Available Styles</a></li>
		<li><a href="index.html">Layouts</a></li>
		<li>Floated Three-Column Layout</li>
    <!-- InstanceEndEditable -->
  </ul>
  <!-- END BREADCRUMBS -->
</div>
<!-- END EPA HEADER -->
<hr class="skip" />
<div id="content">
  <!-- BEGIN CONTENT -->
  <!-- EPA SITE-WIDE ANNOUNCEMENTS -->
  <p id="sitewidec"></p>
  <!-- BEGIN PAGE NAME -->
<!--googleon: index-->
  <h1><!-- InstanceBeginEditable name="PageName" -->Layouts<!-- InstanceEndEditable --></h1>
  <!-- END PAGE NAME -->
  <!-- BEGIN CONTENT AREA -->
  <!-- InstanceBeginEditable name="content" -->
	<!-- 2-column layout begins here -->
	<h2>Floated Three-Column Layout</h2>
	<p>To recreate this layout, insert the following into your local style sheet (or into the &lt;head&gt; of this document):</p>
	<p><pre>
&lt;!-- Embedded styles for main and sidebar columns -->
&lt;style media="screen,print" type="text/css">
	#sidebar1 { float: right; width: 200px; }
	#sidebar2 { float: left; width: 200px; }
	#main { margin: 0 215px; }
&lt;/style>
</pre></p>
	<p>You, of course, can adjust all values to your liking.</p>
	<p>Use the following structure in your content:</p>
	<p><pre>&lt;div id=&quot;sidebar1&quot;&gt;
	Right sidebar content here
&lt;/div&gt;&lt;!-- END sidebar1 --&gt;
&lt;div id=&quot;sidebar2&quot;&gt;
	Left sidebar content here
&lt;/div&gt;&lt;!-- END sidebar2 --&gt;
&lt;div id=&quot;main&quot;&gt;
	Main content here.
&lt;/div&gt; &lt;!-- END main --&gt;</pre></p>
	<hr />
	<div id="sidebar1">
		<div class="boxmulti">
			<h5 id="hot">Hot Topics</h5>
			<ul>
				<li><a href="http://www.epa.gov/beaches/plan/whereyoulive_state.html"><img src="http://www.epa.gov/epahome/images/umbrella.jpg" alt="people at the beach" width="60" height="100" style="float:right;" /></a>Contact <a href="http://www.epa.gov/beaches/plan/whereyoulive_state.html">your state or local government office where you live</a> for current beach closure information.  What you can do to <a href="http://www.epa.gov/beaches/plan/dos%26donts.html">safely enjoy your beach and protect the beach environment</a>.</li>
				<li>The <a href="http://www.epa.gov/region5/greatcities/">Great Cities Partnership Program</a> is a way for EPA to collaborate with the largest urban areas in the Midwest. </li>
			</ul>
			<ul>
				<li>The <a href="http://www.epa.gov/midwestcleandiesel/">Midwest Clean Diesel</a> Initiative is a collaboration to reduce emissions from diesel engines in the Midwest.<br />
					<a href="http://www.epa.gov/region5/air/"><img src="http://www.epa.gov/region5/images/CleanDieselLogo150.jpg" alt="Midwest Clean Diesel Initiative" width="150" height="44" /></a></li>
				<li>EPA lanza nueva p&aacute;gina Web sobre salud ambiental hispana: <a href="http://www.epa.gov/espanol/asma.htm">El medio ambiente y su salud</a></li>
				<li><a href="http://www.epa.gov/glla">Great Lakes Legacy Act</a></li>
				<li><a href="../../training/answers/questions.htm#mold">Mold and indoor air quality</a></li>
				<li>The official U.S. government Web site for <a href="http://www.pandemicflu.gov/">information on pandemic flu and avian influenza from the U.S. Department of Health &amp; Human Services</a></li>
			</ul>
		</div>
	</div><!-- END sidebar1 -->	
	<div id="sidebar2">
		<div class="boxmulti">
			<h5>Contact Us Online</h5>
			<p><strong>Region 5 Environmental Hotline: 800-621-8431</strong> <br />
				8:15am - 4:45pm Central time<br />
				(312-886-2395 for callers outside IL, IN, MI, MN, OH, and WI)</p>
			<ul>
				<li><a href="http://www.epa.gov/cgi-bin/r5experts.cgi"><strong>Region 5 Experts List</strong></a></li>
				<li><a href="../../training/enforcement/ecitcomp.htm">Citizen complaints</a> </li>
				<li><a href="../../training/foia.htm">FOIA requests</a> </li>
				<li><a href="../../training/publiccomment/index.htm">Public comment opportunities</a> </li>
				<li><a href="../../training/publicnotices/index.htm">Public Notices</a> </li>
				<li><a href="../../training/answers/r5comment.htm">General comments</a> </li>
				<li><a href="../../training/answers/speakers/index.htm">Speakers bureau</a> </li>
					<li><a href="http://cfpub.epa.gov/locator/index.cfm">EPA Phone Directory</a></li>
			 </ul>
		</div>
	</div><!-- END sidebar2 -->
	<div id="main">
		<div style="width: 185px; float: right; border: 1px solid #ccc;">
			<a href="http://www.epa.gov/compliance/complaints/index.html"><img src="http://www.epa.gov/region5/images/badge1-rev.gif" alt="Report Environmental Violations" width="85" height="83" /></a><a href="http://www.epa.gov/epahome/emergenc.htm"><img src="http://www.epa.gov/epahome/images/emerge1.gif" alt="Emergencies: Report oil or chemical spills at 800-424-8802" width="94" height="79" /></a><br />
			<img src="http://www.epa.gov/region5/images/r5map.gif" alt="Map of the Region 5 states and the Great Lakes" width="185" height="150" />
		</div>
		<h3>Headlines</h3>
		<p><a href="http://yosemite.epa.gov/opa/admpress.nsf/81dfbf1a0b671f3b85257018004ce441/046e3857d045e9af8525717f0074ec5c!OpenDocument"><strong>EPA to hold public hearing on proposed permit for salt water disposal well</strong></a><br />
		CHICAGO (May 31, 2006) - U.S. Environmental Protection Agency Region will hold an information session and public hearing Tuesday, June 6, to accept comments on a draft permit from DTE Gas and Oil Co., Traverse City, Mich., to operate a noncommercial, salt-water disposal well in Manistee County, Mich.</p>
		<p><a href="http://yosemite.epa.gov/opa/admpress.nsf/81dfbf1a0b671f3b85257018004ce441/4f05e5f1cbcce79f8525717e005daff8!OpenDocument"><strong>EPA settles with Circuitronics for hazardous waste violations </strong></a><br />
		CHICAGO (May 30, 2006) - U.S. Environmental Protection Agency Region 5 has reached an agreement with Circuitronics L.L.C., Wheaton, Ill., to settle alleged hazardous waste violations.</p>
		<p><strong><a href="http://yosemite.epa.gov/opa/admpress.nsf/81dfbf1a0b671f3b85257018004ce441/1403b1c4681a6b468525717e005d617c!OpenDocument">EPA settles with TWF Industries for hazardous waste violations</a></strong><br />
		CHICAGO (May 30, 2006) - U.S. Environmental Protection Agency Region 5 has settled with TWF Industries Inc., Barrett, Minn., for alleged violations of federal and state rules on the management of hazardous waste</p>
		<p><a href="https://lists.epa.gov/read/all_forums/subscribe?name=r5news">Get news releases by e-mail</a> | <a href="http://yosemite.epa.gov/opa/admpress.nsf/RSS"><img src="http://yosemite.epa.gov/opa/admpress.nsf/xml.gif" alt="RSS feed" width="27" height="13" /> news releases by feed</a> | <a href="../../training/news/index.htm">Region 5 Newsroom</a> | <a href="http://www.epa.gov/newsroom/newsreleases.htm">All EPA news releases</a></p>
		<h3>Meetings &amp; Conferences</h3>
		<p><a href="http://www.epa.gov/region5/sites/cmcheartland/index.htm">South Minneapolis Soil Contamination</a> neighborhood meetings</p>
		<ul>
			<li>Wednesday, June 7, Powderhorn Park, 3400 15th Avenue S., 10 am - 2 pm and 4-6 pm</li>
		</ul>
		<p style="text-align: center; border-top: 1px solid #ccc;"><a href="http://www.epa.gov/airnow/index.html"><img src="http://www.epa.gov/region5/images/aqi_logo.gif" alt="Air Quality Index Website" width="100" height="67" /></a><br />
		<a href="http://www.epa.gov/airnow/index.html"> What's the air quality where you live today?</a></p>
<div class="boxsimple" style="float: none; position: static; width: 80%;">
<ul>
<li><a href="../../training/sites/index.htm">Cleanup Sites (Superfund &amp; RCRA)</a></li>
<li><a href="../../training/answers/questions.htm">Frequent Questions</a></li>
<li><a href="../../training/aboutr5/sitemap.htm">Site Map</a></li>
<li><a href="http://www.epa.gov/region5/hotline/">More reference resources</a></li>
</ul>
</div>
		<p><a href="http://www.epa.gov/region5/illegaldumping/">Illegal Dumping Prevention Project </a></p>
		<p><a href="http://www.mnrg.gov">Midwest Natural Resources Group</a></p>
		<p><a href="../../training/publications/happy/happy.htm"><i>Happy Earth Day Activity Book</i></a> and <a href="../../training/publications/index.htm">other publications...</a></p>
		<p><a href="http://www.epa.gov/teachers/order-publications.htm">Order EPA education materials</a></p>
	</div> <!-- END main column -->
    <!-- InstanceEndEditable -->
<!--googleoff: index-->
  <!-- BEGIN AREA FOOTER -->
  <p id="areafooter">For help with these pages, contact the <a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Web Redesign Workgroup</a>.</p>
  <!-- END AREA FOOTER -->
</div>
<!-- END CONTENT -->
<hr class="skip" />
<div id="area-nav">
  <!-- BEGIN AREA MAIN NAVIGATION -->
  <h3 class="skip">Local Navigation</h3>
  <ul>
    <li><a href="http://www.epa.gov/epafiles/">EPA Web Design Home</a>
      <hr />
    </li>
    <li><a href="http://www.epa.gov/epafiles/v4/">Template 4 Home</a></li>
    <li><a href="http://www.epa.gov/epafiles/docs/faq.html">Frequent Questions</a></li>
    <li><a href="http://www.epa.gov/epafiles/templates/">HTML Templates</a></li>
    <li><a href="http://www.epa.gov/epafiles/docs/">Updating &amp; Creating your Web Pages</a></li>
    <li><a href="http://www.epa.gov/epafiles/s/">Styling your Templates</a></li>
    <li><a href="http://www.epa.gov/check_template/">Track your Conversions</a></li>
    <li><a href="http://yosemite.epa.gov/oei/webguide.nsf/standards-guidance">EPA Web Standards</a></li>
  </ul>
</div>
<!-- END AREA MAIN NAVIGATION -->
<hr class="skip" />
<div id="footer">
  <!-- BEGIN FOOTER -->
  <ul id="globalfooter">
    <li><a href="http://www.epa.gov/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/epahome/usenotice.htm">Privacy and Security Notice</a></li>
    <li class="last"><a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Contact Us</a></li>
  </ul>
</div>
<!-- END FOOTER -->
<p class="skip"><a id="skipbot" href="#content" title="Jump to main content.">Jump to main content.</a></p>
</body>
<!-- InstanceEnd --></html>