<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><!-- InstanceBegin template="/Templates/redesign.dwt" codeOutsideHTMLIsLocked="false" -->
<!-- EPA Template version 3.2.2, 05 August 2010 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!-- InstanceBeginEditable name="doctitle" -->
	<title>Default Two-column Layout | EPA Web Design | US EPA</title>
	<meta name="DC.title" content="" />
	<meta name="DC.description" content="These pages describe EPA's style guide for its web site." />
	<meta name="keywords" content="" />
		<meta name="DC.type" content="" />
	<meta name="DC.date.reviewed" content="" />
	<meta name="DC.date.modified" content="" />
	<meta name="DC.date.created" content="" />
    <!-- InstanceEndEditable -->
<meta name="DC.language" content="en" />
<meta name="DC.creator" content="US EPA, Office of Web Communications and Office of Environmental Information" />
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<style type="text/css" media="screen">@import 'http://www.epa.gov/epafiles/s/epa.css';</style>
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="http://www.epa.gov/epafiles/s/ie.css" /><![endif]-->
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/epa-core.js"></script>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/extra.js"></script>
</head>
<body>
<!--googleoff: index-->
<p class="skip"><a id="skiptop" href="#content" title="Jump to main content.">Jump to main content.</a></p>
<div id="header">
  <!-- START EPA HEADER -->
  <div id="logo"><a href="http://www.epa.gov/" title="US EPA home page"><img src="http://www.epa.gov/epafiles/images/logo_epaseal.gif" alt="[logo] US EPA" width="100" height="111" /></a></div>
  <div id="areaname">
    <!-- START AREA NAME -->
    <p>EPA Web Design</p>
  </div>
  <!-- END AREA NAME -->
  <!-- START SEARCH CONTROLS -->
  <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
    <p><a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Contact Us</a> <span class="search"><strong>Search:</strong>
      <input name="querytext" id="searchbox" value="" />
      <input name="submit" id="searchbutton" type="submit" value="Go" />
      <input type="hidden" name="fld" value="adminweb|epafiles" />
      <input type="hidden" name="areaname" value="EPA Web Design" />
      <input type="hidden" name="areacontacts" value="http://www.epa.gov/epafiles/auxfiles/contactus.htm" />
      <input type="hidden" name="areasearchurl" value="" />
      <input type="hidden" name="result_template" value="epafiles_default.xsl" />
      <input type="hidden" name="filter" value="sample4filt.hts" />
      </span> </p>
  </form>
  <!-- END SEARCH CONTROLS -->
  <ul>
    <!-- BEGIN BREADCRUMBS -->
    <li class="first">You are here: <a href="http://www.epa.gov/">EPA Home</a></li>
    <!-- InstanceBeginEditable name="breadcrumbs" -->
		<li><a href="http://www.epa.gov/epafiles/index.html">EPA Web Design</a></li>
		<li><a href="http://www.epa.gov/epafiles/s/">Available Styles</a></li>
		<li><a href="index.html">Layouts</a></li>
		<li>Default Two-column</li>
    <!-- InstanceEndEditable -->
  </ul>
  <!-- END BREADCRUMBS -->
</div>
<!-- END EPA HEADER -->
<hr class="skip" />
<div id="content">
  <!-- BEGIN CONTENT -->
  <!-- EPA SITE-WIDE ANNOUNCEMENTS -->
  <p id="sitewidec"></p>
  <!-- BEGIN PAGE NAME -->
<!--googleon: index-->
  <h1><!-- InstanceBeginEditable name="PageName" -->Layouts<!-- InstanceEndEditable --></h1>
  <!-- END PAGE NAME -->
  <!-- BEGIN CONTENT AREA -->
  <!-- InstanceBeginEditable name="content" -->
	<!-- 2-column layout begins here -->
	<h2>Default Two-column</h2>
	<p>To recreate this layout, write:</p>
	<p><pre>&lt;div id=&quot;main&quot;&gt;
	Intro paragraphs can go here.
	&lt;div id=&quot;maincenter&quot;&gt;
		&lt;div id=&quot;mainpad-2&quot;&gt;
			Main content here.
		&lt;/div&gt; &lt;!-- END mainpad-2 --&gt;
	&lt;/div&gt; &lt;!-- END maincenter --&gt;
	&lt;div id=&quot;secondary&quot;&gt;
		Sidebar content here
	&lt;/div&gt; &lt;!-- END secondary --&gt;
&lt;/div&gt; &lt;!-- END main --&gt;</pre></p>
	<p>No local styles are required.</p>
	<hr />
	<div id="main">
		<p>A short intro paragraph about this page/area/etc. You can make it as long as you want, the rest of the page will shift down to fit. A short intro paragraph about this page/area/etc. You can make it as long as you want, the rest of the page will shift down to fit.</p>
		<div id="maincenter">
			<div id="mainpad-2">
				<p>The magnificent Columbia River Basin covers a major portion of the landscape of North America, including parts of seven states and British Columbia.</p>
				<p class="pullquote" style="width: 340px;">Canadian Northwest to the ocean so blue Roll on Columbia, roll on <span class="author">- Woody Guthrie</span></p>
				<p>The basin provides drainage for hundreds of tributaries over an area of more than 260,000 square miles into a river near 1,200 miles in length.</p>
				<p>The Columbia River Basin has been and will continue to provide an important North American backdrop for urban settlement and development, agriculture, transportation, recreation, fisheries and hydropower.  Read more...</p>
				<div class="box right" style="width: 230px;">
					<h5>Spotlight</h5>
					<p>Highlight grants or special reports here...</p>
					<p>text<br />text<br />text<br />text<br />text<br />text<br />text<br />text<br />text<br />text<br />text<br />text<br />text<br />text<br />
					ext<br />text<br />text<br />text<br />text<p>
				</div>
				<div class="box left" style="width: 350px;">
					<h5>Recent News</h5>
					<ul>
						<li><a href="http://cooperativeconservation.gov/library/EPA_2007_AnnualReport.pdf">Columbia River Toxics Reduction Strategy featured in the Council on Environmental Quality's annual report on Cooperative Conservation (PDF)</a> <span class="fileinfo">(70pp, 1.2 MB)</span></li>
						<li>news</li>
						<li>news</li>
						<li>news</li>
					</ul>
				</div>
				<div class="box color2 left" style="width: 350px;">
					<h5>Columbia River: A National Priority</h5>
					<p>In <a href="http://www.epa.gov/cfo/plan/plan.htm">EPA&#8217;s 2006-2011 Strategic Plan</a>, the Columbia River Basin was elevated to one of our Nation&#8217;s great water bodies, joining the <a href="http://www.epa.gov/Region3/chesapeake/">Chesapeake Bay</a>, <a href="http://www.epa.gov/glnpo/">Great Lakes</a>, <a href="http://www.epa.gov/gmpo/">Gulf of Mexico</a>, <a href="http://www.epa.gov/Region4/water/southflorida/">South Florida Ecosystem</a>, <a href="http://www.epa.gov/ne/eco/lis/">Long Island Sound</a> and <a href="http://www.epa.gov/region10/psgb/">Puget Sound</a>. As the Agency&#8217;s road map for future work efforts, the strategic plan sets environmental targets which will help to move toward a healthier river. </p>
					<ul>
						<li>Protect, enhance, or restore 13,000 acres of wetland habitat and 3,000 acres of upland habitat in the Lower Columbia River watershed. </li>
						<li>Clean up 150 acres of known highly contaminated sediments.</li>
						<li>Demonstrate a 10% reduction in mean concentration of contaminants of concern found in water and fish tissue. </li>
					</ul>
					<p><a href="http://yosemite.epa.gov/R10/EXTAFF.NSF/Reports/2006+Regional+Priorities+Columbia+River+Basin/$FILE/Baseline-columbia.pdf">Columbia River Baseline Document (PDF)</a> <span class="fileinfo">(5 pp. 60 K)</span></p>
				</div>
			</div> <!-- END mainpad-2 -->
		</div> <!-- END maincenter -->
		<div id="secondary">
			<div class="boxmulti">
				<h5>Regional Information</h5>
				<ul>
					<li>Sub-basins:
						<ul>
							<li><a href="/r10/ECOCOMM.NSF/Columbia/Upper+columbia">Upper Basin: Above Grand Coulee Dam</a></li>
							<li><a href="/r10/ECOCOMM.NSF/Columbia/Middle+Columbia">Middle Basin: Grand Coulee to Bonneville</a></li>
							<li><a href="/r10/ECOCOMM.NSF/Columbia/Lower+Columbia">Lower Basin: Bonneville to Pacific Ocean</a></li>
						</ul>
					</li>
					<li><a href="http://yosemite.epa.gov/r10/ECOCOMM.NSF/Columbia/Toxics+Reduction">Toxics Reduction Workgroup</a></li>
					<li><a href="http://yosemite.epa.gov/r10/ecocomm.nsf/Columbia/Advisories">Fish Advisories</a></li>
					<li><a href="/r10/ECOCOMM.NSF/Columbia/WQS">Water Quality</a></li>
					<li><a href="/r10/ECOCOMM.NSF/Columbia/CRMaps">Maps</a></li>
					<li><a href="/r10/ECOCOMM.NSF/Columbia/columbianews">In the News</a></li>
					<li><a href="/r10/ECOCOMM.NSF/Columbia/Columbia+Resources">Learn More</a></li>
					<li>Get Involved</li>
				</ul>
			</div>
			<div class="imgcontainer-r clear" style="width: 200px;">
				<img src="http://204.47.216.153:9876/R10/ECOCOMM.NSF/0/debe7ee9cab9a6b288257309006ae1fa/Body/0.B0E?OpenElement&FieldElemFormat=jpg" width="200" height="133" alt="" />
				<p class="caption">Chief Joseph Dam spillway. Hydroelectric power is blah, blah, blah... Photo courtesy of U.S. Army Corps of Engineers.</p>
			</div>
			<div class="box color1 clear" style="width: 200px;">
				<h5>Superfund Projects in the Columbia Basin</h5>
				<ul>
					<li><a href="/R10/ECOCOMM.NSF/b724ca698f6054798825705700693650/1462d20f2774a259882571d4006ba346?OpenDocument#Superfund%20Mid-Columbia">Hanford</a></li>
					<li><a href="/R10/ECOCOMM.NSF/b724ca698f6054798825705700693650/f4fdc1ae414f51e1882571d4006b84ce?OpenDocument#Portland%20Harbor">Portland Harbor</a></li>
					<li><a href="http://yosemite.epa.gov/r10/cleanup.nsf/webpage/Reynolds+Metals">Reynolds Metals</a></li>
					<li><a href="/R10/ECOCOMM.NSF/b724ca698f6054798825705700693650/283aecf9fce1f5c7882571d4006b5ecc?OpenDocument#RIFS">Upper Columbia River RI/FS</a></li>
				</ul>
			</div>
		</div> <!-- END secondary -->	
  </div><!-- END main -->	
    <!-- InstanceEndEditable -->
<!--googleoff: index-->
  <!-- BEGIN AREA FOOTER -->
  <p id="areafooter">For help with these pages, contact the <a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Web Redesign Workgroup</a>.</p>
  <!-- END AREA FOOTER -->
</div>
<!-- END CONTENT -->
<hr class="skip" />
<div id="area-nav">
  <!-- BEGIN AREA MAIN NAVIGATION -->
  <h3 class="skip">Local Navigation</h3>
  <ul>
    <li><a href="http://www.epa.gov/epafiles/">EPA Web Design Home</a>
      <hr />
    </li>
    <li><a href="http://www.epa.gov/epafiles/v4/">Template 4 Home</a></li>
    <li><a href="http://www.epa.gov/epafiles/docs/faq.html">Frequent Questions</a></li>
    <li><a href="http://www.epa.gov/epafiles/templates/">HTML Templates</a></li>
    <li><a href="http://www.epa.gov/epafiles/docs/">Updating &amp; Creating your Web Pages</a></li>
    <li><a href="http://www.epa.gov/epafiles/s/">Styling your Templates</a></li>
    <li><a href="http://www.epa.gov/check_template/">Track your Conversions</a></li>
    <li><a href="http://yosemite.epa.gov/oei/webguide.nsf/standards-guidance">EPA Web Standards</a></li>
  </ul>
</div>
<!-- END AREA MAIN NAVIGATION -->
<hr class="skip" />
<div id="footer">
  <!-- BEGIN FOOTER -->
  <ul id="globalfooter">
    <li><a href="http://www.epa.gov/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/epahome/usenotice.htm">Privacy and Security Notice</a></li>
    <li class="last"><a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Contact Us</a></li>
  </ul>
</div>
<!-- END FOOTER -->
<p class="skip"><a id="skipbot" href="#content" title="Jump to main content.">Jump to main content.</a></p>
</body>
<!-- InstanceEnd --></html>