<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- EPA Template version 3.2.2, 05 August 2010 -->
<head>
<title>AA/RA Home Pages | US EPA</title>
<meta name="DC.description" content="" />
<meta name="keywords" content="" />
<meta name="DC.title" content="" />
<meta name="DC.type" content="" />
<meta name="DC.Subject.epachannel" content="" />
<!-- For date metadata, use the format YYYY-MM-DD -->
<meta name="DC.date.modified" content="" />
<meta name="DC.date.created" content="" />
<meta name="DC.date.reviewed" content="" />
<meta name="DC.language" content="en" />
<meta name="DC.creator" content="" />
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css" media="screen">
@import 'http://www.epa.gov/epafiles/s/epa.css';
 @import 'http://www.epa.gov/epafiles/s/aaratop.css';
/* path to your banner image; recommended dimensions: 960x135  */
#header {background: url('index.jpg')}
</style>
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="s/ie.css" /><![endif]-->
<link rel="stylesheet" type="text/css" media="print" href="http://www.epa.gov/epafiles/s/print.css" />
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/epa-core.js"></script>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/extra.js"></script>
</head>
<body id="aaratop">
<!--googleoff: index-->
<div id="wrap">
  <p class="skip"><a id="skiptop" href="#content" title="Jump to main content.">Jump to main content.</a></p>
  <div id="header">
    <div id="logo"><a href="http://www.epa.gov/" title="United States Environmental Protection Agency home page."><img src="http://www.epa.gov/epafiles/images/logo_epaseal-aara.gif" alt="[seal] US EPA" title="United States Environmental Protection Agency" width="140" height="136" /></a></div>
    <div id="areaname">
      <p>AA/RA Name</p>
      <p id="tagline">Serving these states: Don't FORGET!</p>
      <!-- ./tagline -->
    </div>
    <!-- ./area name -->
    <div id="therest">
      <form name="EPAsearch" id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
        <p id="headerlinks"><a href="#">Recent Additions</a> | <a href="#">Contact Us</a> <span class="search"><strong>Search:</strong>
          <input name="querytext" id="searchbox" value="" />
          <input name="submit" id="searchbutton" type="submit" value="Go" />
          <input type="hidden" name="fld" value="" />
          <input type="hidden" name="areaname" value="" />
          <input type="hidden" name="areacontacts" value="" />
          <!-- AREA ADVANCED SEARCH URL HERE (OPTIONAL) -->
          <input type="hidden" name="areasearchurl" value="" />
          <!-- THE REMAINING HIDDEN INPUTS ARE USED BY THE SEARCH ENGINE - DO NOT EDIT -->
          <input type="hidden" name="result_template" value="epafiles_default.xsl" />
          <input type="hidden" name="filter" value="sample4filt.hts" />
          </span> </p>
      </form>
      <!-- ./search -->
    </div>
    <!-- ./therest -->
    <ul>
      <li class="first">You are here: <a href="http://www.epa.gov/">EPA Home</a></li>
      <!-- START AREA BREADCRUMBS -->
      <li>AA/RA Name</li>
    </ul>
    <!-- ./breadcrumbs -->
  </div>
  <!-- ./header -->
  <hr class="skip" />
  <div id="content">
    <!-- EPA SITE-WIDE ANNOUNCEMENTS - DO NOT REMOVE - this code is used for emergency messages -->
    <p id="sitewidea"></p>
    <!-- BEGIN CONTENT AREA -->
    <!-- begin quicklinks -->
<!--googleon: index-->
    <table class="qfinder">
      <thead>
        <tr>
          <th colspan="5"><p>Quick Finder</p></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="20%"><a href="http://www.epa.gov/beaches/">Beaches</a> <a href="http://www.epa.gov/owm/mtb/biosolids/">Biosolids</a> <a href="http://www.epa.gov/water/climatechange/">Climate Change</a> <a href="http://www.epa.gov/safewater/dwh/">Drinking Water</a> <a href="http://www.epa.gov/waterscience/fish/">Fish Advisories</a></td>
          <td width="20%"><a href="http://cfpub.epa.gov/npdes/home.cfm?program_id=298">Green Infrastructure</a> <a href="http://www.epa.gov/waterscience/guide/">Industrial Wastewater</a> <a href="http://www.epa.gov/owm/mtb/">Municipal Technologies</a> <a href="http://cfpub.epa.gov/npdes/">Permits</a></td>
          <td width="20%"><a href="http://www.epa.gov/owow/nps/">Polluted Run-Off</a> <a href="http://cfpub.epa.gov/safewater/sourcewater/">Source Water</a> <a href="http://www.epa.gov/waterinfrastructure/">Sustainability</a> <a href="http://www.epa.gov/indian/">Tribes</a></td>
          <td width="20%"><a href="http://www.epa.gov/owm/">Wastewater</a> <a href="http://www.epa.gov/watersense/">WaterSense</a> <a href="http://www.epa.gov/owow/watershed/">Watersheds</a> <a href="http://www.epa.gov/waterscience/criteria/drinking/">Water Advisories</a></td>
          <td width="20%"><a href="http://cfpub.epa.gov/safewater/watersecurity/index.cfm">Water Security</a> <a href="http://www.epa.gov/waterscience/standards/">Water Standards</a> <a href="http://www.epa.gov/safewater/privatewells/index2.html">Wells</a> <a href="http://www.epa.gov/owow/wetlands/">Wetlands</a></td>
        </tr>
      </tbody>
    </table>
    <!-- end quicklinks -->
    <h2>AA/RA Template Pages</h2>
    <ol>
      <li>This template is an enhanced AA/RA/Topic Homepage template. This template applies only to the home page of an AA/RA office or a Major Topic (e.g., Mercury). Contact your <a href="http://www.epa.gov/webgovernance/leadership.html">Content Coordinator</a> to determine if your site is a "major topic".</li>
      <li>This template is fixed width (960px) and centered. The white space for your content is 800px wide.</li>
      <li>The banner is part of this template.
        <ul>
          <li>Modify the banner code where indicated and replace the banner image with your own by changing the path.
            <ul>
              <li>Edit this line: <code>#header { background: url('index.jpg'); }</code> by replacing <code>index.jpg</code> with the link to your own header image</li>
            </ul>
          </li>
          <li>Recommended dimensions for the image are 960 x 135.</li>
          <li>The images should be GIF or JPEG (<a href="http://yosemite.epa.gov/OEI/webguide.nsf/standards-guidance/graphicformats">Standard: Graphic Formats</a>)</li>
          <li>Some <a href="http://intranet.epa.gov/media/photogallery/pano.htm">panoramic images are available</a> (intranet).</li>
        </ul>
      </li>
      <li>There is no page title on home pages.</li>
      <li><a href="http://www.epa.gov/epafiles/s/qf.html">Quick Finder boxes</a> must follow the <i>look</i> of the EPA Web standard, but it doesn't matter <i>how</i> you create them.</li>
    </ol>
    <p><a href="../index.html">Back to EPA Web Design Templates main page</a>.</p>
<!--googleoff: index-->
    <!-- BEGIN AREA FOOTER - ADD text/links for area footer within this paragraph tag -->
    <p id="areafooter">If there is an Area footer, put it here.</p>
    <!-- ./area footer -->
  </div>
  <!-- ./content -->
  <hr class="skip" />
  <div id="area-nav">
    <h3 class="skip">Local Navigation</h3>
    <ul>
      <li><a href="#">Area Home</a></li>
      <li><a href="#">Basic Information</a></li>
      <li><a href="#">Where You Live</a></li>
      <li><a href="#">Part 4</a></li>
      <li><a href="#">Part 5</a>
        <ul>
          <li><a href="#">Sublist link</a></li>
          <li><a href="#">Sublist link</a></li>
        </ul>
      </li>
      <li><a href="#">Part 6</a></li>
      <li><a href="#">Part 7</a></li>
      <li><a href="http://www.epa.gov/kids/"><img src="http://www.epa.gov/epahome/pics/kids.gif" alt="EPA Environmental Kids Club" width="114" height="25" /></a></li>
    </ul>
  </div>
  <!-- ./area nave -->
  <hr class="skip" />
  <div id="footer">
    <ul id="globalfooter">
      <li><a href="http://www.epa.gov/">EPA Home</a></li>
      <li><a href="http://www.epa.gov/epafiles/usenotice.htm">Privacy and Security Notice</a></li>
      <!-- CHANGE link to point to your own contact page -->
      <li class="last"><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <!-- ./footer -->
  <p class="skip"><a id="skipbot" href="#content" title="Jump to main content.">Jump to main content.</a></p>
</div>
<!-- ./wrap -->
</body>
</html>