<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- EPA Template version 3.2.2, 05 August 2010 -->
<head>
<title>Area Name | US EPA</title>
<meta name="DC.description" content="" />
<meta name="keywords" content="" />
<meta name="DC.title" content="" />
<meta name="DC.type" content="" />
<meta name="DC.Subject.epachannel" content="" />
<!-- For date metadata, use the format YYYY-MM-DD -->
<meta name="DC.date.modified" content="" />
<meta name="DC.date.created" content="" />
<meta name="DC.date.reviewed" content="" />
<meta name="DC.language" content="en" />
<meta name="DC.creator" content="" />
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css" media="screen">
@import 'http://www.epa.gov/epafiles/s/epa.css';
</style>
<style type="text/css" media="screen,print">
@import 'http://www.epa.gov/epafiles/s/aara.css';
</style>
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="http://www.epa.gov/epafiles/s/ie.css" /><![endif]-->
<link rel="stylesheet" type="text/css" media="print" href="http://www.epa.gov/epafiles/s/print.css" />
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/epa-core.js"></script>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/extra.js"></script>
</head>
<body id="aara">
<!--googleoff: index-->
<p class="skip"><a id="skiptop" href="#content" title="Jump to main content.">Jump to main content.</a></p>
<div id="header">
  <!-- START EPA HEADER -->
  <div id="logo"><a href="http://www.epa.gov/" title="United States Environmental Protection Agency home page."><img src="http://www.epa.gov/epafiles/images/logo_epaseal-aara.gif" alt="[logo] US EPA" title="United States Environmental Protection Agency" width="140" height="136" /></a></div>
  <div id="areaname">
    <!-- START AREA/REGION NAME -->
    <img id="banner" src="http://www.epa.gov/epafiles/images/aara_ban_image1.jpg" alt="Region X/Topic name" width="575" height="59" title="Region X/Topic Home Page" />
    <p>Area Name</p>
    <!-- START Regional/AA tagline -->
    <p id="tagline">Serving these states (don't forget!)...</p>
    <!-- END Regional/AA tagline -->
  </div>
  <!-- END AREA/REGION NAME -->
  <!-- START SEARCH CONTROLS -->
  <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
    <!-- START AREA SPECIFIC LINKS AND SEARCH BOX  -->
    <!-- CHANGE links to point to your own recent additions and contact pages -->
    <!-- REMOVE recent additions link if your area doesn't have one -->
    <p><a href="#">Recent Additions</a> | <a href="#">Contact Us</a> <span class="search"><strong>Search:</strong>
      <input name="querytext" id="searchbox" value="" />
      <input name="submit" id="searchbutton" type="submit" value="Go" />
      <input type="hidden" name="fld" value="" />
      <input type="hidden" name="areaname" value="" />
      <input type="hidden" name="areacontacts" value="" />
      <!-- AREA ADVANCED SEARCH URL HERE (OPTIONAL) -->
      <input type="hidden" name="areasearchurl" value="" />
      <!-- THE REMAINING HIDDEN INPUTS ARE USED BY THE SEARCH ENGINE - DO NOT EDIT -->
      <input type="hidden" name="result_template" value="epafiles_default.xsl" />
      <input type="hidden" name="filter" value="sample4filt.hts" />
      </span> </p>
  </form>
  <!-- END SEARCH CONTROLS -->
  <ul>
    <!-- BEGIN BREADCRUMBS -->
    <li class="first">You are here: <a href="http://www.epa.gov/">EPA Home</a></li>
    <!-- START AREA BREADCRUMBS -->
    <li>Area/Region Name</li>
    <!-- END AREA BREADCRUMBS -->
  </ul>
  <!-- END BREADCRUMBS -->
</div>
<!-- END EPA HEADER -->
<hr class="skip" />
<p class="skip"><a name="pagecontents" id="pagecontents"></a><a name="pagetop" id="pagetop"></a></p>
<div id="content">
  <!-- BEGIN CONTENT -->
  <!-- EPA SITE-WIDE ANNOUNCEMENTS - DO NOT REMOVE - this code is used for emergency messages -->
  <p id="sitewidea"></p>
  <!-- BEGIN CONTENT AREA -->
<!--googleon: index-->
  <table class="qfinder">
    <thead>
      <tr>
        <th colspan="4"><p>EPA Files Quick Finder</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="25%"><a href="../../index.html">EPA Files Home</a> <a href="../../s/index.html">CSS</a> <a href="../../Library">Code Library</a> <a href="http://yosemite.epa.gov/OEI/webguide.nsf/standards-guidance/look-feel#exemptions">Exemptions</a></td>
        <td width="25%"><a href="http://yosemite.epa.gov/OEI/webguide.nsf/standards-guidance/external-links">Exit EPA Disclaimer</a> <a href="../../gotchas.htm">Gotchas!</a> <a href="../../docs/specification.html">High-level Specifications</a></td>
        <td width="25%"><a href="../../s">Master Styles</a> <a href="../../outdatedpages.htm">Outdated Pages</a> <a href="../../docs/checklist.html">Quick Checklist</a> <a href="../../samples">Sample Pages</a></td>
        <td width="25%"><a href="http://yosemite.epa.gov/OEI/webguide.nsf/searchengine/codingsearch">Search Box</a> <a href="http://www.epa.gov/productreview/training/">Training</a> <a href="../../docs">Updating/Creating Web pages</a> <a href="../." class="more">More&hellip;</a></td>
      </tr>
    </tbody>
  </table>
  <h2>AA/RA Template Pages</h2>
  <ol>
    <li>This template is the AA/RA/Topic Homepage template. This template applies only to the home page of the AA/RA/Topic.</li>
    <li class="warning">If you downloaded this AA/RA template prior to 11/30/2006, please make the following change to your <acronym title="HyperText Markup Language" lang="en">HTML</acronym> code (around line 27):
      <ul>
        <li><code>&#60;style type="text/css" media="screen<strong style="color:#000;">,print</strong>"&#62;@import 'http://www.epa.gov/epafiles/s/aara.css';&#60;/style&#62;</code></li>
        <li>Edit the link to the aara.css file, not the link to epa.css</li>
      </ul>
    </li>
    <li>The banner in the lozenge is part of this template. Change the link to your banner.</li>
    <li>There is no page title on home pages.</li>
    <li><a href="../../s/qf.html">Quick Finder boxes</a> must follow the <em>look</em> of the EPA Web standard, but it doesn't matter <em>how</em> you create them.</li>
  </ol>
  <p><a href="../../index.html">Back to EPA Web Design main page</a>.</p>
<!--googleoff: index-->
  <!-- BEGIN AREA FOOTER - ADD text/links for area footer within this paragraph tag -->
  <p id="areafooter">If there is an Area footer, put it here.</p>
  <!-- END AREA FOOTER -->
</div>
<!-- END CONTENT -->
<hr class="skip" />
<div id="area-nav">
  <!-- BEGIN AREA MAIN NAVIGATION -->
  <h3 class="skip">Local Navigation</h3>
  <ul>
    <li><a href="#">Area Home</a></li>
    <li><a href="#">Basic Information</a></li>
    <li><a href="#">Where You Live</a></li>
    <li><a href="#">Part 4</a></li>
    <li><a href="#">Part 5</a>
      <ul>
        <li><a href="#">Sublist link</a></li>
        <li><a href="#">Sublist link</a></li>
      </ul>
    </li>
    <li><a href="#">Part 6</a></li>
    <li><a href="#">Part 7</a></li>
    <li><a href="http://www.epa.gov/kids/"><img src="http://www.epa.gov/epahome/pics/kids.gif" alt="EPA Environmental Kids Club" width="114" height="25" /></a></li>
  </ul>
</div>
<!-- END AREA MAIN NAVIGATION -->
<hr class="skip" />
<div id="footer">
  <!-- BEGIN FOOTER -->
  <ul id="globalfooter">
    <li><a href="http://www.epa.gov/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/epafiles/usenotice.htm">Privacy and Security Notice</a></li>
    <!-- CHANGE link to point to your own contact page -->
    <li class="last"><a href="#">Contact Us</a></li>
  </ul>
</div>
<!-- END FOOTER -->
<p class="skip"><a id="skipbot" href="#content" title="Jump to main content.">Jump to main content.</a></p>
</body>
</html>