<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<!-- EPA Template version 3.2.2, 05 August 2010 -->
<head>
<title>[Name of this page] | [Area name, in Spanish] | EPA en espa&#241;ol | US EPA</title>
<meta name="DC.description" content="" />
<meta name="keywords" content="" />
<meta name="DC.title" content="" />
<meta name="DC.type" content="" />
<meta name="DC.Subject.epachannel" content="" />
<!-- For date metadata, use the format YYYY-MM-DD -->
<meta name="DC.date.modified" content="" />
<meta name="DC.date.created" content="" />
<meta name="DC.date.reviewed" content="" />
<meta name="DC.language" content="sp" />
<meta name="DC.creator" content="" />
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css" media="screen">
@import 'http://www.epa.gov/epafiles/s/epa.css';
</style>
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="http://www.epa.gov/epafiles/s/ie.css" /><![endif]-->
<link rel="stylesheet" type="text/css" media="print" href="http://www.epa.gov/epafiles/s/print.css" />
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/epa-core-es.js"></script>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/extra.js"></script>
</head>
<body id="espanol">
<!--googleoff: index-->
<p class="skip"><a id="skiptop" href="#content" title="Jump to main content.">Saltar al contenido principal.</a></p>
<div id="header">
  <!-- START EPA HEADER -->
  <div id="logo"><a href="http://www.epa.gov/" title="US EPA home page"><img src="http://www.epa.gov/epafiles/images/logo_epaseal.gif" alt="[logo] US EPA" width="100" height="111" /></a></div>
  <div id="areaname">
    <!-- START AREA NAME -->
    <p>[Area Name, in Spanish]</p>
  </div>
  <!-- END AREA NAME -->
  <!-- START SEARCH CONTROLS -->
  <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
    <!-- START AREA SPECIFIC LINKS AND SEARCH BOX  -->
    <!-- CHANGE links to point to your own recent additions and contact pages -->
    <!-- REMOVE recent additions link if your area doesn't have one -->
    <p><a href="#">Adiciones recientes</a> | <a href="#">Cont&#225;ctenos</a> <span class="search"><strong>B&#250;squeda:</strong>
      <input name="querytext" id="searchbox" value="" />
      <input name="submit" id="searchbutton" type="submit" value="Buscar" />
      <input type="hidden" name="fld" value="" />
      <input type="hidden" name="areaname" value="" />
      <input type="hidden" name="areacontacts" value="" />
      <!-- AREA ADVANCED SEARCH URL HERE (OPTIONAL) -->
      <input type="hidden" name="areasearchurl" value="" />
      <!-- THE REMAINING HIDDEN INPUTS ARE USED BY THE SEARCH ENGINE - DO NOT EDIT -->
      <input type="hidden" name="result_template" value="epafiles_default.xsl" />
      <input type="hidden" name="filter" value="sample4filt.hts" />
      </span>
      <!-- Use this graphic only if there is an English-language version of this page.  
			Do not use this graphic to link to related information in English -->
      <a href="http://www.epa.gov"><img src="http://www.epa.gov/espanol/layout-files/language-english.gif" alt="versi&oacute;n ingl&eacute;s" width="55" height="18" /></a></p>
  </form>
  <!-- END SEARCH CONTROLS -->
  <ul>
    <!-- BEGIN BREADCRUMBS -->
    <li class="first">Est&#225;s aqu&#237;: <a href="http://www.epa.gov/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/espanol/">EPA en espa&#241;ol</a></li>
    <!-- START AREA BREADCRUMBS -->
    <li><a href="#">[Link to page for overarching area within epa.gov/espa&#241;ol/]</a></li>
    <li><a href="#">[Link to home page for your Spanish language area]</a></li>
    <li>Page Title</li>
    <!-- END AREA BREADCRUMBS -->
  </ul>
  <ul>
    <!-- BEGIN BREADCRUMBS -->
    <li class="first">Est&#225;s aqu&#237;: <a href="http://www.epa.gov/">EPA Home</a></li>
    <!-- START AREA BREADCRUMBS -->
    <li><a href="#">[Link to home page for English language area]</a></li>
    <li><a href="#">[Link to home page for your Spanish language area]</a></li>
    <li>Page Title</li>
    <!-- END AREA BREADCRUMBS -->
  </ul>
  <!-- END BREADCRUMBS -->
</div>
<!-- END EPA HEADER -->
<hr class="skip" />
<p class="skip"><a name="pagecontents" id="pagecontents"></a><a name="pagetop" id="pagetop"></a></p>
<div id="content">
  <!-- BEGIN CONTENT -->
  <!-- EPA SITE-WIDE ANNOUNCEMENTS - DO NOT REMOVE - this code is used for emergency messages -->
  <!-- If this page is a Sub-Office/Sub-Region/Center/Lab/Topic home page, CHANGE "sitewidec" TO "sitewideb" -->
  <p id="sitewidec"></p>
  <!-- BEGIN PAGE NAME -->
<!--googleon: index-->
  <h1>Page Name, in Spanish</h1>
  <!-- END PAGE NAME -->
  <!-- BEGIN CONTENT AREA -->
  <ol>
    <li><strong>Links to pages in English</strong> should either
      <ul>
        <li>use English link text. Note how the footer at the bottom of this page includes both Spanish and English link text. The English link text indicates links to pages in English. The bottom of the <a href="http://www.epa.gov/superfund/spanish/index.htm">Superfund en Español home page</a> provides an example of extensive use of English link text.<br />
          <br />
          <strong>OR</strong></li>
        <li>be followed by "(ingl&eacute;s)". Parts 5 and 11 in the sidebar at left provide examples.<br />
          <br />
          <strong>OR</strong></li>
        <li>be accompanied by the graphic <img src="http://www.epa.gov/espanol/layout-files/boton_eningles.gif" alt="Informaci&oacute;n en Ingl&eacute;s" width="71" height="16" /></a> located at <a href="http://www.epa.gov/espanol/layout-files/boton_eningles.gif">http://www.epa.gov/espanol/layout-files/boton_eningles.gif</a>. The alt text for this graphic should be "Informaci&oacute;n en ingl&eacute;s".</li>
      </ul>
    </li>
    <li><strong>External links</strong> should be accompanied by the graphic <a href="http://www.epa.gov/espanol/exit.htm"><img src="http://www.epa.gov/epafiles/images/exitepa-es.gif" width="87" height="13" alt="Salida y denegaci&oacute;n" /></a> located at <a href="http://www.epa.gov/epafiles/images/exitepa-es.gif">http://www.epa.gov/epafiles/images/exitepa-es.gif</a>. This graphic should link to <a href="http://www.epa.gov/espanol/exit.htm">http://www.epa.gov/espanol/exit.htm</a>. The alt text for this graphic should be "Salida y denegaci&oacute;n".</li>
    <li><strong>Links to PDF files</strong> should be accompanied by the graphic <a href="http://www.epa.gov/espanol/pdf.htm"> <img src="http://www.epa.gov/espanol/layout-files/pdf-icon-span.gif" alt="Disponible en formato PDF" width="108" height="18" /></a> located at <a href="http://www.epa.gov/espanol/layout-files/pdf-icon-span.gif">http://www.epa.gov/espanol/layout-files/pdf-icon-span.gif</a>. This graphic should link to <a href="http://www.epa.gov/espanol/pdf.htm">http://www.epa.gov/espanol/pdf.htm</a>. In addition, every link to a PDF file should provide the file size and number of pages.<br />
      <strong>Format for links to PDF files within epa.gov: </strong><br />
      <a href="http://www.epa.gov/">Link text</a> (<a href="http://www.epa.gov/espanol/pdf.htm"><img src="http://www.epa.gov/espanol/layout-files/pdf-icon-span.gif" alt="Disponible en formato PDF" width="108" height="18" /></a> xx KB, yy pp.)<br />
      <strong>Format for links to PDF files outside of epa.gov:</strong><br />
      <a href="http://www.epa.gov/">Link text</a> (<a href="http://www.epa.gov/espanol/pdf.htm"><img src="http://www.epa.gov/espanol/layout-files/pdf-icon-span.gif" alt="Disponible en formato PDF" width="108" height="18" /></a> xx KB, yy pp.) <a href="http://www.epa.gov/espanol/exit.htm"><img src="http://www.epa.gov/epafiles/images/exitepa-es.gif" width="87" height="13" alt="Salida y denegaci&oacute;n" /></a></li>
  </ol>
<!--googleoff: index-->
  <p id="areafooter">If there is an Area footer, put it here.</p>
  <!-- END AREA FOOTER -->
</div>
<!-- END CONTENT -->
<hr class="skip" />
<div id="area-nav">
  <!-- BEGIN AREA MAIN NAVIGATION -->
  <h3 class="skip">Local Navigation</h3>
  <ul>
    <li><a href="#">Area Home</a></li>
    <li><a href="#">Parte 2</a></li>
    <li><a href="#">Parte 3</a></li>
    <li><a href="#">Parte 4</a></li>
    <li><a href="#">Part 5 (ingl&#233;s)</a></li>
    <li><a href="#">Parte 6</a>
      <ul>
        <li><a href="#">Sublist link</a></li>
        <li><a href="#">Sublist link</a></li>
      </ul>
    </li>
    <li><a href="#">Parte 7</a></li>
    <li><a href="#">Part 8 (ingl&#233;s)</a></li>
  </ul>
</div>
<!-- END AREA MAIN NAVIGATION -->
<hr class="skip" />
<div id="footer">
  <!-- BEGIN FOOTER -->
  <ul id="globalfooter">
    <li><a href="http://www.epa.gov/espanol/index.htm">EPA en espa&#241;ol</a></li>
    <li><a href="http://www.epa.gov/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/epafiles/usenotice.htm">Notificaci&#243;n de Privacidad y Seguridad</a></li>
    <!-- CHANGE link to point to your own contact page -->
    <li class="last"><a href="#">Cont&#225;ctenos</a></li>
  </ul>
</div>
<!-- END FOOTER -->
<p class="skip"><a id="skipbot" href="#content" title="Jump to main content.">Saltar al contenido principal.</a></p>
</body>
</html>