<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/t4.dwt" codeOutsideHTMLIsLocked="false" -->
<!-- EPA Template, OneEPA Web, 17 November 2010 -->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Mercury | Web Design | US EPA</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="metaElements" -->
<meta name="DC.title" content="" />
<meta name="DC.description" content="These pages describe EPA's style guide for its web site. This page is a mockup." />
<meta name="Keywords" content="" />
<!-- InstanceEndEditable -->
<meta name="DC.type" content="" />
<meta name="DC.Subject.epachannel" content="" />
<meta name="DC.Subject.epabrm" content="" />
<meta name="DC.Subject.epacat" content="" />
<meta name="DC.Subject.epaect" content="" />
<meta name="DC.Subject.epaemt" content="" />
<meta name="DC.Subject.epahealth" content="" />
<meta name="DC.Subject.epaindustry" content="" />
<meta name="DC.Subject.epaopt" content="" />
<meta name="DC.Subject.epappt" content="" />
<meta name="DC.Subject.eparat" content="" />
<meta name="DC.Subject.eparegulation" content="" />
<meta name="DC.Subject.eparit" content="" />
<meta name="DC.Subject.epasubstance" content="" />
<meta name="DC.audience" content="" />
<meta name="DC.coverage" content="" />
<meta name="DC.date.created" content="" />
<meta name="DC.date.modified" content="" />
<meta name="DC.date.archivedate" content="" />
<meta name="DC.creator" content="US EPA" />
<meta name="DC.language" content="en" />
<meta name="viewport" content="width=device-width; initial-scale=1.0"/>

<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<!--RSS Feeds -->
<link rel="alternate" type="application/atom+xml" title="EPA.gov News" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSRecentNews" />
<link rel="alternate" type="application/atom+xml" title="EPA.gov Headquarters Press Releases" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSByLocation?open&location=Headquarters" />
<link rel="alternate" type="application/atom+xml" title="Greenversations, EPA's Blog" href="http://blog.epa.gov/blog/feed/" />

<!-- ALL PAGE STYLES BELOW THIS LINE -->
<link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/epa.css" />
<!--[if IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie7.css"/><![endif]-->
<!--[if lt IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie6.css"/><![endif]-->
<!-- InstanceBeginEditable name="styles" -->
<link href="http://www.epa.gov/hpfiles/SpryAssets/SpryAccordion.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="http://www.epa.gov/hpfiles/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" media="screen,projection" />
<style type="text/css" media="screen,handheld">
#AC_Progress{margin-bottom:15px}
.AccordionPanelTab h3{font-size:1em;margin:0}
.AccordionPanelContentContainer p{font-size:1em}
input.btnGo{background:#5499B9 url(http://www.epa.gov/hpfiles/images/btn_go.png) no-repeat;border:none;color:#fff; cursor:pointer;font-size:9px;height:20px;margin:0;overflow:auto;width:22px}
input.btnSubscribe{background:#5499B9 image:url(http://www.epa.gov/hpfiles/images/btn_subscribe.png) no-repeat;border:none;color:#fff;cursor:pointer;font-size:9px;height:20px;margin:0;overflow:auto;width:60px}
a.button{background:#fff url(http://www.epa.gov/hpfiles/images/button.gif) no-repeat scroll left center;border:none;height:24px;overflow:hidden;padding:5px 0 5px 7px}
a.button span{background:transparent url(http://www.epa.gov/hpfiles/images/button_end.gif) no-repeat scroll right center;border:none;color:#fff;overflow:hidden;padding:5px 7px 5px 0}
h3.head{color:#449439}
#my_env{padding:10px 14px;background: rgb(231, 239, 221) url(http://www.epa.gov/epahome/images/tabpanel_content_bgd.jpg) center bottom repeat-x;height: 160px;width: 98%;margin-bottom:15px}
#my_env p{margin-right:20px}
#pQuery{border: 1px solid rgb(177, 211, 230);margin: 0 4px 0 6px;padding: 2px 0 0;background:#fff;height: 16px}
#emailupdates{background:#D5E2EA url(http://www.epa.gov/hpfiles/images/bgd_accordion.jpg) center bottom repeat-x;height:150px;margin:0;overflow:auto;padding:10px 10px 0}
#clancy{backgroun:#D5E2EA url(http://www.epa.gov/hpfiles/images/bgd_accordion.jpg) center bottom repeat-x;padding:10px 10px 0}
</style>
<!-- InstanceEndEditable -->
<!-- InstanceParam name="bodyClass" type="text" value="tropo" -->
</head>
<body class="tropo">
<!--googleoff: index-->
<p id="sitewidec"></p>
<p class="skip">Jump to <a href="#main" title="Jump to main content">main content</a> or <a href="#areanav" title="Jump to area navigation.">area navigation</a>.</p>
<div id="header">
  <p><a href="/" title="US EPA Home Page"><img src="/epafiles/templates/webcms/css/i/print-epa-logo.gif" alt="US Environmental Protection Agency logo" /></a></p>
  <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
    <fieldset>
      <ol>
        <li id="azindex"><a href="/epahome/quickfinder.htm" title="Alphabetical list of top EPA topics">A-Z Index</a></li>
        <li><a href="/search.html">Advanced Search</a></li>
        <li>
          <fieldset id="search">
            <legend>What are you looking for?</legend>
            <input name="querytext" id="searchbox" value=""/>
            <button id="searchbutton" type="submit" title="Search"></button>
          </fieldset>
        </li>
      </ol>
      <input type="hidden" name="fld" value="" />
      <input type="hidden" name="areaname" value="" />
      <input type="hidden" name="areacontacts" value="" />
      <input type="hidden" name="areasearchurl" value="" />
      <input type="hidden" name="result_template" value="epafiles_default.xsl" />
      <input type="hidden" name="filter" value="sample4filt.hts" />
    </fieldset>
  </form><!-- /search -->
  <ul>
    <li id="learn"><a href="/gateway/learn/" title="Learn the Issues">Learn the Issues</a></li>
    <li id="scitech"><a href="/gateway/science/" title="Science and Technology">Science &amp; Technology</a></li>
    <li id="laws"><a href="/lawsregs/" title="Laws and Regulations">Laws &amp; Regulations</a></li>
    <li id="about"><a href="/aboutepa/" title="About EPA">About EPA</a></li>
  </ul><!-- /IA Buckets -->
</div><!-- /header -->
<div id="content">
  <div id="area">
    <p><a href="/epafiles/auxfiles/contactus.htm">Contact Us</a></p>
    <p>EPAFiles: Web Design</p>
  </div><!-- /area -->
  <div id="page">
    <div id="main">
      <ul id="breadcrumbs">
        <li class="first"><b>You are here:</b> <a href="/">EPA Home</a></li>
        <!-- InstanceBeginEditable name="breadcrumbs" -->
      <li><a href="http://www.epa.gov/epafiles/">EPA Web Design</a></li>
      <li>Mercury</li>
      <!-- InstanceEndEditable -->
      </ul>
<!--googleon: index-->
      <h1><!-- InstanceBeginEditable name="PageName" --><!-- InstanceEndEditable --></h1>
      <!-- InstanceBeginEditable name="content" -->
<div id="feature" style="height:200px">
	<a href="http://www.epa.gov/mercury/spills/index.htm#thermometer"><img src="../i/thermometer2-banner.jpg" alt="Learn what to do if a mercury thermometer breaks." width="700" height="200"  /></a>
    <a href="http://www.epa.gov/epawaste/hazard/wastetypes/universal/lamps/index.htm"><img src="../i/cfl-banner.jpg" alt="Compact fluorescent light bulbs, or CFLs, contain very small amounts of mercury.  Find out how to dispose of them properly." /></a>
    <a href="http://water.epa.gov/scitech/swguidance/fishshellfish/outreach/advice_index.cfm"><img src="../i/swordfish-banner.jpg" alt="Women and young children should avoid eating swordfish and other fish that contain high levels of mercury." /></a>
</div>
<table class="qfinder">
  <thead>
    <tr>
      <th colspan="3">Quick Finder</th>
      <th colspan="1"><!--<a href="#">A-Z Index</a> --></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://www.epa.gov/mercury/business.htm">Info for Businesses</a> <a href="http://www.epa.gov/camr/">Clean Air Mercury Rule</a> <a href="http://www.epa.gov/mercury/spills/index.htm">Cleaning Up Spills</a> <a href="http://www.epa.gov/mercury/stocks/index.htm">Commodity-Grade Mercury Stocks</a></td>
      <td><a href="http://www.epa.gov/mercury/consumerinfo.htm">Consumer Info</a> <a href="http://www.epa.gov/mercury/consumer.htm#den">Dental amalgam</a> <a href="http://www.epa.gov/epawaste/hazard/wastetypes/universal/drumtop/index.htm">Drum-Top Crusher Study</a> <a href="http://www.epa.gov/mercury/espanol.htm">Espa&ntilde;ol: Informaci&oacute;n sobre mercurio </a></td>
      <td><a href="http://www.epa.gov/mercury/healthcare.htm">Health Care Provider Info</a> <a href="http://www.epa.gov/mercury/parents.htm">Info for Parents</a> <a href="http://www.epa.gov/mercury/switch.htm">Vehicle Mercury Switch Recovery Program</a></td>
      <td><a href="http://www.epa.gov/mercury/report.htm">Report to Congress</a> <a href="http://www.epa.gov/mercury/schools.htm">Schools and Mercury</a> <a href="http://www.epa.gov/mercury/consumerinfo.htm#therm">Thermometers, Fever</a> <a href="http://www.epa.gov/mercury/healthcare.htm#thim">Thimerosal</a></td>
    </tr>
  </tbody>
</table>
<p class="warning">This page is strictly a mockup for design purposes.</p>
<div class="columns col2">
  <div class="column first">
    <p><img src="../i/obama.jpg" alt="Obama quote: Millions of the world's most vulnerable citizens ... are exposed to the harmful effects of mercury every day. " width="340" height="190" /></p>
    <!-- MyEnvironment Panel -->
    <div id="my_env">
      <h3 class="head">Mercury in My Environment</h3>
      <form id="myinfo" name="myinfo" action="http://www.epa.gov/myenvmap/find.html" method="get">
        <p>
          <label for="pQuery" style="font-weight: bold;">Location</label>
          <input name="pQuery" id="zipcode2" size="20" length="20" type="text" />
          <input class="btnGo" value="go" type="submit" />
        </p>
        <p>Enter a location such as address, ZIP, city, county, waterbody, park name, etc. (e.g., 22207, Arlington, VA or Potomac River) to find sources of mercury in your area. <a linkindex="23" href="http://www.epa.gov/myenvironment/howUsePage.html">Learn More</a> </p>
      </form>
    </div>
    <!-- // END of MyEnvironment Panel // -->
    <h3 class="head">Subscribe to Mercury Email Updates</h3>
    <div id="emailupdates">
      <p class="right"><a href="https://service.govdelivery.com/service/multi_subscribe.html?code=USAEPA&amp;login=Enter%20Email%20Address&amp;origin=http://www.epa.gov/"><img src="http://www.epa.gov/epahome/images/envelopeicon.jpg" alt="" width="52" height="35" align="right"/></a> </p>
      <form action="" name="govdelivery" id="govdelivery" onSubmit="quicksubscribe(); return false;">
        Subscribe to EPA updates by email&nbsp;
        <input type="text" id="Email" name="email" value="Enter Email Address" onFocus="this.value=''" style="border:thin solid #006600" />
        &nbsp;
        <input name="submit" type="submit" class="btnSubscribe"  value="Subscribe"/>
      </form>
      </p>
      <p style="clear:left">You will be able to select update topics on the next screen you see.</p>
    </div>
  </div>
  <div class="column last">
    <h3 class="head">Progress</h3>
    <!-- Progress Accordion -->
    <div id="AC_Progress" class="Accordion" tabindex="0">
      <div class="AccordionPanel">
        <div class="AccordionPanelTab">
          <h3>Slashing emissions from cement kilns</h3>
        </div>
        <div class="AccordionPanelContent" style="height:200px;">
          <div class="AccordionPanelContentContainer">
            <p>In April, EPA proposed a rule to establish, for the first time, new mercury emission limits on Portland cement kilns, which are the fourth largest source of mercury emissions in the U.S. Once fully implemented, U.S. annual mercury emissions will be reduced by 81 percent. The new rule is expected to save more than a thousand lives each year. </p>
            <p><a href="http://yosemite.epa.gov/opa/admpress.nsf/d0cf6618525a9efb85257359003fb69d/b91c90635d61e6e58525759f0075ab57!OpenDocument">Learn more about mercury emissions from cement kilns</a></p>
          </div>
        </div>
      </div>
      <div class="AccordionPanel">
        <div class="AccordionPanelTab">
          <h3>Reducing mercury pollution worldwide</h3>
        </div>
        <div class="AccordionPanelContent">
          <div class="AccordionPanelContentContainer">
            <p>EPA worked closely with State Department officials at the global environmental summit in Nairobi in February to pursue binding international agreements to lower mercury levels worldwide. The reversal in U.S. policy resulted in an agreement among 140 nations to negotiate binding international controls on global mercury emissions. </p>
            <p><a href="http://www.whitehouse.gov/administration/eop/ceq/press_releases/february_20_2009/">Learn more about efforts to reduce mercury pollution around the globe</a></p>
          </div>
        </div>
      </div>
      <div class="AccordionPanel">
        <div class="AccordionPanelTab">
          <h3>Mercury Export Ban of 2008</h3>
        </div>
        <div class="AccordionPanelContent">
          <div class="AccordionPanelContentContainer">
            <p>Introduced by Senator Barack Obama, and signed into law by President George W. Bush, the October 2008 legislation prohibits the transfer of elemental mercury by federal agencies, bans U.S. export of elemental mercury by 2013, and requires the Department of Energy to designate and manage an elemental mercury long-term disposal facility. </p>
            <p><a href="http://frwebgate.access.gpo.gov/cgi-bin/getdoc.cgi?dbname=110_cong_bills&docid=f:s906es.txt.pdf">Learn more about U.S. exports of mercury</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- // END of Progress Accordion // -->
    <!-- start of enviroq div -->
    <div id="enviroq">
      <h3 class="head">Test Your Mercury IQ</h3>
      <p>Mercury should be carefully cleaned up and disposed of when you</p>
      <form name="enviroQForm" id="enviroQForm">
        <table width="100%" border="0" cellpadding="0" cellspacing="2">
          <tbody>
            <tr>
              <td width="8%"><input id="a" type="radio" value="a" name="enviroQ" /></td>
              <td width="7%"><label for="a">a.&nbsp;</label></td>
              <td width="85%">visit the innermost planet</td>
            </tr>
            <tr>
              <td><input id="b" type="radio" value="b" name="enviroQ" /></td>
              <td><label for="b">b.&nbsp; </label></td>
              <td nowrap="nowrap">break a thermometer</td>
            </tr>
            <tr>
              <td><input id="c" type="radio" value="c" name="enviroQ" /></td>
              <td><label for="c">c.&nbsp;</label></td>
              <td>transmute lead into gold</td>
            </tr>
            <tr>
              <td><input id="d" type="radio" value="d" name="enviroQ" /></td>
              <td><label for="d">d.&nbsp;</label></td>
              <td>deliver messages quickly</td>
            </tr>
          </tbody>
        </table>
      </form>
      <p style="padding:10px 0;"> <a href="http://www.epa.gov/epahome/enviroq/index.htm#lungcancer" class="button"><span>Answer</span></a> <a href="http://www.epa.gov/epahome/enviroq/index.htm">See Previous Questions &gt;&gt;</a> </p>
    </div>
    <!-- end of enviroq div -->
  </div>
</div>
<!-- /col4 -->
<table class="qfinder area clear">
  <tbody>
    <tr>
      <td><a href="http://www.epa.gov/mercury/about.htm">Basic Information</a> <a href="http://www.epa.gov/mercury/whereyoulive.htm">Where You Live</a> <a href="http://publicaccess.custhelp.com/cgi-bin/publicaccess.cfg/php/enduser/std_alp.php?p_sid=Zj5eRnvi&amp;p_lva=&amp;p_li=&amp;p_accessibility=0&amp;p_redirect=&amp;p_page=1&amp;p_cv=&amp;p_pv=1.233&amp;p_prods=233&amp;p_cats=&amp;p_hidden_prods=&amp;prod_lvl1=233&amp;p_search_text=&amp;p_new_search=1">Frequent Questions</a> <a href="http://www.epa.gov/mercury/spills/index.htm">Spills, Disposal &amp; Cleanup</a> <a href="http://www.epa.gov/mercury/advisories.htm">Fish Consumption Advisories</a></td>
      <td><a href="http://www.epa.gov/mercury/roadmap.htm">EPA's Roadmap for Mercury</a> <a href="http://www.epa.gov/mercury/health.htm">Human Health</a> <a href="http://www.epa.gov/mercury/exposure.htm" style="margin-left:15px">Human Exposure</a> <a href="http://www.epa.gov/mercury/effects.htm" style="margin-left:15px">Health Effects</a> <a href="http://www.epa.gov/mercury/healthlinks.htm" style="margin-left:15px">Links &amp; Resources</a></td>
      <td><a href="http://www.epa.gov/mercury/control_emissions/index.htm">Power Plant  Emissions</a> <a href="http://www.epa.gov/mercury/eco.htm">Environmental  Effects</a> <a href="http://www.epa.gov/mercury/consumer.htm">Consumer Products</a> <a href="http://www.epa.gov/mercury/data.htm">Data &amp; Publications</a> <a href="http://www.epa.gov/mercury/grants.htm">Grants &amp; Funding</a></td>
      <td><a href="http://www.epa.gov/mercury/international.htm">International  Actions</a> <a href="http://www.epa.gov/mercury/regs.htm">Laws &amp; Regulations</a> <a href="http://www.epa.gov/mercury/science.htm">Science &amp; Technology</a> <a href="http://www.epa.gov/mercury/espanol.htm">En espa&ntilde;ol</a> <a href="http://www.epa.gov/mercury/sitemap.htm">Site Map</a> <a href="http://www.epa.gov/mercury/other.htm">Related Links</a></td>
    </tr>
  </tbody>
</table>
</div>
<!-- END CONTENT -->
<!-- /main -->
<div id="aside">
  <div class="boxmulti">
    <h5>Top Three Questions</h5>
    <ol>
      <li><a href="#content">How can I dispose of products that contain mercury?</a></li>
      <li><a href="#content">What are the biggest sources of mercury air emissions in the U.S.?</a></li>
      <li><a href="#content">Are there fish I should avoid eating because they contain mercury?</a></li>
    </ol>
    <p><a href="http://publicaccess.custhelp.com/cgi-bin/publicaccess.cfg/php/enduser/std_alp.php?p_sid=Zj5eRnvi&p_lva=&p_li=&p_accessibility=0&p_redirect=&p_page=1&p_cv=&p_pv=1.233&p_prods=233&p_cats=&p_hidden_prods=&prod_lvl1=233&p_search_text=&p_new_search=1
">More questions and answers about mercury</a></p>
  </div>
  <h3 class="head">Meet Clancy, the Mercury-Detecting Dog</h3>
  <div id="clancy">
    <p><a href="http://www.epa.gov/wastes/hazard/tsd/mercury/videos/hg-video.wmv"><img src="../i/clancy.jpg" alt="Clancy the dog says &quot;Keep your paws off mercury!&quot; " width="100" height="125" class="left" /></a>Clancy and the Minnesota Pollution Control Agency teamed up to teach students across the country about mercury and its dangers. <a href="http://www.epa.gov/wastes/hazard/tsd/mercury/videos/hg-video.wmv">Watch the video</a> (13 MB, 4.26 min, WMV)</p>
  </div>
  <!--end of clancy -->
  <hr />
  <h4><b>What EPA and Others Are Doing</b></h4>
  <ul>
    <li><a href="http://www.epa.gov/mercury/control_emissions/index.htm">Controlling Power Plant Emissions</a> </li>
    <li><a href="http://www.epa.gov/mercury/control_emissions/emissions.htm">Emissions Progress</a> </li>
    <li><a href="http://www.epa.gov/mercury/international.htm">International Actions</a> </li>
    <li><a href="http://www.epa.gov/mercury/regs.htm">Laws and Regulations</a> </li>
    <li><a href="http://www.epa.gov/mercury/other.htm">Related 
      Links</a> </li>
  </ul>
  <h4><b>Other Resources</b> <br />
  </h4>
  <ul>
    <li><a href="http://www.epa.gov/mercury/data.htm">Data and Publications</a> </li>
    <li><a href="http://www.epa.gov/mercury/grants.htm">Grants and Funding</a></li>
    <li><a href="http://www.epa.gov/mercury/science.htm">Science and Technology </a> </li>
    <li><a href="http://www.epa.gov/mercury/report.htm">The Mercury Study Report to Congress</a></li>
  </ul>
  <h4><b>About Mercury</b></h4>
  <ul>
    <li><a href="http://www.epa.gov/mercury/about.htm">Basic Information </a> </li>
    <li><a href="http://publicaccess.custhelp.com/cgi-bin/publicaccess.cfg/php/enduser/std_alp.php?p_lva=&amp;p_li=&amp;p_accessibility=0&amp;p_redirect=&amp;p_page=1&amp;p_cv=&amp;p_pv=1.233&amp;p_prods=233&amp;p_cats=&amp;p_hidden_prods=&amp;prod_lvl1=233&amp;p_search_text=&amp;p_new_search=1">Frequent Questions </a> </li>
    <li><a href="http://www.epa.gov/mercury/exposure.htm">Human Exposure</a> </li>
    <li><a href="http://www.epa.gov/mercury/effects.htm">Health Effects</a> </li>
    <li><a href="http://www.epa.gov/mercury/eco.htm">Environmental Effects</a> </li>
  </ul>
  <h4><b>Protecting Yourself</b><br />
  </h4>
  <ul>
    <li><a href="http://www.epa.gov/mercury/whereyoulive.htm">Where 
      You Live</a> </li>
    <li><a href="http://www.epa.gov/mercury/spills/index.htm">Spills, 
      Cleanup and 
      Disposal</a> </li>
    <li><a href="http://www.epa.gov/mercury/advisories.htm">Fish 
      Consumption 
      Advisories</a> </li>
    <li><a href="http://www.epa.gov/mercury/consumerinfo.htm">Consumer 
      Products</a></li>
  </ul>
</div><!-- /aside -->
    <!-- InstanceEndEditable -->
<!--googleoff: index-->
      <p id="areafooter">For help with your epa.gov web design, contact the <a href="/epafiles/auxfiles/contactus.html">Web Template Workgroup</a>.</p>
    </div><!-- /main -->
    <div id="areanav">
      <h4 class="skip">Area Navigation</h4>
      <ul>
        <li class="separator"><a href="/epafiles/">EPA Web Design Home</a><hr /></li>
        <li><a href="/epafiles/templates/">HTML Templates</a></li>
        <li><a href="/epafiles/#instrux">Updating &amp; Creating your Web Pages</a></li>
        <li><a href="/epafiles/s/">Styling your Content</a></li>
        <li><a href="http://yosemite.epa.gov/OEI/webguide.nsf/homepage">EPA Web Guide</a></li>
        <li><a href="http://yosemite.epa.gov/oei/webguide.nsf/standards-guidance">EPA Web Standards</a></li>
      </ul>
    </div><!-- /area-nav -->
  </div><!-- /page -->
</div><!-- /content -->
<div id="footer">
  <ul id="goodies">
    <li id="rss-news"><a href="/newsroom/rssfeeds.htm">News Feeds</a></li>
    <li id="podcasts"><a href="/epahome/podcasts.htm">Podcasts</a></li>
    <li id="mobile"><a href="http://m.epa.gov/">EPA Mobile</a></li>
    <li id="email-news"><a href="/newsroom/email_signups.htm">News by Email</a></li>
    <li id="widgets"><a href="/widgets/">Widgets</a></li>
  </ul>
  <ul id="globalfooter">
    <li><a href="/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/epahome/usenotice.htm">Privacy and Security Notice</a></li>
    <li class="last"><a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Contact Us</a></li>
  </ul>
  <p id="seal">The Seal of the United States Environmental Protection Agency</p>
</div><!-- /footer -->
<p class="skip"><a href="#content" title="Jump to main content.">Jump to main content.</a></p>
<script src="http://www.epa.gov/epafiles/js/third-party/jquery.js"></script>
<script src="http://www.epa.gov/epafiles/js/epa-core-v4.js"></script>
<!-- ALL SCRIPTS BELOW THIS LINE -->
<!-- InstanceBeginEditable name="scripts" -->
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/third-party/jquery.cycle.lite.min.js"></script>
<script type="text/javascript">
  $(function(){
    // Cycle the banner on TROPO pages
    $('body.tropo #feature').cycle({
      timeout: 8000,
      speed: 8000
    });
  });
</script>
    <!-- AJAX Accordions and Tabbed Panels -->
<script src="http://www.epa.gov/hpfiles/SpryAssets/SpryAccordion.js" type="text/javascript"></script>
<script src="http://www.epa.gov/hpfiles/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script type="text/javascript">
  var Accordion1 = new Spry.Widget.Accordion("AC_Progress", {useFixedPanelHeights: true});
</script>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>