<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/t4.dwt" codeOutsideHTMLIsLocked="false" -->
<!-- EPA Template, OneEPA Web, 17 November 2010 -->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Risk Management Research | Research &amp; Development | US EPA</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="metaElements" -->
<meta name="DC.title" content="" />
<meta name="DC.description" content="These pages describe EPA's style guide for its web site. This page is a mockup." />
<meta name="Keywords" content="" />
<!-- InstanceEndEditable -->
<meta name="DC.type" content="" />
<meta name="DC.Subject.epachannel" content="" />
<meta name="DC.Subject.epabrm" content="" />
<meta name="DC.Subject.epacat" content="" />
<meta name="DC.Subject.epaect" content="" />
<meta name="DC.Subject.epaemt" content="" />
<meta name="DC.Subject.epahealth" content="" />
<meta name="DC.Subject.epaindustry" content="" />
<meta name="DC.Subject.epaopt" content="" />
<meta name="DC.Subject.epappt" content="" />
<meta name="DC.Subject.eparat" content="" />
<meta name="DC.Subject.eparegulation" content="" />
<meta name="DC.Subject.eparit" content="" />
<meta name="DC.Subject.epasubstance" content="" />
<meta name="DC.audience" content="" />
<meta name="DC.coverage" content="" />
<meta name="DC.date.created" content="" />
<meta name="DC.date.modified" content="" />
<meta name="DC.date.archivedate" content="" />
<meta name="DC.creator" content="US EPA" />
<meta name="DC.language" content="en" />
<meta name="viewport" content="width=device-width; initial-scale=1.0"/>

<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<!--RSS Feeds -->
<link rel="alternate" type="application/atom+xml" title="EPA.gov News" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSRecentNews" />
<link rel="alternate" type="application/atom+xml" title="EPA.gov Headquarters Press Releases" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSByLocation?open&location=Headquarters" />
<link rel="alternate" type="application/atom+xml" title="Greenversations, EPA's Blog" href="http://blog.epa.gov/blog/feed/" />

<!-- ALL PAGE STYLES BELOW THIS LINE -->
<link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/epa.css" />
<!--[if IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie7.css"/><![endif]-->
<!--[if lt IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie6.css"/><![endif]-->
<!-- InstanceBeginEditable name="styles" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="bodyClass" type="text" value="tropo" -->
</head>
<body class="tropo">
<!--googleoff: index-->
<p id="sitewidec"></p>
<p class="skip">Jump to <a href="#main" title="Jump to main content">main content</a> or <a href="#areanav" title="Jump to area navigation.">area navigation</a>.</p>
<div id="header">
  <p><a href="/" title="US EPA Home Page"><img src="/epafiles/templates/webcms/css/i/print-epa-logo.gif" alt="US Environmental Protection Agency logo" /></a></p>
  <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
    <fieldset>
      <ol>
        <li id="azindex"><a href="/epahome/quickfinder.htm" title="Alphabetical list of top EPA topics">A-Z Index</a></li>
        <li><a href="/search.html">Advanced Search</a></li>
        <li>
          <fieldset id="search">
            <legend>What are you looking for?</legend>
            <input name="querytext" id="searchbox" value=""/>
            <button id="searchbutton" type="submit" title="Search"></button>
          </fieldset>
        </li>
      </ol>
      <input type="hidden" name="fld" value="" />
      <input type="hidden" name="areaname" value="" />
      <input type="hidden" name="areacontacts" value="" />
      <input type="hidden" name="areasearchurl" value="" />
      <input type="hidden" name="result_template" value="epafiles_default.xsl" />
      <input type="hidden" name="filter" value="sample4filt.hts" />
    </fieldset>
  </form><!-- /search -->
  <ul>
    <li id="learn"><a href="/gateway/learn/" title="Learn the Issues">Learn the Issues</a></li>
    <li id="scitech"><a href="/gateway/science/" title="Science and Technology">Science &amp; Technology</a></li>
    <li id="laws"><a href="/lawsregs/" title="Laws and Regulations">Laws &amp; Regulations</a></li>
    <li id="about"><a href="/aboutepa/" title="About EPA">About EPA</a></li>
  </ul><!-- /IA Buckets -->
</div><!-- /header -->
<div id="content">
  <div id="area">
    <p><a href="/epafiles/auxfiles/contactus.htm">Contact Us</a></p>
    <p>EPAFiles: Web Design</p>
  </div><!-- /area -->
  <div id="page">
    <div id="main">
      <ul id="breadcrumbs">
        <li class="first"><b>You are here:</b> <a href="/">EPA Home</a></li>
        <!-- InstanceBeginEditable name="breadcrumbs" -->
      <li><a href="http://www.epa.gov/epafiles/">EPA Web Design</a></li>
      <li>Risk Management Research</li>
      <!-- InstanceEndEditable -->
      </ul>
<!--googleon: index-->
      <h1><!-- InstanceBeginEditable name="PageName" --><!-- InstanceEndEditable --></h1>
      <!-- InstanceBeginEditable name="content" -->
      <p class="warning">This page is strictly a mockup for design purposes. Do not use it.</p>
      <div id="feature" style="height:82px;"> <a href="http://www.epa.gov/nrmrl/cleanairact.html"><img src="http://www.epa.gov/nrmrl/images/cleanairact2.jpg" width="700" alt="" /></a> <a href="http://www.epa.gov/nrmrl/news/032009/news032009.html"><img src="http://www.epa.gov/nrmrl/news/032009/main032009.jpg" width="700" alt="" /></a> <a href="http://www.epa.gov/nrmrl/news/012009/news012009.html"><img src="http://www.epa.gov/nrmrl/news/012009/main012009.jpg" width="700" alt="" /></a> <a href="http://www.epa.gov/nrmrl/news/news122008.html"><img src="http://www.epa.gov/nrmrl/images/main122008.jpg" width="700" alt="" /></a> </div>
      <table class="qfinder">
        <thead>
          <tr>
            <th colspan="3">Quick Finder</th>
            <th colspan="1"><a href="http://www.epa.gov/nrmrl/atoz.html">A-Z Index</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://www.epa.gov/nrmrl/wswrd/dw/arsenic/">Arsenic</a> <a href="http://www.epa.gov/nrmrl/std/cppb/">Clean Processes</a> <a href="http://www.epa.gov/nrmrl/wswrd/cr/index.html">Corrosion</a> <a href="http://www.epa.gov/appcdwww/empact/index.htm">Dioxins</a> <a href="http://www.epa.gov/eims/">Environmental Information Management System</a></td>
            <td><a href="http://www.epa.gov/emap/">Environmental Monitoring and Assessment Program</a> <a href="http://www.epa.gov/appcdwww/ecpb/index.htm">Emissions</a> <a href="http://www.epa.gov/nrmrl/EDC/">Endocrine-Disrupting Chemicals</a> <a href="http://www.epa.gov/nrmrl/tech/funding.html">Funding Opportunities</a> <a href="http://www.epa.gov/appcdwww/apb/greengas.htm">Greenhouse Gases</a> <a href="http://www.epa.gov/ada/index.html">Ground Water</a></td>
            <td><a href="http://www.epa.gov/nrmrl/std/mtb/index.html">Industrial Multimedia</a> <a href="http://www.epa.gov/nrmrl/lrpcd/index.html">Land Remediation</a> <a href="http://www.epa.gov/nrmrl/qa/index.html">Quality Assurance</a> <a href="http://www.epa.gov/nrmrl/lrpcd/esm/">Stressors</a> <a href="http://www.epa.gov/ORD/SITE/">Superfund</a></td>
            <td><a href="http://www.epa.gov/nrmrl/std/">Sustainability</a> <a href="http://www.epa.gov/etop/">Environmental Technology Opportunities Portal</a> <a href="http://www.epa.gov/nrmrl/tech/">Technology Transfer</a> <a href="http://www.epa.gov/ada/topics/vapor.html">Vapor Intrusion</a> <a href="http://www.epa.gov/ednnrmrl/researchtopics/wetweatherflow/index.htm">Wet-Weather Flow</a></td>
          </tr>
        </tbody>
      </table>
      <div class="box left" style="width:220px;">
        <h5>Research Programs</h5>
        <p><a href="http://www.epa.gov/appcdwww/index.html">Air</a><br />
          <a href="http://www.epa.gov/nrmrl/wswrd/index.html">Water</a><br />
          <a href="http://www.epa.gov/nrmrl/lrpcd/index.html">Land</a><br />
          <a href="http://www.epa.gov/ada/">Ecosystems</a><br />
          <a href="http://www.epa.gov/nrmrl/std/index.html">Sustainability</a><br />
          <a href="http://www.epa.gov/nrmrl/technology.html">Technology</a></p>
      </div>
      <div class="box left" style="width:220px;">
        <h5>NRMRL Updates</h5>
        <p>NRMRL provides a variety of newsfeeds for subscription.</p>
        <p><a class="left" href="http://www.epa.gov/nrmrl/podcast/RMRpodcast.xml"><img height="15" width="77" alt="Podcast" src="http://www.epa.gov/nrmrl/images/podcast.jpg"/></a> <a class="right" href="http://www.epa.gov/nrmrl/RSSRMRnews.xml"><img height="15" width="77" alt="RSS Feed" src="http://www.epa.gov/nrmrl/images/rssfeed.jpg"/></a></p>
        <p class="clear">You can also <a href="http://www.epa.gov/nrmrl/listserver.htm">subscribe</a> to NRMRL mail lists to receive e-mail notices of NRMRL news.</p>
      </div>
      <div class="box left" style="width:220px;">
        <h5>A-Z Subject Index</h5>
        <ul style="margin:10px 0 10px 10px; padding: 0;">
          <li style="list-style:none; margin:0; padding:0;">
            <form name="atozMenu" method="post" action="http://www.epa.gov/cgi-bin/redirect.pl">
              <select name="AtoZ" size="1" id="AtoZ">
                <option selected value="#">Choose One: </option>
                <option value="http://www.epa.gov/nrmrl/atoz.html">All</option>
                <option value="http://www.epa.gov/appcdwww/index.html">Air</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/dw/arsenic/">Arsenic</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/dw/arsenic/tech/">Arsenic Removal</option>
                <option value="http://www.epa.gov/nrmrl/std/mtb/p2tools/cape.htm">CAPE-OPEN</option>
                <option value="http://www.epa.gov/nrmrl/std/cppb/index.html">Clean Processes</option>
                <option value="http://www.epa.gov/nrmrl/nato/index.html">Clean Products</option>
                <option value="http://www.epa.gov/etv/center-ppc.html">Coatings...</option>
                <option value="http://www.epa.gov/nrmrl/std/mtb/csi.htm">Common Sense</option>
                <option value="http://www.epa.gov/nrmrl/std/mtb/p2tools/">Comp. Clusters</option>
                <option value="http://www.epa.gov/nrmrl/std/mtb/p2tools/cape.htm">Computer-Aided...</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/cr/index.html">Corrosion</option>
                <option value="http://www.epa.gov/ednnrmrl/researchtopics/wetweatherflow/index.htm">CSO</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/dw/dsr.html">Distribution Systems</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/dw/index.html">Drinking Water </option>
                <option value="http://www.epa.gov/ada/">Ecosystems</option>
                <option value="http://www.epa.gov/nrmrl/EDC/">EDCs</option>
                <option value="http://www.epa.gov/nrmrl/std/sab/e3/index.html">Engineering Economics&nbsp;</option>
                <option value="http://www.epa.gov/nrmrl/std/sab/eto/index.html">Eng. Trade-Offs</option>
                <option value="http://www.epa.gov/nrmrl/std/seb/research/eet.htm">Environmental Econ.</option>
                <option value="http://www.epa.gov/nrmrl/std/seb/research/sst.htm">Environmental Law</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/dw/epanet.html">EPANET</option>
                <option value="http://www.epa.gov/etv/este.html">ESTE</option>
                <option value="http://www.epa.gov/etv/etvcurrent.html">ETVoice</option>
                <option value="http://www.epa.gov/nrmrl/std/mtb/fuelcell/index.html">Fuel Cells</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/gis.htm">GIS</option>
                <option value="http://www.epa.gov/nrmrl/std/cppb/greenchem/index.html">Green Chemistry</option>
                <option value="http://www.epa.gov/climatechange/emissions/index.html">Greenhouse Gas</option>
                <option value="http://www.epa.gov/ada/index.html">Ground Water</option>
                <option value="http://www.epa.gov/nrmrl/std/seb/research/hlut.htm">Hydrology</option>
                <option value="http://www.epa.gov/nrmrl/std/sab/iam/index.html">Impact Assessment</option>
                <option value="http://www.epa.gov/ada/topics/invspec.html">Invasive Plants</option>
                <option value="http://www.epa.gov/nrmrl/lrpcd/index.html">Land</option>
                <option value="http://www.epa.gov/lead/">Lead Paint in Soil</option>
                <option value="http://www.epa.gov/nrmrl/std/sab/lca/index.html">Life Cycle Assessment</option>
                <option value="http://www.epa.gov/nrmrl/std/mtb/metal_finishing.htm">Metal Finishing</option>
                <option value="http://www.epa.gov/nrmrl/std/mtb/metalforming.htm">Metal Forming</option>
                <option value="http://www.epa.gov/nrmrl/std/cppb/metals/index.html">Metals Recovery</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/mcc.htm">Microbial Contam.</option>
                <option value="http://www.epa.gov/nrmrl/std/mtb/mwt/index.html">Mine Waste Tech.</option>
                <option value="http://www.epa.gov/mtbe/">MTBE</option>
                <option value="http://www.epa.gov/ada/topics/napl.html">NAPL Source Zones</option>
                <option value="http://www.epa.gov/ada/topics/mna.html">Natural Attenuation</option>
                <option value="http://www.epa.gov/nrmrl/RSSRMRnews.xml">News Feed </option>
                <option value="http://www.epa.gov/ada/topics/napl.html">Nonaqueous Liquids</option>
                <option value="http://www.epa.gov/oilspill/">Oil Spills</option>
                <option value="http://www.epa.gov/ada/topics/prb.html">Permeable Barriers</option>
                <option value="http://www.epa.gov/nrmrl/std/cppb/pervapor/index.html">Pervaporation</option>
                <option value="http://www.epa.gov/nrmrl/std/mtb/p2tools/">Pollution Prevention</option>
                <option value="http://www.epa.gov/nrmrl/qa/index.html">Quality Assurance </option>
                <option value="http://www.epa.gov/nrmrl/lrpcd/rr/">Remediation</option>
                <option value="http://www.epa.gov/nrmrl/std/sab/sd/index.html">Simulation and Design</option>
                <option value="http://www.epa.gov/ORD/SITE/">SITE</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/smallsys2.htm">Small Systems</option>
                <option value="http://www.epa.gov/nrmrl/lrpcd/ssm/">Soils and Sediments</option>
                <option value="http://www.epa.gov/nrmrl/std/mtb/paris.htm">Solvent Replacement</option>
                <option value="http://www.epa.gov/ednnrmrl/researchtopics/wetweatherflow/index.htm">SSO</option>
                <option value="http://www.epa.gov/ednnrmrl/models/swmm/index.htm">Storm Water Mgmt.</option>
                <option value="http://www.epa.gov/ada/topics/riparian.html">Stream Restoration</option>
                <option value="http://www.epa.gov/nrmrl/std/">Sustainability </option>
                <option value="http://www.epa.gov/nrmrl/std/sab/index.html">Systems Analysis</option>
                <option value="http://www.epa.gov/etv/este.html">Tech. Evaluation</option>
                <option value="http://www.epa.gov/etv/">Tech. Verification</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/tteb.htm">Treatment Eval.</option>
                <option value="http://www.epa.gov/ednnrmrl/">Urban Watershed</option>
                <option value="http://www.epa.gov/ada/topics/vapor.html">Vapor Intrusion</option>
                <option value="http://www.epa.gov/nrmrl/lrpcd/wm/">Waste Mgmt.</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/index.html">Water</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/wqm.htm">Water Quality</option>
                <option value="http://www.epa.gov/nrmrl/std/cppb/watershed/index.html">Watersheds</option>
                <option value="http://www.epa.gov/ednnrmrl/researchtopics/wetweatherflow/index.htm">Wet-Weather Flow</option>
                <option value="http://www.epa.gov/nrmrl/wswrd/wqm/wrap/">WRAP</option>
              </select>
              <input style="vertical-align:bottom;" src="http://www.epa.gov/nrmrl/images/go.gif" alt="Go" type="image"/>
            </form>
          </li>
        </ul>
        <h5>Facilities</h5>
        <ul style="margin:10px 0 10px 10px; padding: 0;">
          <li style="list-style:none; margin:0; padding:0;">
            <form name="facilitiesMenu" method="post" action="http://www.epa.gov/cgi-bin/redirect.pl">
              <select name="Facilities" size="1" id="Facilities">
                <option selected value="#">Choose One: </option>
                <option value="http://www.epa.gov/nrmrl/facilities.html">All</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#house">Air House</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#air">Air Pollution</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#bio">Biocontaminant Lab</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#andrew">Breidenbach Center</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#center">Center Hill</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#full">Full Containment</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#eco">Ecosystems</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#exper">Experimental Stream</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#rob">Kerr Center</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#mobile">Mobile Source</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#multi">Multipollutant</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#rtp">Research Triangle Park&nbsp;</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#test">Test and Evaluation</option>
                <option value="http://www.epa.gov/nrmrl/facilities.html#urban">Urban Watershed</option>
              </select>
              <input style="vertical-align:bottom;" src="http://www.epa.gov/nrmrl/images/go.gif" alt="Go" type="image"/>
            </form>
          </li>
        </ul>
      </div>
      <p class="clear"><b>Models, Methods, and Databases</b><br />
        Find out about NRMRL's treatability database and project inventories. <a href="http://www.epa.gov/nrmrl/nrmrldatabases.htm">Learn more</a></p>
      <table class="qfinder area">
        <tbody>
          <tr>
            <td><a href="http://www.epa.gov/nrmrl/about.html">Basic Information</a> <a href="http://www.epa.gov/nrmrl/research.html">Research Programs</a></td>
            <td><a href="http://www.epa.gov/nrmrl/atoz.html">A to Z Subject Index</a> <a href="http://www.epa.gov/nrmrl/organization.htm">Organization</a></td>
            <td><a href="http://www.epa.gov/nrmrl/facilities.html">Facilities</a> <a href="http://www.epa.gov/nrmrl/publications.html">Publications</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- END CONTENT -->
    <!-- /main -->
    <div id="aside">
      <div class="boxmulti">
        <h5>Top Three Questions/Tasks</h5>
        <ol>
          <li><a href="#">Where can I find ...?</a></li>
          <li><a href="#">What are ...?</a></li>
          <li><a href="#">What should I know about ...?</a></li>
        </ol>
        <p><a href="#">More Questions/Tasks</a></p>
      </div>
      <div class="box color2">
        <h5>Events</h5>
        <p><a href="http://www.epa.gov/nrmrl/events.html#100708">ETV and SBIR Program Regional Technology Workshop</a>,  EPA Region 2, October 7&ndash;8, 2008, New    York, NY</p>
        <p><a href="http://www.epa.gov/nrmrl/events/event08132009.pdf">First International Congress on Sustainability</a>, August 9-12, 2009, Cincinnati, OH</p>
        <p><a href="http://www.epa.gov/nrmrl/events.html">View all</a></p>
      </div>
      <div class="box color1">
        <h5>Make a Difference</h5>
        <p><a href="http://www.epa.gov/nrmrl/jobs/index.html">3 careers in Cincinnati, OH</a></p>
      </div>
      <p class="center"><a href="http://www.epa.gov/nrmrl/pubs/press/2008MedCenterGreenEfforts.pdf"><img src="http://www.epa.gov/nrmrl/images/medcentergreen.jpg" alt="Image: Green Building Metrics" width="186" height="73" border="0" align="top" /></a><a href="http://www.epa.gov/etv/index.html"></a></p>
      <p><a href="http://www.epa.gov/nrmrl/pubs/press/2008MedCenterGreenEfforts.pdf">News Release: College of Engineering, EPA Assist Medical Center with Green Building Metrics (PDF)</a> <span class="fileinfo">(2 pp, 48 K)</span></p>
    </div>
    <!-- /aside -->
    <!-- InstanceEndEditable -->
<!--googleoff: index-->
      <p id="areafooter">For help with your epa.gov web design, contact the <a href="/epafiles/auxfiles/contactus.html">Web Template Workgroup</a>.</p>
    </div><!-- /main -->
    <div id="areanav">
      <h4 class="skip">Area Navigation</h4>
      <ul>
        <li class="separator"><a href="/epafiles/">EPA Web Design Home</a><hr /></li>
        <li><a href="/epafiles/templates/">HTML Templates</a></li>
        <li><a href="/epafiles/#instrux">Updating &amp; Creating your Web Pages</a></li>
        <li><a href="/epafiles/s/">Styling your Content</a></li>
        <li><a href="http://yosemite.epa.gov/OEI/webguide.nsf/homepage">EPA Web Guide</a></li>
        <li><a href="http://yosemite.epa.gov/oei/webguide.nsf/standards-guidance">EPA Web Standards</a></li>
      </ul>
    </div><!-- /area-nav -->
  </div><!-- /page -->
</div><!-- /content -->
<div id="footer">
  <ul id="goodies">
    <li id="rss-news"><a href="/newsroom/rssfeeds.htm">News Feeds</a></li>
    <li id="podcasts"><a href="/epahome/podcasts.htm">Podcasts</a></li>
    <li id="mobile"><a href="http://m.epa.gov/">EPA Mobile</a></li>
    <li id="email-news"><a href="/newsroom/email_signups.htm">News by Email</a></li>
    <li id="widgets"><a href="/widgets/">Widgets</a></li>
  </ul>
  <ul id="globalfooter">
    <li><a href="/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/epahome/usenotice.htm">Privacy and Security Notice</a></li>
    <li class="last"><a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Contact Us</a></li>
  </ul>
  <p id="seal">The Seal of the United States Environmental Protection Agency</p>
</div><!-- /footer -->
<p class="skip"><a href="#content" title="Jump to main content.">Jump to main content.</a></p>
<script src="http://www.epa.gov/epafiles/js/third-party/jquery.js"></script>
<script src="http://www.epa.gov/epafiles/js/epa-core-v4.js"></script>
<!-- ALL SCRIPTS BELOW THIS LINE -->
<!-- InstanceBeginEditable name="scripts" -->
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/third-party/jquery.cycle.lite.min.js"></script>
<script type="text/javascript">
	$(function(){
		// Cycle the banner on TROPO pages
		$('body.tropo #feature').cycle();
	});
</script>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>