<!DOCTYPE html>
<html lang="en">
<!-- EPA Template version 4.1.1, 05 August 2010 -->
<head>
<meta charset="utf-8" />
<title>Region 5 | US EPA</title>
<meta name="DC.title" content="" />
<meta name="DC.description" content="These pages describe EPA's style guide for its web site." />
<meta name="keywords" content="" />
<meta name="DC.creator" content="US EPA, Office of Web Communications and Office of Environmental Information" />
<meta name="DC.type" content="" />
<meta name="DC.Subject.epachannel" content="" />
<meta name="DC.Subject.epacat" content="" />
<meta name="DC.Subject.epaect" content="" />
<meta name="DC.Subject.epaemt" content="" />
<meta name="DC.Subject.epahealth" content="" />
<meta name="DC.Subject.eparit" content="" />
<meta name="DC.Subject.eparat" content="" />
<meta name="DC.Subject.epaopt" content="" />
<meta name="DC.Subject.epappt" content="" />
<meta name="DC.Subject.epabrm" content="" />
<meta name="DC.Subject.eparegulation" content="" />
<meta name="DC.Subject.epasubstance" content="" />
<meta name="DC.Subject.epaindustry" content="" />
<meta name="DC.audience" content="" />
<meta name="DC.coverage" content="" />
<meta name="DC.date.created" content="" />
<meta name="DC.date.published" content="" />
<meta name="DC.date.modified" content="" />
<meta name="DC.date.reviewed" content="" />
<meta name="DC.date.archiveDate" content="" />
<meta name="DC.language" content="en" />

<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<link rel="stylesheet" type="text/css" href="http://www.epa.gov/epafiles/css/epa-core.css" />
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="http://www.epa.gov/epafiles/css/ie8.css"/><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="http://www.epa.gov/epafiles/css/ie7.css"/><![endif]-->
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="http://www.epa.gov/epafiles/css/ie6.css"/><![endif]-->
</head>
<body class="tropo">
<p id="sitewidea"></p>
<p class="skip">Jump to <a href="#main" title="Jump to main content">main content</a> or <a href="#areanav" title="Jump to area navigation.">area navigation</a>.</p>
<div id="header">
  <p><a href="http://www.epa.gov/" title="US EPA Home Page"><img src="http://www.epa.gov/epafiles/css/i/print-epa-logo.gif" alt="US Environmental Protection Agency logo" /></a></p>
  <dl>
    <dt>Languages</dt>
    <dd id="spanish"><a href="http://www.epa.gov/espanol/">Espa&ntilde;ol</a></dd>
    <dd id="trad_chinese"><a href="http://www.epa.gov/chinese/">&#20013;&#25991;: &#32321;&#39636;&#29256; Information in traditional Chinese</a></dd>
    <dd id="simple_chinese"><a href="http://www.epa.gov/chinese/simple/">&#20013;&#25991;:  &#31616;&#20307;&#29256; Information in simplified Chinese.</a></dd>
    <dd id="vietnamese"><a href="http://www.epa.gov/vietnamese/">Ti&#7871;ng Vi&#7879;t</a></dd>
    <dd id="korean"><a href="http://www.epa.gov/korean/">&#54620;&#44397;&#50612; Information in Korean.</a></dd>
  </dl>
  <!-- /languages -->
  <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
    <fieldset>
      <ol>
        <li><a href="http://www.epa.gov/search.html">Advanced Search</a></li>
        <li>
          <fieldset id="search">
            <legend>What are you looking for?</legend>
            <input name="querytext" id="searchbox" value=""/>
            <button id="searchbutton" type="submit" title="Search"></button>
          </fieldset>
        </li>
      </ol>
      <input type="hidden" name="fld" value="" />
      <input type="hidden" name="areaname" value="" />
      <input type="hidden" name="areacontacts" value="" />
      <input type="hidden" name="areasearchurl" value="" />
      <input type="hidden" name="result_template" value="epafiles_default.xsl" />
      <input type="hidden" name="filter" value="sample4filt.hts" />
    </fieldset>
  </form><!-- /search -->
  <ul>
    <li id="learn"><a href="http://www.epa.gov/epahome/learn.htm" title="Learn the Issues">Learn the Issues</a></li>
    <li id="scitech"><a href="http://www.epa.gov/epahome/scitech.htm" title="Science and Technology">Science &amp; Technology</a></li>
    <li id="laws"><a href="http://www.epa.gov/lawsregs/" title="Laws and Regulations">Laws &amp; Regulations</a></li>
    <li id="about"><a href="http://www.epa.gov/aboutepa/" title="About EPA">About EPA</a></li>
  </ul><!-- /IA Buckets -->
</div><!-- /header -->
<div id="content">
  <div id="area">
    <p><a href="http://www.epa.gov/region5/contact.htm">Contact Us</a></p>
    <p>Region 5</p>
    <p id="tagline">Serving Illinois, Indiana, Michigan, Minnesota, Ohio, Wisconsin and 35 Tribes</p>
  </div><!-- /area -->
  <div id="page">
    <ul id="breadcrumbs">
      <li class="first"><b>You are here:</b> <a href="http://www.epa.gov/">EPA Home</a></li>
      <li>Regional Office</li>
    </ul>
    <div id="main">
      <!-- BEGIN CONTENT -->
      <div id="feature" style="height:200px;"> <img src="../../images/banner01.jpg" alt="" /> <img src="../../images/banner02.jpg" alt="" /> <img src="../../images/banner03.jpg" alt="" /> <img src="../../images/banner04.jpg" alt="" /> </div>
      <p class="warning">This page is strictly a mockup for design purposes. Do not use it.</p>
      <table class="qfinder">
        <thead>
          <tr>
            <th colspan="3">Region 5 Quick Finder</th>
            <th colspan="1"><a href="http://www.epa.gov/region5/slowfinder.htm">A-Z Index</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="25%"><a href="http://www.epa.gov/region5/agriculture/" title="Agriculture">Agriculture</a> <a href="http://www.epa.gov/region5/air/" title="air">Air</a> <a href="http://www.epa.gov/R5Brownfields/" title="Brownfields">Brownfields</a> <a href="http://www.epa.gov/region5/cleanup/">Cleanup</a> <a href="http://www.epa.gov/region5/business/">Contracts &amp; Grants</a></td>
            <td width="25%"><a href="http://www.epa.gov/region5/enved/" title="environmental education">Education</a> <a href="http://www.epa.gov/region5/enforcement/index.htm" title="enforcement">Enforcement &amp; Compliance</a> <a href="http://www.epa.gov/region5/answers/foia/index.htm" title="FOIA">FOIA</a> <a href="http://www.epa.gov/region5/answers/questions.htm" title="Frequent Questions">Frequent Questions</a> <a href="http://www.epa.gov/grtlakes/" title="Great Lakes">Great Lakes</a></td>
            <td width="25%"><a href="http://www.epa.gov/reg5rcra/ptb/lead/">Lead</a> <a href="http://www.epa.gov/region5/pesticides/" title="Pesticides">Pesticides</a> <a href="http://www.epa.gov/reg5rcra/wptdiv/p2pages/index.htm" title="Pollution Prevention">Pollution Prevention</a> <a href="../../v4/publications/index.htm">Publications</a> <a href="http://www.epa.gov/region5/orc/" title="Regional Counsel">Regional Counsel</a></td>
            <td width="25%"><a href="http://www.epa.gov/region5/aboutr5/r5priorities.htm">Regional Priorities</a> <a href="http://www.epa.gov/region5/superfund/index.html" title="Superfund">Superfund</a> <a href="http://www.epa.gov/region5/waste/" title="Waste">Waste</a> <a href="http://www.epa.gov/region5/water/" title="Water">Water</a></td>
          </tr>
        </tbody>
      </table>
      <h3>Headlines</h3>
      <!--begin news release box -->
      <div id="feed"></div>
      <!--end news release box -->
      <p class="fileinfo"><a href="http://yosemite.epa.gov/opa/admpress.nsf/Press%20Releases%20From%20Region%205!OpenView">News Releases from Region 5</a> | <a href="http://service.govdelivery.com/service/subscribe.html?code=USAEPA_C18" onClick="window.open(this.href,'popup','width=725,height=500,left=25,top=25,location=no,resizable=yes,scrollbars=yes,status=yes');return false;" target="_blank">Get news releases by email <img src="http://www.epa.gov/epafiles/images/envelope.gif" alt="by email" width="30" height="16" /></a> or <a href="http://www.epa.gov/newsroom/rssfeeds.htm">RSS feed <img src="http://www.epa.gov/region5/images/rssb.gif" alt="rss icon" width="15" height="15" /></a> | <a href="../../v4/news/index.htm">Newsroom</a></p>
      <div class="imgcontainer-r" style="width:150px;"> <a href="http://www.earthhourus.org/chicago/chicago.php"><img src="http://www.earthhouramericas.org/content/toolkit_universal/Earth Hour Logo.jpg" alt="Earth Hour logo" width="150" height="150" /> Earth Hour Chicago - <br />
        8:30pm Saturday March 28, 2009</a><a href="http://www.epa.gov/epahome/exitepa.htm" title="EPA's External Link Disclaimer"><img src="http://www.epa.gov/epafiles/images/epafiles_misc_exitepadisc.gif" width="87" height="13" alt="Exit EPA Disclaimer" /></a></div>
      <h4><a href="http://www.epa.gov/air/grants_funding.html#0902">Community Action for a Renewed Environment (CARE) grants</a></h4>
      <p>Request for Proposals RFP# EPA-OAR-IO-09-02 <strong>Closing Date:	March 16, 2009</strong> <br />
        EPA plans to award approximately $3 million in grants.<br />
        <a href="mailto:millard.margaret@epa.gov">Margaret F. Millard</a> (millard.margaret@epa.gov) 312-353-1440 is the Region 5 CARE Program Manager.</p>
      <h4><a href="http://www.epa.gov/region5/solidwaste/funding.htm">Resource Conservation Challenge Program funding</a></h4>
      <p>2009 Solid Waste Management Assistance Funds<br />
        Request for proposals EPA- R5-LCD-2009 - <strong>Closing date: April 13, 2009</strong><br />
        EPA Region 5 is soliciting proposals that address the priorities of increasing recycling of municipal solid waste, construction and demolition debris, industrial materials in Region 5.</p>
      <h3><a href="http://www.epa.gov/region5/sites/index.htm">Cleanup Sites </a></h3>
      <h3 id="meetings"><a href="http://www.epa.gov/region5/meetings/index.htm">Meetings &amp; Conferences</a></h3>
      <ul>
        <li><a href="http://www.epa.gov/region5/tribes/gap.htm">2009 Region 5 GAP Conference, March 23-26 2009, Chicago</a></li>
      </ul>
      <h3 id="publiccomment"><a href="http://www.epa.gov/region5/publiccomment/index.htm">Public Comment Opportunities</a></h3>
      <ul>
        <li><a href="http://www.epa.gov/reg5rcra/wptdiv/permits/actions.htm#2009">Lubrizol Corporation proposed hazardous waste permit</a>, Painesville, OH	- February 6 - March 27, 2009</li>
        <li><a href="http://www.epa.gov/region5/water/uic/uicpub.htm">O.I.L. Energy Corp. Class I Injection Well Permit</a>, Traverse County, MI -  through  March 12, 2009</li>
      </ul>
      <h3><a href="http://www.epa.gov/region5/publicnotices/index.htm">Notices of proposed penalty orders or complaints for penalties</a></h3>
      <ul>
        <li> <a href="http://www.epa.gov/region5/publicnotices/index.htm">Micro Industries, Inc., Rock Falls, IL, CWA-05-2009-0003</a></li>
      </ul>
      <hr class="center" width="400" />
      <p class="center"><a href="http://www.epa.gov/region5/sitemap.htm">Site Map</a> | <a href="http://www.epa.gov/region5/hotline/">More reference resources</a> | <a href="http://www.epa.gov/region5/answers/index.htm#elsewhere">Top things you might <em>think</em> you'd find at EPA, but...</a></p>
      <!--div for bottom -->
      <div class="box left" style="width:338px;">
        <h5>Frequently Asked Questions (FAQs)</h5>
        <ol>
          <li><a href="../../v4/answers/questions.htm">Region 5 FAQs </a></li>
          <li><a href="http://publicaccess.custhelp.com/"><strong>General EPA FAQs</strong></a></li>
          <li><a href="http://energystar.custhelp.com/">Energy Star</a> and <a href="http://portfoliomanager.custhelp.com">Energy Star Portfolio Manager</a></li>
          <li><a href="http://epa-oee.custhelp.com/"> Environmental Education</a>
            <ol>
              <li><a href="http://epa-kids.custhelp.com/">Kids</a> (grades K-5)</li>
              <li><a href="http://epa-students.custhelp.com/">Students</a> (grades 6-8) </li>
              <li><a href="http://epa-highschool.custhelp.com/">High School</a> (grades 9-12) </li>
              <li><a href="http://epa-teachers.custhelp.com/">Teachers </a></li>
            </ol>
          </li>
          <li><a href="http://fuelsprograms.custhelp.com/">Fuels &amp; Fuel Additives</a></li>
          <li><a href="http://iaq.custhelp.com/">Indoor Air Quality</a></li>
          <li><a href="http://radiation.custhelp.com/">Radiation</a></li>
          <li><a href="http://safewater.custhelp.com/">Safe Drinking Water</a> (Ground Water and Drinking Water) </li>
          <li><a href="http://epa.custhelp.com/">Superfund</a> and <a href="http://epa-sites.custhelp.com/">Superfund information systems</a></li>
          <li><a href="http://tri.custhelp.com/">Toxics Release Inventory</a></li>
          <li><a href="http://waste.custhelp.com">Waste</a></li>
          <li><a href="http://www.epa.gov/epahome/faq.htm">Even more FAQs</a></li>
        </ol>
      </div>
      <div class="box left" style="width:338px;margin:10px 0 10px 10px;">
        <h5 id="newpubs">Publications </h5>
        <p>You will need Adobe Reader to view some of the files on this page. See <a href="http://www.epa.gov/epahome/pdf.html">EPA's PDF page</a> to learn more.</p>
        <ul>
          <li><a href="http://www.epa.gov/region5/publications/abcs2006-optimized.pdf">ABC's of Environmental Education (PDF)</a> <span class="fileinfo">(20 pp., 5.9 MB)</span> (EPA 905K06001) <span><ins datetime="2006-07-20">June 2006</ins></span></li>
          <li><a href="http://www.epa.gov/reg5rcra/wptdiv/solidwaste/TransfinalrptMay17.pdf">Transboundary Movement of Municipal Solid Waste Comprehensive Inspection Report (PDF)</a> (37 pp., 362 K) June 2006 </li>
          <li><a href="http://www.epa.gov/reg5rcra/wptdiv/solidwaste/tires/508%20guidebook/ScrapTireCleanupGuidebook_Jan-2006-508.pdf">Scrap Tire Cleanup Guidebook (PDF)</a> <span class="fileinfo">(44 pp., 7 MB)</span> (905-B-06-001) May 2006</li>
          <li><a href="http://www.epa.gov/region5/publications/happy/happy.htm"><i>Happy Earth Day Activity Book</i></a></li>
          <li><a href="http://www.epa.gov/region5/publications/index.htm">Other publications</a></li>
          <li><a href="http://www.epa.gov/teachers/order-publications.htm">Order EPA education materials</a></li>
        </ul>
      </div>
      <div> <a style="margin-left:10px;" href="http://www.epa.gov/compliance/complaints/index.html"><img src="http://www.epa.gov/region5/images/badge1-rev.gif" alt="Report Environmental Violations" width="85" height="83" /></a> <a href="http://www.epa.gov/epahome/violations.htm"><img src="http://www.epa.gov/epahome/images/emerge1.gif" alt="Emergencies: Report oil or chemical spills at 800-424-8802" width="94" height="79" /></a> <a href="http://www.epa.gov/fugitives/index.html"><img src="http://www.epa.gov/compliance/icons/fugitivesicon.gif" width="61" height="85" border="0" alt="See EPA Fugitives" /></a> </div>
      <table class="qfinder area">
        <tbody>
          <tr>
            <td><a href="http://www.epa.gov/region5/aboutr5/index.htm">About Region 5</a> <a href="http://www.epa.gov/region5/whereyoulive/index.htm">Where You Live</a></td>
            <td><a href="http://www.epa.gov/region5/news/index.htm">Newsroom</a> <a href="http://www.epa.gov/region5/answers/index.htm">Information Resources</a></td>
            <td><a href="http://www.epa.gov/region5/topics.htm">Programs &amp; Topics</a> <a href="http://www.epa.gov/region5/sitemap.htm">Sitemap</a></td>
          </tr>
        </tbody>
      </table>
    </div><!-- END CONTENT --><!-- /main -->
    <div id="aside"> <img class="region-map" src="../../images/R5-map.gif" height="200" width="220" alt="Map of Region 5: Illinois, Indiana, Michigan, Minnesota, Ohio, and Wisconsin" />
      <div class="boxmulti">
        <h5>Top Three Questions/Tasks</h5>
        <ol>
          <li><a href="#">Where can I find ...?</a></li>
          <li><a href="#">What are ...?</a></li>
          <li><a href="#">What should I know about ...?</a></li>
        </ol>
        <p><a href="#">More Questions/Tasks</a></p>
      </div>
      <div class="boxmulti">
        <h5>Contact Us Online</h5>
        <p><strong>Region 5 Environmental Hotline: 800-621-8431</strong> <br />
          8:15am - 4:45pm Central time<br />
          (312-886-2395 for callers outside IL, IN, MI, MN, OH, and WI)</p>
        <ul>
          <li><a href="http://www.epa.gov/cgi-bin/r5experts.cgi"><strong>Region 5 Experts List</strong></a></li>
          <li><a href="http://cfpub.epa.gov/locator/index.cfm">EPA Phone Directory</a></li>
          <li><a href="http://www.epa.gov/compliance/complaints/index.html">Report an environmental violation</a></li>
          <li><a href="http://www.epa.gov/region5/answers/foia/index.htm">FOIA requests</a> </li>
          <li><a href="http://www.epa.gov/region5/meetings/index.htm">Meetings</a></li>
          <li><a href="http://www.epa.gov/region5/publiccomment/index.htm">Public comment opportunities</a> </li>
          <li><a href="http://www.epa.gov/region5/publicnotices/index.htm">Public Notices</a> </li>
          <li><a href="http://www.epa.gov/region5/answers/r5comment.htm">General comments</a> </li>
          <li><a href="http://www.epa.gov/region5/answers/speakers/index.htm">Speakers bureau</a></li>
        </ul>
      </div>
      <div class="boxmulti">
        <h5 id="hot">Hot Topics</h5>
        <ul>
          <li><a href="http://www.epa.gov/waterscience/beaches/sanitarysurvey/">Great Lakes Beach Sanitary Survey Tool</a></li>
          <li><a href="http://www.epa.gov/reg5rcra/ptb/news/">EPA orders Scotts to stop selling certain pesticides</a> </li>
          <li><a href="http://www.epa.gov/region5/aboutr5/climatechange.htm">Region 5 Framework for Addressing Climate Change and Clean Energy</a><ins datetime="2008-02-19"></ins></li>
          <li><a href="http://www.epa.gov/region5/sites/dowchemical/index.htm">Tittabawassee River / Saginaw River / Saginaw Bay Cleanup</a><ins datetime="2007-11-27"></ins></li>
          <li><a href="http://www.epa.gov/bulbrecycling/region5.htm">Where to recycle mercury-containing bulbs </a></li>
          <li><a href="http://www.epa.gov/region5/illegaldumping/">Illegal dumping prevention </a></li>
          <li><a href="http://www.epa.gov/midwestcleandiesel/">Midwest Clean Diesel Initiative</a></li>
        </ul>
        <p class="center"><a href="http://www.epa.gov/airnow/index.html"><img src="http://www.epa.gov/region5/images/aqi_logo.gif" alt="Air Quality Index Website" width="100" height="67"/></a></p>
        <p><a href="http://www.mnrg.gov">Midwest Natural Resources Group</a></p>
      </div>
    </div><!-- /aside -->
    <div id="areanav">
      <h4 class="skip">Area Navigation</h4>
      <ul>
        <li><a href="http://www.epa.gov/region5/index.htm">Region 5 Home</a><hr /></li>
        <li><a href="http://www.epa.gov/region5/aboutr5/index.htm">About Region 5</a></li>
        <li><a href="http://www.epa.gov/region5/whereyoulive/index.htm">Where You Live</a></li>
        <li><a href="http://www.epa.gov/region5/news/index.htm">Newsroom</a></li>
        <li><a href="http://www.epa.gov/region5/answers/index.htm">Information Resources</a></li>
        <li><a href="http://www.epa.gov/region5/topics.htm">Programs &amp; Topics</a></li>
        <li><a href="http://www.epa.gov/region5/sitemap.htm">Sitemap</a></li>
        <li><a href="http://www.epa.gov/kids/"><img src="http://www.epa.gov/epahome/pics/kids.gif" alt="EPA Environmental Kids Club" width="114" height="25" /></a></li>
      </ul>
    </div><!-- /area-nav -->
  </div><!-- /page -->
</div><!-- /content -->
<div id="footer">
  <ul id="goodies">
    <li id="rss-news"><a href="http://www.epa.gov/newsroom/rssfeeds.htm">News Feeds</a></li>
    <li id="podcasts"><a href="http://www.epa.gov/epahome/podcasts.htm">Podcasts</a></li>
    <li id="mobile"><a href="http://m.epa.gov/">EPA Mobile</a></li>
    <li id="email-news"><a href="http://www.epa.gov/newsroom/email_signups.htm">News by Email</a></li>
    <li id="widgets"><a href="http://www.epa.gov/widgets/">Widgets</a></li>
    <li id="students"><a href="http://www.epa.gov/epahome/students.htm">Students</a></li>
  </ul>
  <ul id="globalfooter">
    <li><a href="http://www.epa.gov/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/epafiles/usenotice.htm">Privacy and Security Notice</a></li>
    <li class="last"><a href="http://www.epa.gov/region5/contact.htm">Contact Us</a></li>
  </ul>
</div><!-- /footer -->
<p class="skip"><a href="#content" title="Jump to main content.">Jump to main content.</a></p>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/third-party/jquery.js"></script>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/epa-core-v4.js"></script>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/third-party/jquery.cycle.lite.min.js"></script>
<script type="text/javascript">
	$(function(){
		// Cycle the banner on TROPO pages
		$('body.tropo #feature').cycle();
	});
</script>
<!--script one for google ajax feed api code -->
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAA2XUXKQaiTcKKeo4M3YYa8BQGRbsFGE-aaNdgeU7ikfbrlfph6xS5J1HaplVpB1wY7aoRN1UvyMZwAQ"></script>
<!-- script two for google ajax feed api code -->
<script type="text/javascript" src="http://www.epa.gov/region5/scripts/r5news-rss.js"></script>
</body>
</html>