<!DOCTYPE html>
<html lang="en">
<!-- EPA Template, OneEPA Web, 17 November 2010 -->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<title>US EPA Home Page | US Environmental Protection Agency</title>
<meta name="DC.description" content="" />
<meta name="keywords" content="" />
<meta name="DC.title" content="" />
<meta name="DC.Subject.epabrm" content="" />
<meta name="DC.type" content="" />
<meta name="DC.Subject.epachannel" content="" />
<meta name="DC.Subject.epacat" content="" />
<meta name="DC.Subject.epaect" content="" />
<meta name="DC.Subject.epaemt" content="" />
<meta name="DC.Subject.epahealth" content="" />
<meta name="DC.Subject.eparit" content="" />
<meta name="DC.Subject.eparat" content="" />
<meta name="DC.Subject.epaopt" content="" />
<meta name="DC.Subject.epappt" content="" />
<meta name="DC.Subject.eparegulation" content="" />
<meta name="DC.Subject.epasubstance" content="" />
<meta name="DC.Subject.epaindustry" content="" />
<meta name="DC.audience" content="" />
<meta name="DC.coverage" content="" />
<meta name="DC.date.created" content="2010-04-06" />
<meta name="DC.date.modified" content="2010-11-16" />
<meta name="DC.date.archivedate" content="" />
<meta name="DC.creator" content="US EPA" />
<meta name="DC.language" content="en" />

<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<link rel="alternate" type="application/atom+xml" title="EPA.gov News" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSRecentNews" />
<link rel="alternate" type="application/atom+xml" title="EPA.gov Headquarters Press Releases" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSByLocation?open&location=Headquarters" />
<link rel="alternate" type="application/atom+xml" title="Greenversations, EPA's Blog" href="http://blog.epa.gov/blog/feed/" />

<link rel="stylesheet" href="../../css/epa.css" />
<!--[if IE 7]><link rel="stylesheet" href="../css/ie7-ms.css"/><![endif]-->
<!--[if lt IE 7]><link rel="stylesheet" href="../css/ie6-ms.css"/><![endif]-->
<!-- ALL PAGE STYLES BELOW THIS LINE -->

</head>
<body class="ms">
<!--googleoff: index-->
<p class="skip">Jump to <a href="#content" title="Jump to main content">main content</a>.</p>
<div id="wrapper">
  <div id="header">
    <h1>U.S. Environmental Protection Agency</h1>
    <dl>
      <dt>Languages</dt>
      <dd id="mobile"><a href="http://m.epa.gov/" title="Information for Mobile Contexts">Mobile</a></dd>
      <dd id="spanish"><a href="http://www.epa.gov/espanol/" title="Information in Spanish">Espa&ntilde;ol</a></dd>
      <dd id="trad_chinese"><a href="http://www.epa.gov/chinese/" title="Information in traditional Chinese">&#20013;&#25991;: &#32321;&#39636;&#29256;</a></dd>
      <dd id="simple_chinese"><a href="http://www.epa.gov/chinese/simple/" title="Information in simplified Chinese">&#20013;&#25991;: &#31616;&#20307;&#29256;</a></dd>
      <dd id="vietnamese"><a href="http://www.epa.gov/vietnamese/" title="Information in Vietnamese">Ti&#7871;ng Vi&#7879;t</a></dd>
      <dd id="korean"><a href="http://www.epa.gov/korean/" title="Information in Korean">&#54620;&#44397;&#50612;</a></dd>
    </dl><!-- /languages -->
    <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
      <fieldset>
        <ol>
          <li id="azindex"><a href="http://www.epa.gov/epahome/quickfinder.htm" title="Alphabetical list of top EPA topics">A-Z Index</a></li>
          <li><a href="http://www.epa.gov/search.html" title="Advanced search with additional filters">Advanced Search</a></li>
          <li>
            <fieldset id="search">
              <legend>What are you looking for?</legend>
              <input name="querytext" id="searchbox" value=""/>
              <button id="searchbutton" type="submit" title="Search">Search</button>
            </fieldset>
          </li>
        </ol>
        <input type="hidden" name="fld" value="" />
        <input type="hidden" name="areaname" value="" />
        <input type="hidden" name="typeofsearch" value="epa" />
        <input type="hidden" name="areacontacts" value="http://www.epa.gov/epahome/comments.htm" />
        <input type="hidden" name="areasearchurl" value="" />
        <input type="hidden" name="result_template" value="epafiles_default.xsl" />
        <input type="hidden" name="filter" value="sample4filt.hts" />
      </fieldset>
    </form><!--/search-->
    <ul>
      <li id="learn"><a href="http://www.epa.gov/epahome/learn.htm" title="Learn the Issues">Learn the Issues</a></li>
      <li id="scitech"><a href="http://www.epa.gov/epahome/scitech.htm" title="Science and Technology">Science &amp; Technology</a></li>
      <li id="laws"><a href="http://www.epa.gov/lawsregs/" title="Laws and Regulations">Laws &amp; Regulations</a></li>
      <li id="news"><a href="http://www.epa.gov/newsroom/" title="EPA Newsroom"> Newsroom</a></li>
      <li id="about"><a href="http://www.epa.gov/aboutepa/" title="About EPA">About EPA</a></li>
    </ul><!-- /IA Buckets -->
  </div><!-- /header -->
  <div id="content">
<!--googleon: index-->
    <div id="headline" class="no_asides">
      <div id="banner">
        <div style="background:url('http://www.epa.gov/epahome/images/banner1.jpg') no-repeat">
          <div>
            <h2>America Recycles Day!</h2>
            <p>Proclamation and new task force focus on electronic waste.</p>
            <ul>
              <li><a href="http://yosemite.epa.gov/opa/admpress.nsf/bd4379a92ceceeac8525735900400c27/192cf047e7a1b56c852577dd005d4937!OpenDocument">Read the press release</a></li>
              <li><a href="http://www.whitehouse.gov/the-press-office/2010/11/15/presidential-proclamation-america-recycles-day">Read the Presidential Proclamation</a></li>
            </ul>
          </div>
          <a href="http://www.youtube.com/watch?v=6G6RjMHKpsg" style="cursor:pointer">
          <div style="position:absolute; background:none; top:158px; left:531px; width:249px; height:132px; border:none">&nbsp;</div>
          </a> </div>
        <div style="background:url('http://www.epa.gov/epahome/images/banner2.jpg') no-repeat; display:none">
          <div>
            <h2>Gulf Coast Ecosystem Task Force Holds First Meeting</h2>
            <p>Gulf Coast residents join Administrator Jackson to discuss the work of the Task Force: long term restoration of the Coast</p>
            <ul>
              <li><a href="http://yosemite.epa.gov/opa/admpress.nsf/e77fdd4f5afd88a3852576b3005a604f/82c6473ec2c22d0f852577d000662485!OpenDocument">Read the press release</a></li>
              <li><a href="http://www.restorethegulf.gov/">Learn more about the recovery</a></li>
            </ul>
          </div>
        </div>
        <div style="background:url('http://www.epa.gov/epahome/images/banner3.jpg') no-repeat; display:none">
          <div>
            <h2>EPA to Expand Chemicals Testing for Endocrine Disruption</h2>
            <p>EPA has the most comprehensive mandated testing program for hormone effects in the world.</p>
            <ul>
              <li><a href="http://yosemite.epa.gov/opa/admpress.nsf/bd4379a92ceceeac8525735900400c27/5f77e9903c4e2e48852577dd005bc7ce!OpenDocument">Read the press release</a></li>
              <li><a href="http://www.epa.gov/endo/">Learn more</a></li>
            </ul>
          </div>
        </div>
        <div style="background:url('http://www.epa.gov/epahome/images/banner4.jpg') no-repeat; display:none">
          <div>
            <h2>November is American Indian Heritage Month</h2>
            <ul>
              <li><a href="http://nativeamericanheritagemonth.gov/about/">Learn more about American Indian Heritage Month</a></li>
              <li><a href="http://www.whitehouse.gov/the-press-office/2010/10/29/presidential-proclamation-national-native-american-heritage-month">Read the Presidential Proclamation</a></li>
            </ul>
          </div>
        </div>
      </div><!--/banner-->
      <div id="aside"></div>
    </div><!--/headline-->
    <div id="main">
      <div class="columns" style="background:url('http://www.epa.gov/hpfiles/css/i/bg-column-1stnarrow.png')">
        <div class="column first narrow">
          <h3><a href="http://www.epa.gov/epahome/quickfinder.htm">Popular Topics</a></h3>
          <ul>
            <li><a href="http://www.epa.gov/air/">Air pollution</a></li>
            <li><a href="http://www.epa.gov/pesticides/bedbugs/">Bed bugs</a></li>
            <li><a href="http://www.epa.gov/climatechange/">Climate change</a></li>
            <li><a href="http://water.epa.gov/drink/">Drinking water</a></li>
            <li><a href="http://www.epa.gov/otaq/fuels.htm">Fuels</a></li>
            <li><a href="http://www.epa.gov/iaq/">Indoor air</a></li>
            <li><a href="http://www.epa.gov/kids/">Kids</a></li>
            <li><a href="http://www.epa.gov/lead/">Lead</a></li>
            <li><a href="http://www.epa.gov/mold/">Mold</a></li>
            <li><a href="http://www.epa.gov/pesticides/">Pesticides</a></li>
            <li><a href="http://www.epa.gov/radon/">Radon</a></li>
            <li><a href="http://www.epa.gov/recycle">Recycling</a></li>
            <li><a href="http://www.epa.gov/waste/">Waste</a></li>
            <li><a href="http://www.epa.gov/epahome/quickfinder.htm">A-Z Index</a></li>
          </ul>
          <hr />
          <h3><a href="http://www.epa.gov/epahome/resource.htm">More Resources</a></h3>
          <ul>
            <li><a href="http://www.epa.gov/epahome/recentadditions.htm">Recent additions</a></li>
            <li><a href="http://www.epa.gov/epahome/citizen.htm">Concerned citizens, other audiences</a></li>
          </ul>
        </div><!--/column first-->
        <div class="column ">
          <h3><a href="http://www.epa.gov/aboutepa/#regional">Info Where You Live</a></h3>
          <img alt="" height="185" name="usregionshq" src="http://www.epa.gov/epahome/images/us-regions245.gif" usemap="#m_usregionshq" width="245" /> <br>
          <map id="m_usregionshq" name="m_usregionshq">
            <area shape="poly" coords="227,93,233,94,238,97,241,100,244,118,244,130,211,130,210,118,213,100,217,96,226,93" href="http://www.epa.gov/region1/" title="Region 1: Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont" alt="Region 1: Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont" >
            <area shape="poly" coords="212,26,197,23,203,3,232,5,245,24,245,53,228,53,224,47,217,50,215,37,213,36" href="http://www.epa.gov/region1/" title="Region 1: Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont" alt="Region 1: Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont" >
            <area shape="poly" coords="191,48,194,41,206,28,212,26,213,37,215,37,217,51,224,47,227,55,236,55,236,165,134,165,134,140,189,140,189,166,236,165,236,60,226,60,214,64,211,58,214,56,212,52,213,50,210,50,209,46,191,50" href="http://www.epa.gov/region2/" title="Region 2: New Jersey, New York, Puerto Rico, US Virgin Islands" alt="Region 2: New Jersey, New York, Puerto Rico, US Virgin Islands" >
            <area shape="poly" coords="191,48,188,49,190,58,188,66,185,67,183,72,184,74,186,78,180,83,199,80,215,76,221,84,231,84,232,61,222,61,215,63,211,58,214,55,212,52,213,49,211,49,209,46,191,49" href="http://www.epa.gov/region3/" title="Region 3: Delaware, District of Columbia, Maryland, Pennsylvania, Virginia, West Virginia" alt="Region 3: Delaware, District of Columbia, Maryland, Pennsylvania, Virginia, West Virginia" >
            <area shape="poly" coords="182,72,174,69,173,73,171,72,168,76,160,78,159,81,157,82,159,83,155,86,150,93,152,96,148,101,147,109,149,112,147,121,154,120,157,123,205,147,211,137,207,118,215,76,197,80,180,83,186,78,185,74" href="http://www.epa.gov/region4/" title="Region 4: Alabama, Florida, Georgia, Kentucky, Mississippi, North Carolina, South Carolina, Tennessee " alt="Region 4: Alabama, Florida, Georgia, Kentucky, Mississippi, North Carolina, South Carolina, Tennessee " >
            <area shape="poly" coords="120,10,120,22,122,23,121,26,123,38,124,38,123,47,143,47,144,51,147,53,148,58,145,60,146,62,143,65,148,74,149,73,151,76,150,77,154,81,154,85,155,85,159,83,158,82,160,82,160,78,168,76,171,72,173,73,174,70,176,70,182,72,186,66,188,66,189,57,188,49,168,14" href="http://www.epa.gov/region5/" title="Region 5: Illinois, Indiana, Michigan, Minnesota, Ohio, Wisconsin" alt="Region 5: Illinois, Indiana, Michigan, Minnesota, Ohio, Wisconsin" >
            <area shape="poly" coords="110,148,118,149,120,140,160,129,153,120,146,121,148,114,149,112,147,108,148,102,152,95,151,93,153,90,149,90,152,88,130,87,130,85,98,85,64,82,58,115,78,128,90,132,103,137" href="http://www.epa.gov/region6/" title="Region 6: Arkansas, Louisiana, New Mexico, Oklahoma, Texas" alt="Region 6: Arkansas, Louisiana, New Mexico, Oklahoma, Texas" >
            <area shape="poly" coords="98,85,99,62,90,62,91,50,101,50,113,51,123,55,124,47,143,47,144,50,147,53,148,58,145,60,146,62,143,65,148,74,149,73,150,75,150,78,154,81,154,84,156,85,152,90,150,90,151,87,130,87,130,85" href="http://www.epa.gov/region7/" title="Region 7: Iowa, Kansas, Missouri, Nebraska" alt="Region 7: Iowa, Kansas, Missouri, Nebraska" >
            <area shape="poly" coords="48,6,45,18,48,25,49,25,49,26,48,28,48,31,49,31,53,37,58,38,60,39,58,53,46,50,41,79,64,82,97,84,99,62,90,61,92,50,112,51,123,54,123,47,123,38,122,37,121,28,121,23,119,21,120,19,119,10" href="http://www.epa.gov/region8/" title="Region 8: Colorado, Montana, North Dakota, South Dakota, Utah, Wyoming" alt="Region 8: Colorado, Montana, North Dakota, South Dakota, Utah, Wyoming" >
            <area shape="poly" coords="46,51,5,41,2,48,2,173,47,173,47,134,59,115,64,82,41,78" href="http://www.epa.gov/region9/" title="Region 9: Arizona, California, Hawaii, Nevada, Pacific Islands" alt="Region 9: Arizona, California, Hawaii, Nevada, Pacific Islands" >
            <area shape="poly" coords="1,1,22,2,48,5,45,18,47,25,48,25,49,26,47,28,47,30,49,31,53,37,60,39,58,53,0,40,0,184,131,184,131,150,51,150,51,184,0,184" href="http://www.epa.gov/region10/" title="Region 10: Alaska, Idaho, Oregon, Washington" alt="Region 10: Alaska, Idaho, Oregon, Washington" >
            <area alt="use larger map" shape="rect" coords="161,169,245,185" href="http://www.epa.gov/epahome/largeregionalmapHP.html" title="" class="outside" />
            </area>
          </map>
          <!--<a href="http://www.epa.gov/epahome/largeregionalmap.html"  rel="lyteframe" rev="width:495px; height:490px; scrolling:no">Larger map</a>.-->
          <p> <a href="http://www.epa.gov/indian/datamaps/index.htm">Find info about tribal areas</a> </p>
          <hr />
          <h3><a href="http://www.epa.gov/myenvironment/">MyEnvironment</a></h3>
          <form id="myenv" name="myinfo" action="http://www.epa.gov/myenvmap/find.html" method="get">
            <fieldset>
              <p> Enter a location such as an address, ZIP, city, or place name to get maps and environmental information in your location. </p>
              <input type="text" placeholder="your location" name="pQuery" id="zipcode2" />
              &nbsp;
              <button type="submit">go</button>
            </fieldset>
          </form>
          <ul id="moremyenv">
            <li style="margin-right:12px"><a href="http://www.epa.gov/epahome/commsearch.htm">More searches</a></li>
            <li style="margin-right:12px"><a href="http://www.epa.gov/datafinder/">Get data</a></li>
            <li style="margin-right:0px"><a href="http://m.epa.gov/apps/learn.html">Mobile</a></li>
          </ul>
          <hr />
          <div>
            <h3><a href="http://www.epa.gov/epahome/violations.htm">Report Spills</a></h3>
          </div>
          <div id="spillsbox"> <a href="http://www.epa.gov/epahome/violations.htm"><img src="http://www.epa.gov/epahome/images/alert_Yellow24.png" alt="Alert!" width="28" height="24" class="left" style="padding-top:8px" /></a>
            <ul>
              <li><a href="http://www.epa.gov/epahome/violations.htm">Report possible violations or spills other than BP oil spill.</a></li>
            </ul>
          </div>
        </div><!--/column narrow-->
        <div class="column">
          <h3><a href="http://www.epa.gov/newsroom/">Major Announcements</a></h3>
          <p style="margin-bottom:0"><strong>11/</strong><strong>4</strong> - <a href="http://yosemite.epa.gov/opa/admpress.nsf/d0cf6618525a9efb85257359003fb69d/15ff49b5b1e0c2f2852577d1004c79bc!OpenDocument">EPA Denies Petition that Sought a Ban on Lead in Fishing Gear</a></p>
          <p style="margin-bottom:0"><strong>11/3</strong> - <a href="http://yosemite.epa.gov/opa/admpress.nsf/d0cf6618525a9efb85257359003fb69d/a877dcd0291b1034852577d00057820c!OpenDocument">DOE and EPA Release 2011 Annual Fuel Economy Guide</a></p>
          <p style="margin-bottom:0"><strong>11/2</strong> - <a href="http://yosemite.epa.gov/opa/admpress.nsf/d0cf6618525a9efb85257359003fb69d/6c9fd50098b49b31852577cf004b8ca6!OpenDocument">EPA Fugitive Arrested in the Dominican Republic</a></p>
          <ul>
            <li> <a href="http://yosemite.epa.gov/opa/admpress.nsf/Press%20Releases%20By%20Date!OpenView">All  announcements</a> | <a href="http://twitter.com/epanews">News on Twitter</a></li>
            <li><a href="http://www.epa.gov/newsroom/#regions">All regional news releases</a></li>
          </ul>
          <hr  />
          <form action="https://service.govdelivery.com/service/subscribe.html" name="govdelivery" id="govdelivery" method="post">
            <fieldset>
              <legend> Sign up for email alerts </legend>
              <input type="hidden" name="code" value="USAEPA_388" />
              <input type="email" id="email" name="login" placeholder="enter email address" style="width:130px" value="Enter email address" />
              &nbsp;
              <button id="email-submit" type="submit">sign up</button>
            </fieldset>
            Finish sign up on next page.
          </form>
          <hr />
          <script src="http://www.epa.gov/epahome/scripts/dailygetinvolved.js"></script>
          <h3>
            <script>writethelink();</script>
            <noscript>
            Get Involved
            </noscript>
          </h3>
          <div id="getinvolved">
            <!-- daily -->
            <script>getHtml();</script>
            <noscript>
            <div id="getinvolvedleft">
              <p><a href="http://www.epa.gov/pick5"><img src="http://www.epa.gov/epahome/images/pick5-sign.jpg" width="110" height="70" alt="pick 5 for the environment" class="left" style="margin:.3em 1.5em 0 0" /></a></p>
              <ul style="clear:both">
                <li><a href="http://www.epa.gov/pick5">Get started</a><br>
                <li><a href="http://www.epa.gov/epahome/getinvolved.html">Get more</a></li>
              </ul>
            </div>
            <div id="getinvolvedright">
              <p><strong>Pick 5 for the Environment</strong><br />
                Choose five or more small actions that will add up to big differences.</p>
            </div>
            </noscript>
            <!-- daily -->
          </div>
        </div><!--/column-->
        <div class="column last up">
          <div id="admin">
            <h3><a href="http://blog.epa.gov/administrator/">Administrator<br />
              Lisa P. Jackson</a></h3>
            <ul>
              <li><a href="http://www.epa.gov/administrator/biography.htm">Biography</a></li>
              <li><a href="http://yosemite.epa.gov/opa/admpress.nsf/Calendars_1?OpenView&amp;RestrictToCategory=Lisa%20P.%20Jackson.%20Administrator,%20Environmental%20Protection%20Agency">Schedule</a></li>
              <li><a href="http://twitter.com/lisapjackson">Twitter</a></li>
              <li><a href="http://facebook.com/lisapjackson">Facebook</a></li>
            </ul>
          </div>
          <p>
            <script src="http://www.epa.gov/epahome/scripts/writePriorityText.js"></script>
            <noscript>
            Expanding the conversation on environmentalism and working for environmental justice
            </noscript>
            are among Administrator Jackson's priorities.  Learn more about all <a href="http://blog.epa.gov/administrator/2010/01/12/seven-priorities-for-epas-future/">seven priorities for EPA's future.</a>
          <hr />
          <h3><a href="http://www.epa.gov/careers/">Jobs at EPA</a></h3>
          <p><a href="http://www.epa.gov/careers/search.html">Current openings</a> | <a href="http://www.epa.gov/careers/benefits.html">Benefits</a> | <a href="http://www.epa.gov/careers/life.html">More </a></p>
          <hr />
          <p><a href="http://www.epa.gov/40th/"><img src="http://www.epa.gov/epahome/images/40th_logo-100510.png" alt="EPA @ 40, visit our site" width="246" height="78"></a></p>
        </div><!--/column last-->
      </div><!--/columns-->
    </div><!--/main-->
<!--googleoff: index-->
  </div><!--/content-->
  <div id="footer">
    <ul id="globallinks">
      <li><a href="http://www.epa.gov/epahome/comments3.htm">Contact Us</a></li>
      <li><a href="http://www.epa.gov/open/">Open Government</a></li>
      <li><a href="http://www.epa.gov/oig/">Inspector General</a></li>
      <li><a href="http://usa.gov/">USA.gov</a></li>
      <li><a href="http://www.epa.gov/performance/">Budget &amp; Performance</a></li>
      <li><a href="http://www.whitehouse.gov/">White House</a></li>
      <li><a href="http://www.epa.gov/epahome/faq.htm" title="Frequent Questions">FAQs</a></li>
      <li><a href="http://www.epa.gov/civilrights/nofearact.htm">No FEAR Act</a></li>
      <li><a href="http://regulations.gov/">Regulations.gov</a></li>
      <li><a href="http://www.epa.gov/recovery/">Recovery Act</a></li>
      <li><a href="http://www.epa.gov/foia/" title="Freedom of Information Act">FOIA requests</a></li>
      <li><a href="http://www.data.gov/">Data.gov</a></li>
      <li><a href="http://www.epa.gov/epahome/grants.htm">Grants</a></li>
      <li><a href="http://www.epa.gov/epahome/accessibility2.htm">Accessibility</a></li>
      <li><a href="http://recovery.gov/">Recovery.gov</a></li>
      <li><a href="http://www.epa.gov/epahome/contracts.htm">Contracting</a></li>
      <li><a href="http://www.epa.gov/epafiles/usenotice.htm">Privacy and Security</a></li>
    </ul>
    <ul id="goodies">
      <li id="widgets"><a href="http://www.epa.gov/widgets/" title="Widgets">Widgets</a></li>
      <li id="rss-news"><a href="http://www.epa.gov/newsroom/rssfeeds.htm" title="EPA News Feeds">News Feeds</a></li>
      <li id="podcasts"><a href="http://www.epa.gov/epahome/podcasts.htm" title="Podcasts">Podcasts</a></li>
      <li id="blog"><a href="http://blog.epa.gov/" title="EPA's Blog">EPA Blog, Greenversations</a></li>
      <li id="fb"><a href="http://www.facebook.com/EPA" title="Become a fan at Facebook">Facebook</a></li>
      <li id="yt"><a href="http://www.youtube.com/user/USEPAgov" title="Watch EPA Videos at YouTube">YouTube</a></li>
      <li id="tw"><a href="http://twitter.com/epagov" title="Follow us on Twitter">Twitter</a></li>
      <li id="fr"><a href="http://www.flickr.com/photos/usepagov" title="Browse our photos at Flickr">Flickr</a></li>
      <li id="more-socmed"><a href="http://www.epa.gov/epahome/socialmedia.html">More social media at EPA &raquo;</a></li>
    </ul>
    <p id="seal">The Seal of the United States Environmental Protection Agency</p>
  </div><!-- /footer -->
</div><!--/wrapper-->
<p class="skip"><a href="#content" title="Jump to main content.">Jump to main content.</a></p>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/third-party/jquery.js"></script>
<script type="text/javascript">
$(function(){
  //Search Autosuggest
  $("#searchbox").autocomplete("/autocomplete",{minChars:2,delay:200,matchSubset:false,selectFirst:false});
  $("#searchbox").result(function (event, data, formatted) {
    $('#EPAsearch').submit();
  });
  //Load the ForeSee ACSI Survey code
    var survey = '<script type="text/javascript" src="http://www.epa.gov/epafiles/js/third-party/foresee/foresee-trigger.js"><\/script>';
  $("body").append(survey);
    //Load the Sitewide message code    
	var sitewide = '<script type="text/javascript" src="http://www.epa.gov/epahome/notice.js"><\/script>';    
	$("body").append(sitewide);
});
</script>
<!-- ALL SCRIPTS BELOW THIS LINE -->
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/third-party/jquery.cycle.all.min.js"></script>
<script type="text/javascript">
 $(function(){
  // Cycle the banner
  $('#aside').after('<div id="nav" class="nav"></div>');
  $('#banner').cycle({
   fx:     'fade',
   speed:  1000,
   timeout: 5000,
   pager:  '#nav',
   autostop: true,
   autostopCount: 4
  });
  // Pause cycle on click
  $('.nav a').click(function(){ $('#banner').cycle('pause'); });
  // Get Email alerts form box
  $('#email').focus(function(){$(this).attr('value', '');})
  $('#govdelivery').submit(function(){
   window.open('', 'formpopup', 'width=725,height=500,left=25,top=25,location=yes,resizable=yes,scrollbars=yes,status=yes');
   this.target = 'formpopup';
  });
 });
</script>
<script type="text/javascript" src="http://www.epa.gov/epafiles/js/third-party/jquery.colorbox.min.js"></script>
<script type="text/javascript">
 $(function(){
 // Colorbox AJAX/iframe content (the video to the right)
  $(".outside").colorbox({width:"500px", height:"475px", iframe:true});
 });
</script>
<script type="text/javascript" src="http://s3.amazonaws.com/new.cetrk.com/pages/scripts/0005/9240.js"></script>
</body>
</html>