<!DOCTYPE html>
<html lang="en">
<!-- EPA Template, OneEPA Web, 17 November 2010 -->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<title>Resource Directory Basic Page, Two Columns | US Environmental Protection Agency</title>
<meta name="DC.description" content="" />
<meta name="keywords" content="" />
<meta name="DC.title" content="" />
<meta name="DC.type" content="" />
<meta name="DC.Subject.epachannel" content="" />
<meta name="DC.Subject.epabrm" content="" />
<meta name="DC.Subject.epacat" content="" />
<meta name="DC.Subject.epaect" content="" />
<meta name="DC.Subject.epaemt" content="" />
<meta name="DC.Subject.epahealth" content="" />
<meta name="DC.Subject.epaindustry" content="" />
<meta name="DC.Subject.epaopt" content="" />
<meta name="DC.Subject.epappt" content="" />
<meta name="DC.Subject.eparat" content="" />
<meta name="DC.Subject.eparegulation" content="" />
<meta name="DC.Subject.eparit" content="" />
<meta name="DC.Subject.epasubstance" content="" />
<meta name="DC.audience" content="" />
<meta name="DC.coverage" content="" />
<meta name="DC.date.created" content="" />
<meta name="DC.date.modified" content="" />
<meta name="DC.date.archivedate" content="" />
<meta name="DC.creator" content="US EPA" />
<meta name="DC.language" content="en" />
<meta name="viewport" content="width=device-width; initial-scale=1.0"/>

<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<!--RSS Feeds -->
<link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<link rel="alternate" type="application/atom+xml" title="EPA.gov News" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSRecentNews" />
<link rel="alternate" type="application/atom+xml" title="EPA.gov Headquarters Press Releases" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSByLocation?open&location=Headquarters" />
<link rel="alternate" type="application/atom+xml" title="Greenversations, EPA's Blog" href="http://blog.epa.gov/blog/feed/" />

<!-- ALL PAGE STYLES BELOW THIS LINE -->
<!--link rel="stylesheet" href="css/local.css" /-->
<link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/epa.css" />
<!--[if IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie7.css"/><![endif]-->
<!--[if lt IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie6.css"/><![endif]-->
</head>
<body class="rd">
<!--googleoff: index-->
<p id="sitewideb"></p>
<p class="skip">Jump to <a href="#main" title="Jump to main content">main content</a>.</p>
<div id="header">
  <p><a href="http://www.epa.gov/" title="US EPA Home Page"><img src="http://www.epa.gov/epafiles/css/i/print-epa-logo.gif" alt="US Environmental Protection Agency logo" /></a></p>
  <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
    <fieldset>
      <ol>
        <li id="azindex"><a href="http://www.epa.gov/epahome/quickfinder.htm" title="Alphabetical list of top EPA topics">A-Z Index</a></li>
        <li><a href="http://www.epa.gov/search.html" title="Advanced search with additional filters">Advanced Search</a></li>
        <li>
          <fieldset id="search">
            <legend>What are you looking for?</legend>
            <input name="querytext" id="searchbox" value=""/>
            <button id="searchbutton" type="submit" title="Search">Search</button>
          </fieldset>
        </li>
      </ol>
      <input type="hidden" name="fld" value="" />
      <input type="hidden" name="areaname" value="" />
      <input type="hidden" name="areacontacts" value="" />
      <input type="hidden" name="areasearchurl" value="" />
      <input type="hidden" name="typeofsearch" value="epa" />
      <input type="hidden" name="result_template" value="epafiles_default.xsl" />
      <input type="hidden" name="filter" value="sample4filt.hts" />
    </fieldset>
  </form><!-- /search -->
  <ul>
    <li id="learn"><a href="http://www.epa.gov/gateway/learn/" title="Learn the Issues">Learn the Issues</a></li>
    <li id="scitech"><a href="http://www.epa.gov/gateway/science/" title="Science and Technology">Science &amp; Technology</a></li>
    <li id="laws"><a href="http://www.epa.gov/lawsregs/" title="Laws and Regulations">Laws &amp; Regulations</a></li>
    <li id="about"><a href="http://www.epa.gov/aboutepa/" title="About EPA">About EPA</a></li>
  </ul><!-- /IA Buckets -->
</div><!-- /header -->
<div id="content" class="twocol">
  <div id="area">
    <p><a href="#">Contact Us</a></p>
    <p id="hublinks"><a href="#">Hub Link #1</a><a href="#">Hub Link #2</a></p>
  </div><!-- /area -->
  <div id="main">
<!--googleon: index-->
    <h1>{Page title goes here}</h1>
    <div id="section">
      <h2>Testing RD Basic Two Column Template</h2>
      <p>{Main column content goes here.}</p>
      <p>It's 700px wide.</p>
			<ul id="tabs">
				<li><a href="../s/tabs.html">Tabs</a></li>
				<li><a href="#">Hyperlink Two</a></li>
				<li><a href="#">Hyperlink Three</a></li>
				<li class="on"><a href="#">Hyperlink Four</a></li>
				<li><a href="#">Hyperlink Five</a></li>
				<li><a href="#">Hyperlink Six</a></li>
				<li><a href="#">Hyperlink Seven</a></li>
			</ul>
			<p>Showing you the look of the horizontal tabs. They go below the Page Title.</p>
            <p class="warning">This page is strictly a mockup for design purposes.</p>
			<p><ins datetime="2009-01-27">(Date: 2009-01-27) Lorem ipsum dolor sit amet</ins>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <sub>sub text</sub> ut labore et <sup>sup text</sup> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<hr />
			<p class="epaltsans"><code>epaltsans</code> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<ul>
				<li>Unordered list test</li>
				<li>Another list element. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li>Yet another element in the list</li>
				<li>Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<p class="pagetop"><a href="#content">Top of Page</a></p>
			<hr/>
			<div class="boxnat">
				<h5>National Information</h5>
				<p>If you like, you can use paragraphs.</p>
				<ul>
					<li>This box is the same as the first, excepting the header and bullet color</li>
				</ul>
				<p>sample text goes here! Lots more text can fill this space. sample text goes here! Lots more text can fill this space. sample text goes here! Lots more text can fill this space.</p>
			</div>
			<div class="boxalert clear">
				<h5>Alert!</h5>
				<ul>
					<li>Float right</li>
					<li>Width: fixed (218px)</li>
					<li>Red bullets</li>
				</ul>
			</div>
			<div class="box clear">
				<h5>Default Box</h5>
				<p>Regular text</p>
				<ul>
					<li>Unordered list</li>
					<li>Blue/green bullets</li>
				</ul>
				<ol>
					<li>Ordered list</li>
					<li>Numbers present</li>
				</ol>
			</div>
			<div class="box centered color1">
				<h5>Centered Box, color1</h5>
				<p>Regular text</p>
				<ul>
					<li>Unordered list</li>
					<li>Blue/green bullets</li>
				</ul>
				<ol>
					<li>Ordered list</li>
					<li>Numbers present</li>
				</ol>
			</div>
			<div class="box righted color2">
				<h5>Righted Box, color2</h5>
				<p>Regular text</p>
				<ul>
					<li>Unordered list</li>
					<li>Blue/green bullets</li>
				</ul>
				<ol>
					<li>Ordered list</li>
					<li>Numbers present</li>
				</ol>
			</div>
			<p class="pagetop"><a href="#content">Top of Page</a></p>
			<hr/>
			<ol>
				<li>Ordered list test</li>
				<li>Another list element</li>
				<li>Yet another element in the list</li>
			</ol>
			<ol>
				<li>Ordered list</li>
				<li>Here's a nested unordered list
					<ul>
						<li>Nested Unordered list</li>
						<li>Nested ordered list
							<ol>
								<li>The first</li>
								<li>And the second</li>
							</ol>
						</li>
					</ul>
				</li>
				<li>Ordered List item</li>
				<li>Nested Ordered list
					<ol>
						<li>Some point</li>
						<li>Nested Unordered list
							<ul>
								<li>The first</li>
								<li>And the second</li>
							</ul>
						</li>
					</ol>
				</li>
			</ol>
			<dl>
				<dt>definition list dt</dt>
				<dd>definition list dd</dd>
				<dt>definition list dt</dt>
				<dd>definition list dd</dd>
				<dt>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit</dd>
				<dt>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit</dd>
			</dl>
			<p class="pagetop"><a href="#content">Top of Page</a></p>
			<hr/>
			<h2>H2: Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit</h2>
			<h3>H3: Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit</h3>
			<h4>H4: Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit</h4>
			<h5>H5: Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit</h5>
			<h6>H6: Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit</h6>
			<h2>Heading 2</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h3>Heading 3</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h4>Heading 4</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h5>Heading 5</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h6>Heading 6</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p class="pagetop"><a href="#content">Top of Page</a></p>
			<hr/>
			<img class="imgcontainer-l" src="http://www.epa.gov/epafiles/images/playset.jpg" width="209" height="144" alt="playground" />
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<hr class="space" />
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="imgcontainer-r" style="width:209px">
				<img src="http://www.epa.gov/epafiles/images/playset.jpg" width="209" height="144" alt=""/>
				<p class="caption"><a href="http://www.epa.gov/heasd/sheds/cca_treated.htm">A Probabilistic Exposure Assessment ...</a>- EPA/600/X-05/009...</p>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p class="pagetop"><a href="#content">Top of Page</a></p>
			<hr/>
			<p> <strong>&lt;strong&gt;</strong>, <b>&lt;b&gt;</b><br />
				<del>&lt;del&gt; deleted</del><br />
				<dfn>&lt;dfn&gt; dfn</dfn><br />
				<em>&lt;em&gt; emphasis</em>, <i>&lt;i&gt;</i> </p>
			<p> <a>&lt;a&gt; anchor</a><br />
				<a href="http://www.google.com">&lt;a&gt; a + href</a><br />
				<a href="http://www.epa.gov/ost/">internal link</a> | <a href="alert.html">internal relative link</a> | <a href="http://usda.gov/">External gov link</a> | <a href="http://yahoo.com">External link</a> <a href="http://www.epa.gov/epahome/exitepa.htm" title="EPA's External Link Disclaimer"><img src="http://www.epa.gov/epafiles/images/epafiles_misc_exitepadisc.gif" width="87" height="13" alt="Exit EPA Disclaimer" /></a></p>
			<p><a class="nav home" href="#">Home</a><a class="nav prev" href="#">Prev</a><a class="nav next" href="#">Next</a><a class="nav end" href="#">End</a></p>
			<p> <abbr title="extended abbr text should show when mouse over">&lt;abbr&gt; abbr - extended text when mouseover.</abbr><br />
				<acronym title="extended acronym text should show when mouse over">&lt;acronym&gt; acronym - extended text when mouseover.</acronym> </p>
			<address>
			&lt;address&gt;<br />
			Donald Duck<br />
			Box 555<br />
			Disneyland
			</address>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore.</p>
			<p class="pagetop"><a href="#content">Top of Page</a></p>
			<hr/>
			<p>Archive icon changes.</p>
<!-- <epaold> -->
<!-- EPA Archive Policy Disclaimer v2.0 04/29/05 -->
			<p id="archive">Note: EPA no longer updates this information, but it may be useful as a reference or resource.</p>
<!-- </epaold> -->
			<p>A table (class="table") with caption, tr, td, thead and tbody elements</p>
			<table summary="This is the summary text for this table." class="table">
				<caption>Caption</caption>
				<thead>
					<tr>
						<th>Table Header One</th>
						<th>Table Header Two</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
				</tbody>
			</table>
			<p>A table (class="table zebra"; class="zebra" for striping) with caption, tr, td, thead and tbody elements</p>
			<table summary="This is the summary text for this table." class="table zebra">
				<caption>Caption</caption>
				<thead>
					<tr>
						<th>Table Header One</th>
						<th>Table Header Two</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
				</tbody>
			</table>
			<p>A table (class="tablebord zebra"; class="zebra" for striping) with caption, tr, td, thead and tbody elements</p>
			<table summary="This is the summary text for this table." class="tablebord zebra">
				<caption>Caption</caption>
				<thead>
					<tr>
						<th>Table Header One</th>
						<th>Table Header Two</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
					<tr>
						<td>TD One</td>
						<td>TD Two</td>
					</tr>
				</tbody>
			</table>
			<p class="pagetop"><a href="#content">Top of Page</a></p>
			<hr/>
			<pre>&lt;pre&gt;

pre  space1

pre  space1

pre    space2

pre    space2

pre	tab

pre	tab</pre>
			<code>&lt;code&gt;This code should be monospaced and wrap as if one line of text, even though the code has newlines, spaces, and tabs. Not indented
			
			indent1
			
			indent1
			
			indent2
			
			indent3</code> 
			<tt>&lt;tt&gt;
			
			This tt text should be monospaced
			
			and 
			
			wrap as if 
			
			one line of text
			
			even though the code has newlines, spaces, and tabs. 
			
			It should be the same size as &lt;p&gt; text. </tt>
			<p class="disclaimer">You will need Adobe Reader to view some of the files on this page. See <a href="http://www.epa.gov/epahome/pdf.html">EPA's PDF page</a> to learn more.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore.</p>
			<p class="pagetop"><a href="#content">Top of Page</a></p>
			<h2 id="columns">Testing Column Layouts</h2>
			<h3>Two Columns</h3>
			<div class="columns col2">
				<div class="column first">
					<p>Studies have shown that pharmaceuticals are present in our nation's waterbodies. Further research suggests that certain drugs may cause ecological harm. The EPA is committed to investigating this topic and developing strategies to help protect the health of both the environment and the public. To date, scientists have found no evidence of adverse human health effects from PPCPs in the environment.</p>
					<p>PPCPs have probably been present in water and the environment for as long as humans have been using them. The drugs that we take are not entirely absorbed by our bodies, and are excreted and passed into wastewater and surface water. With advances in technology that improved the ability to detect and quantify these chemicals, we can now begin to identify what effects, if any, these chemicals have on human and environmental health.</p>
				</div>
				<div class="column last">
					<p>This site is dedicated to the scientific issues associated with the occurrence of PPCPs in the environment.</p>
					<ul>
						<li><a href="#">Basic Information</a> - what are PPCPs and what is the environmental concern?</li>
						<li><a href="#">Frequent Questions</a> - frequent questions about PPCPs</li>
						<li><a href="#">EPA PPCP Research Areas</a> - brief descriptions of EPA PPCP research projects</li>
					</ul>
				</div>
			</div> <!-- /col2 -->
			<h3>Three Columns</h3>
			<div class="columns col3">
				<div class="column first">
					<p>Studies have shown that pharmaceuticals are present in our nation's waterbodies. Further research suggests that certain drugs may cause ecological harm. The EPA is committed to investigating this topic and developing strategies to help protect the health of both the environment and the public. To date, scientists have found no evidence of adverse human health effects from PPCPs in the environment.</p>
					<p>PPCPs have probably been present in water and the environment for as long as humans have been using them. The drugs that we take are not entirely absorbed by our bodies, and are excreted and passed into wastewater and surface water. With advances in technology that improved the ability to detect and quantify these chemicals, we can now begin to identify what effects, if any, these chemicals have on human and environmental health.</p>
				</div>
				<div class="column">
					<p>Studies have shown that pharmaceuticals are present in our nation's waterbodies. Further research suggests that certain drugs may cause ecological harm. The EPA is committed to investigating this topic and developing strategies to help protect the health of both the environment and the public. To date, scientists have found no evidence of adverse human health effects from PPCPs in the environment.</p>
					<p>PPCPs have probably been present in water and the environment for as long as humans have been using them. The drugs that we take are not entirely absorbed by our bodies, and are excreted and passed into wastewater and surface water. With advances in technology that improved the ability to detect and quantify these chemicals, we can now begin to identify what effects, if any, these chemicals have on human and environmental health.</p>
				</div>
				<div class="column last">
					<p>This site is dedicated to the scientific issues associated with the occurrence of PPCPs in the environment.</p>
					<ul>
						<li><a href="#">Basic Information</a> - what are PPCPs and what is the environmental concern?</li>
						<li><a href="#">Frequent Questions</a> - frequent questions about PPCPs</li>
						<li><a href="#">EPA PPCP Research Areas</a> - brief descriptions of EPA PPCP research projects</li>
					</ul>
				</div>
			</div> <!-- /col3 -->
			<h3>Four Columns</h3>
			<div class="columns col4">
				<div class="column first">
					<p>Studies have shown that pharmaceuticals are present in our nation's waterbodies. Further research suggests that certain drugs may cause ecological harm. The EPA is committed to investigating this topic and developing strategies to help protect the health of both the environment and the public. To date, scientists have found no evidence of adverse human health effects from PPCPs in the environment.</p>
					<p>PPCPs have probably been present in water and the environment for as long as humans have been using them. The drugs that we take are not entirely absorbed by our bodies, and are excreted and passed into wastewater and surface water. With advances in technology that improved the ability to detect and quantify these chemicals, we can now begin to identify what effects, if any, these chemicals have on human and environmental health.</p>
				</div>
				<div class="column">
					<p>Studies have shown that pharmaceuticals are present in our nation's waterbodies. Further research suggests that certain drugs may cause ecological harm. The EPA is committed to investigating this topic and developing strategies to help protect the health of both the environment and the public. To date, scientists have found no evidence of adverse human health effects from PPCPs in the environment.</p>
					<p>PPCPs have probably been present in water and the environment for as long as humans have been using them. The drugs that we take are not entirely absorbed by our bodies, and are excreted and passed into wastewater and surface water. With advances in technology that improved the ability to detect and quantify these chemicals, we can now begin to identify what effects, if any, these chemicals have on human and environmental health.</p>
				</div>
				<div class="column">
					<p>Studies have shown that pharmaceuticals are present in our nation's waterbodies. Further research suggests that certain drugs may cause ecological harm. The EPA is committed to investigating this topic and developing strategies to help protect the health of both the environment and the public. To date, scientists have found no evidence of adverse human health effects from PPCPs in the environment.</p>
					<p>PPCPs have probably been present in water and the environment for as long as humans have been using them. The drugs that we take are not entirely absorbed by our bodies, and are excreted and passed into wastewater and surface water. With advances in technology that improved the ability to detect and quantify these chemicals, we can now begin to identify what effects, if any, these chemicals have on human and environmental health.</p>
				</div>
				<div class="column last">
					<p>This site is dedicated to the scientific issues associated with the occurrence of PPCPs in the environment.</p>
					<ul>
						<li><a href="#">Basic Information</a> - what are PPCPs and what is the environmental concern?</li>
						<li><a href="#">Frequent Questions</a> - frequent questions about PPCPs</li>
						<li><a href="#">EPA PPCP Research Areas</a> - brief descriptions of EPA PPCP research projects</li>
					</ul>
				</div>
			</div> <!-- /col4 -->
			<p class="pagetop"><a href="#content">Top of Page</a></p>
    </div> <!-- /section -->
    <div id="aside">
       <p>{Side, secondary, content goes here.}</p>
       <p>It's 220px wide.</p>
    </div><!-- /aside -->
<!--googleoff: index-->
    <p id="areafooter">{Area footer goes here}</p>
  </div><!-- /main -->
</div><!-- /content -->
<div id="footer">
  <ul id="goodies">
    <li id="rss-news"><a href="http://www.epa.gov/newsroom/rssfeeds.htm">News Feeds</a></li>
    <li id="podcasts"><a href="http://www.epa.gov/epahome/podcasts.htm">Podcasts</a></li>
    <li id="mobile"><a href="http://m.epa.gov/">EPA Mobile</a></li>
    <li id="email-news"><a href="http://www.epa.gov/newsroom/email_signups.htm">News by Email</a></li>
    <li id="widgets"><a href="http://www.epa.gov/widgets/">Widgets</a></li>
  </ul>
  <ul id="globalfooter">
    <li><a href="http://www.epa.gov/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/epahome/usenotice.htm">Privacy and Security Notice</a></li>
    <li class="last"><a href="#">Contact Us</a></li>
  </ul>
  <p id="seal">The Seal of the United States Environmental Protection Agency</p>
</div><!-- /footer -->
<p class="skip"><a href="#content" title="Jump to main content.">Jump to main content.</a></p>
<script src="http://www.epa.gov/epafiles/js/third-party/jquery.js"></script>
<script src="http://www.epa.gov/epafiles/js/epa-core-v4.js"></script>
<!-- ALL SCRIPTS BELOW THIS LINE -->
</body>
</html>