<!DOCTYPE html>
<html lang="en">
<!--EPA Template, OneEPA Web, 17 November 2010 -->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <title>Resource Directory Home Page | US Environmental Protection Agency</title>
    <!-- Dc.description meta keyword -->
    <meta name="DC.description" content=""/>
    <meta name="keywords" content=" cfl, compact fluorescent, cfls,light bulbs,"/>
    <!-- Dc.Title meta keyword -->
    <meta name="DC.title" content="" />
    <meta name="DC.type" content="" />
    <meta name="DC.Subject.epachannel" content="" />
    <meta name="DC.Subject.epabrm" content="" />
    <meta name="DC.Subject.epacat" content="" />
    <meta name="DC.Subject.epaect" content="" />
    <meta name="DC.Subject.epaemt" content="" />
    <meta name="DC.Subject.epahealth" content="" />
    <meta name="DC.Subject.epaindustry" content="" />
    <meta name="DC.Subject.epaopt" content="" />
    <meta name="DC.Subject.epappt" content="" />
    <meta name="DC.Subject.eparat" content="" />
    <meta name="DC.Subject.eparegulation" content="" />
    <meta name="DC.Subject.eparit" content="" />
    <meta name="DC.Subject.epasubstance" content="" />
    <meta name="DC.audience" content="" />
    <meta name="DC.coverage" content="" />
    <!-- DC.creator meta keyword -->
    <meta name="DC.creator" content="US EPA"/>
    <meta name="DC.language" content="en"/>
    <!-- DC.date.created meta keyword -->
    <meta name="DC.date.created" content="YYYY-MM-DD" />
    <!-- DC.date.modified meta keyword -->
    <meta name="DC.date.modified" content="" />
    <!-- DC.date.reviewed meta keyword -->
    <meta name="DC.date.reviewed" content=""/>
    <!-- DC.date.archivedate meta keyword -->
    <meta name="DC.date.archivedate" content="" />

    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <!--RSS Feeds -->
    <link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
    <link rel="alternate" type="application/atom+xml" title="EPA.gov News" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSRecentNews" />
    <link rel="alternate" type="application/atom+xml" title="EPA.gov Headquarters Press Releases" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSByLocation?open&location=Headquarters" />
    <link rel="alternate" type="application/atom+xml" title="Greenversations, EPA's Blog" href="http://blog.epa.gov/blog/feed/" />

    <!-- ALL PAGE STYLES BELOW THIS LINE -->
    <link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/epa.css" />
    <!--[if IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie7.css"/><![endif]-->
    <!--[if lt IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie6.css"/><![endif]-->
  </head>
  <body class="rd">
    <!--googleoff: index-->
    <p id="sitewidea"></p>
    <p class="skip">Jump to <a href="#main" title="Jump to main content">main content</a>.</p>
    <div id="header" class="hp">
      <p><a href="http://www.epa.gov/" title="US EPA Home Page"><img src="http://www.epa.gov/epafiles/css/i/print-epa-logo.gif" alt="US Environmental Protection Agency logo" /></a></p>
      <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
        <fieldset>
          <ol>
            <li id="azindex"><a href="http://www.epa.gov/epahome/quickfinder.htm" title="Alphabetical list of top EPA topics">A-Z Index</a></li>
            <li><a href="http://www.epa.gov/search.html" title="Advanced search with additional filters">Advanced Search</a></li>
            <li>
              <fieldset id="search">
                <legend>What are you looking for?</legend>
                <input name="querytext" id="searchbox" value=""/>
                <button id="searchbutton" type="submit" title="Search">Search</button>
              </fieldset>
            </li>
          </ol>
          <input type="hidden" name="fld" value="" />
          <input type="hidden" name="areaname" value="" />
          <input type="hidden" name="areacontacts" value="" />
          <input type="hidden" name="areasearchurl" value="" />
          <input type="hidden" name="typeofsearch" value="epa" />
          <input type="hidden" name="result_template" value="epafiles_default.xsl" />
          <input type="hidden" name="filter" value="sample4filt.hts" />
        </fieldset>
      </form><!-- /search -->
      <ul>
        <li id="learn"><a href="http://www.epa.gov/gateway/learn/" title="Learn the Issues">Learn the Issues</a></li>
        <li id="scitech"><a href="http://www.epa.gov/gateway/science/" title="Science and Technology">Science &amp; Technology</a></li>
        <li id="laws"><a href="http://www.epa.gov/lawsregs/" title="Laws and Regulations">Laws &amp; Regulations</a></li>
        <li id="about"><a href="http://www.epa.gov/aboutepa/" title="About EPA">About EPA</a></li>
      </ul>  <!-- /IA Buckets -->
    </div><!-- /header -->
    <div id="content" class="hp">
      <div id="area">
          <p><a href="#">Contact Us</a></p>
      </div> 
      <div id="page">
        <div id="main">
          <!-- BEGIN CONTENT -->
          <!--googleon: index-->
          <h1>{Resource Directory Name goes here}</h1>
          <!-- END PAGE NAME -->
		  <p>Put an optional description of your site here. Use no more than 50 words.</p>
          <hr/>
          <div class="columns col2">
            <div class="column first">
              <h3>Headline of Section 1</h3>
              <p><a href="#"><img alt="alt for image 1" height="100" src="placeholder.jpg" width="325" title="title of image 1"/></a></p>
              <ul>
                <li><a href="#">A link for section 1</a></li>
              </ul>
            </div>
            <div class="column last">
              <h3>Headline of Section 2</h3>
              <p><a href="#"><img alt="alt for image 2" height="100" src="placeholder.jpg" width="325" title="title of image 2"/></a></p>
              <ul>
                <li><a href="#">Link text for section 2</a></li>
                <li><a href="#">link text for section 2</a></li>
              </ul>
            </div>
          </div>
          <div class="columns col2">
            <div class="column first">
              <h3>Headline of Section 3</h3>
              <p><a href="#"><img alt="alt for image 3" height="100" src="placeholder.jpg" width="325" title="title of image 3"/></a></p>
              <ul>
                <li><a href="#">A link for section 3</a></li>
              </ul>
            </div>
            <div class="column last">
              <h3>Headline of Section 4</h3>
              <p><a href="#"><img alt="alt for image 4" height="100" src="placeholder.jpg" width="325" title="title of image 4"/></a></p>
              <ul>
                <li><a href="#">Link text for section 4</a></li>
                <li><a href="#">link text for section 4</a></li>
              </ul>
            </div>
          </div>
          <div class="columns col2">
            <div class="column first">
              <h3>Headline of Section 5</h3>
              <p><a href="#"><img alt="alt for image 5" height="100" src="placeholder.jpg" width="325" title="title of image 5"/></a></p>
              <ul>
                <li><a href="#">A link for section 5</a></li>
              </ul>
            </div>
            <div class="column last">
              <h3>Headline of Section 6</h3>
              <p><a href="#"><img alt="alt for image 6" height="100" src="placeholder.jpg" width="325" title="title of image 6"/></a></p>
              <ul>
                <li><a href="#">Link text for section 6</a></li>
                <li><a href="#">link text for section 6</a></li>
              </ul>
            </div>
          </div> <!-- END columns -->
		  <h2>Additional Content</h2>
		  <p>You can have additional content below the images. You should have 1-6 sections (subtopics) of content and each section should have an accompanying image. For examples see:</p>
		  <ul>
		    <li><a href="http://www.epa.gov/cfl/">www.epa.gov/cfl/</a></li>
			<li><a href="http://www.epa.gov/safepestcontrol/">www.epa.gov/safepestcontrol</a></li>
		  </ul>
          <!-- BEGIN AREA FOOTER -->
          <p id="areafooter">Required footer: "Contact the {Name of RD} Web editor to ask a question, provide feedback, or report a problem.</p>
        </div>
        <div id="aside">
          <p>{Secondary content goes here}</p>
          <div class="boxmulti">
            <h5>Some Box</h5>
            <ul>
              <li>This sidebar is open-ended, but boxes have to follow the Box standard</li>
              <li>The goal is to get people to the content they want</li>
            </ul>
          </div>
          <div class="boxmulti">
            <h5>Some Box</h5>
            <ul>
              <li>This sidebar is open-ended, but boxes have to follow the Box standard</li>
              <li>The goal is to get people to the content they want</li>
            </ul>
          </div>
          <div class="boxmulti">
            <h5>Related Topics</h5>
            <ul>
              <li>An optional box, but when present, it is the last box in this secondary column</li>
              <li>The goal is to get people to the content they want</li>
            </ul>
          </div>
        </div><!-- /aside -->
      </div><!--/page-->
    </div><!-- END CONTENT --> 
    <!-- BEGIN FOOTER -->
    <div id="footer">
      <ul id="goodies">
        <li id="rss-news"><a href="http://www.epa.gov/newsroom/rssfeeds.htm">News Feeds</a></li>
        <li id="podcasts"><a href="http://www.epa.gov/epahome/podcasts.htm">Podcasts</a></li>
        <li id="mobile"><a href="http://m.epa.gov/">EPA Mobile</a></li>
        <li id="email-news"><a href="http://www.epa.gov/newsroom/email_signups.htm">News by Email</a></li>
        <li id="widgets"><a href="http://www.epa.gov/widgets/">Widgets</a></li>
      </ul>
      <ul id="globalfooter">
        <li><a href="http://www.epa.gov/">EPA Home</a></li>
        <li><a href="http://www.epa.gov/epahome/usenotice.htm">Privacy and Security Notice</a></li>
        <li class="last"><a href="#">Contact Us</a></li>
      </ul>
      <p id="seal">The Seal of the United States Environmental Protection Agency</p>
    </div><!-- /footer -->
    <p class="skip"><a href="#content" title="Jump to main content.">Jump to main content.</a></p>
    <script src="http://www.epa.gov/epafiles/js/third-party/jquery.js"></script>
    <script src="http://www.epa.gov/epafiles/js/epa-core-v4.js"></script>
    <!-- ALL SCRIPTS BELOW THIS LINE -->
  </body>
</html>
