<!DOCTYPE html>
<html lang="en">
<!-- EPA Template, OneEPA Web, 17 November 2010 -->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<title>Microsite Home Page, Two Columns | US Environmental Protection Agency</title>
<meta name="DC.description" content="" />
<meta name="keywords" content="" />
<meta name="DC.title" content="" />
<meta name="DC.type" content="" />
<meta name="DC.Subject.epachannel" content="" />
<meta name="DC.Subject.epabrm" content="" />
<meta name="DC.Subject.epacat" content="" />
<meta name="DC.Subject.epaect" content="" />
<meta name="DC.Subject.epaemt" content="" />
<meta name="DC.Subject.epahealth" content="" />
<meta name="DC.Subject.epaindustry" content="" />
<meta name="DC.Subject.epaopt" content="" />
<meta name="DC.Subject.epappt" content="" />
<meta name="DC.Subject.eparat" content="" />
<meta name="DC.Subject.eparegulation" content="" />
<meta name="DC.Subject.eparit" content="" />
<meta name="DC.Subject.epasubstance" content="" />
<meta name="DC.audience" content="" />
<meta name="DC.coverage" content="" />
<meta name="DC.date.created" content="" />
<meta name="DC.date.modified" content="" />
<meta name="DC.date.archivedate" content="" />
<meta name="DC.creator" content="US EPA" />
<meta name="DC.language" content="en" />
<meta name="viewport" content="width=device-width; initial-scale=1.0"/>

<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<!--RSS Feeds -->
<link rel="meta" href="http://www.epa.gov/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<link rel="alternate" type="application/atom+xml" title="EPA.gov News" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSRecentNews" />
<link rel="alternate" type="application/atom+xml" title="EPA.gov Headquarters Press Releases" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSByLocation?open&location=Headquarters" />
<link rel="alternate" type="application/atom+xml" title="Greenversations, EPA's Blog" href="http://blog.epa.gov/blog/feed/" />

<!-- ALL PAGE STYLES BELOW THIS LINE -->
<!--link rel="stylesheet" href="css/local.css" /-->
<link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/epa.css" />
<!--[if IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie7.css"/><![endif]-->
<!--[if lt IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie6.css"/><![endif]-->
</head>
<body class="ms">
<!--googleoff: index-->
<p id="sitewidea"></p>
<p class="skip">Jump to <a href="#content" title="Jump to main content">main content</a>.</p>
  <div id="header">
    <p><a href="http://www.epa.gov/" title="US EPA Home Page"><img src="http://www.epa.gov/epafiles/css/i/print-epa-logo.gif" alt="US Environmental Protection Agency logo" /></a></p>
    <dl>
      <dt>Languages</dt>
      <dd id="mobile"><a href="http://m.epa.gov/" title="Information for Mobile Contexts">Mobile</a></dd>
      <dd id="spanish"><a href="http://www.epa.gov/espanol/" title="Information in Spanish">Espa&ntilde;ol</a></dd>
      <dd id="trad_chinese"><a href="http://www.epa.gov/chinese/" title="Information in traditional Chinese">&#20013;&#25991;: &#32321;&#39636;&#29256;</a></dd>
      <dd id="simple_chinese"><a href="http://www.epa.gov/chinese/simple/" title="Information in simplified Chinese">&#20013;&#25991;: &#31616;&#20307;&#29256;</a></dd>
      <dd id="vietnamese"><a href="http://www.epa.gov/vietnamese/" title="Information in Vietnamese">Ti&#7871;ng Vi&#7879;t</a></dd>
      <dd id="korean"><a href="http://www.epa.gov/korean/" title="Information in Korean">&#54620;&#44397;&#50612;</a></dd>
    </dl><!-- /languages -->
    <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
      <fieldset>
        <ol>
          <li id="azindex"><a href="http://www.epa.gov/epahome/quickfinder.htm" title="Alphabetical list of top EPA topics">A-Z Index</a></li>
          <li><a href="http://www.epa.gov/search.html" title="Advanced search with additional filters">Advanced Search</a></li>
          <li>
            <fieldset id="search">
              <legend>What are you looking for?</legend>
              <input name="querytext" id="searchbox" value=""/>
              <button id="searchbutton" type="submit" title="Search">Search</button>
            </fieldset>
          </li>
        </ol>
        <input type="hidden" name="fld" value="" />
        <input type="hidden" name="areaname" value="" />
        <input type="hidden" name="areacontacts" value="" />
        <input type="hidden" name="areasearchurl" value="" />
        <input type="hidden" name="typeofsearch" value="epa" />
        <input type="hidden" name="result_template" value="epafiles_default.xsl" />
        <input type="hidden" name="filter" value="sample4filt.hts" />
      </fieldset>
    </form><!--/search-->
    <ul>
      <li id="learn"><a href="http://www.epa.gov/gateway/learn/" title="Learn the Issues">Learn the Issues</a></li>
      <li id="scitech"><a href="http://www.epa.gov/gateway/science/" title="Science and Technology">Science &amp; Technology</a></li>
      <li id="laws"><a href="http://www.epa.gov/lawsregs/" title="Laws and Regulations">Laws &amp; Regulations</a></li>
      <li id="about"><a href="http://www.epa.gov/aboutepa/" title="About EPA">About EPA</a></li>
    </ul><!-- /IA Buckets -->
  </div><!-- /header -->
  <div id="content">
    <div id="area">
      <p><a href="#">Contact Us</a></p>
      <p>{Area Name}</p>
    </div><!-- /area -->
<!--googleon: index-->
    <div id="headline">
      <div id="banner">
        <div style="background:url('http://www.epa.gov/epahome/images/banner1.jpg') no-repeat">
          <div>
            <h2>Banner Title</h2>
            <p>Banner Text. Add more banners by copying <code>&lt;div&gt;</code>s.</p>
            <ul>
              <li><a href="#">Linked Text</a></li>
              <li>Listed Text</li>
            </ul>
          </div>
        </div>
        <div style="background:url('http://www.epa.gov/epahome/images/banner2.jpg') no-repeat;display:none">
          <div>
            <h2>Banner Title #2</h2>
            <p>Banner Text.</p>
            <ul>
              <li><a href="#">Linked Text</a></li>
              <li>Listed Text</li>
            </ul>
          </div>
        </div>
      </div><!--/banner-->
      <div id="aside">
        <h3>"Aside" Box</h3>
        <p>This content will not rotate with banner.</p>
        <ul>
          <li><a href="#">Linked Text</a></li>
          <li>Listed Text</li>
        </ul>
      </div>
    </div><!--/headline-->
    <div id="main">
      <div class="columns two">
        <div class="column first">
          <p>This is the first column.</p>
        </div><!--/column first-->
        <div class="column last">
          <p>This is the last column.</p>
        </div><!--/column last-->
      </div><!--/columns-->
    </div><!--/main-->
<!--googleoff: index-->
  </div><!--/content-->
  <div id="footer">
    <ul id="goodies">
      <li id="rss-news"><a href="http://www.epa.gov/newsroom/rssfeeds.htm">News Feeds</a></li>
      <li id="podcasts"><a href="http://www.epa.gov/epahome/podcasts.htm">Podcasts</a></li>
      <li id="mobile"><a href="http://m.epa.gov/">EPA Mobile</a></li>
      <li id="email-news"><a href="http://www.epa.gov/newsroom/email_signups.htm">News by Email</a></li>
      <li id="widgets"><a href="http://www.epa.gov/widgets/">Widgets</a></li>
    </ul>
    <ul id="globalfooter">
      <li><a href="http://www.epa.gov/">EPA Home</a></li>
      <li><a href="http://www.epa.gov/epahome/usenotice.htm">Privacy and Security Notice</a></li>
      <li class="last"><a href="#">Contact Us</a></li>
    </ul>
    <p id="seal">The Seal of the United States Environmental Protection Agency</p>
  </div><!-- /footer -->
<p class="skip"><a href="#content" title="Jump to main content.">Jump to main content.</a></p>
<script src="http://www.epa.gov/epafiles/js/third-party/jquery.js"></script>
<script src="http://www.epa.gov/epafiles/js/epa-core-v4.js"></script>
<!-- ALL SCRIPTS BELOW THIS LINE -->
<script src="http://www.epa.gov/epafiles/js/third-party/jquery.cycle.all.min.js"></script>
<script type="text/javascript">
 $(function(){
  // Cycle the banner
  $('#aside').after('<div id="nav" class="nav"></div>');
  $('#banner').cycle({
     fx:     'fade',
     speed:  1000,
     timeout: 5000,
     pager:  '#nav',
     autostop: true,
     autostopCount: 4
  });
  // Pause cycle on click
  $('.nav a').click(function(){ $('#banner').cycle('pause'); });
 });
</script>
</body>
</html>