<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>WebCMS Templates</title>
</head>
<body>
<h1>Templates</h1>
<ul>
  <li>Microsite Home Pages (micro-site template)
    <ul>
      <li><a href="home-ms.html">MS Home page, four columns, different width</a></li>
      <li><a href="home-ms-4cols.html">MS HP, four columns, equal widths</a></li>
      <li><a href="home-ms-3cols.html">MS HP, three columns, differing width</a></li>
      <li><a href="home-ms-2cols.html">MS HP, two column, different widths</a></li>
      <li><a href="home-ms-1col.html">MS HP, one column</a></li>
    </ul>
  </li>
  <li>Spanish Microsite Home Page (Micro-site-es template)</li>
    <ul>
      <li><a href="home-es.html">Espan&otilde;l HP</a></li>
    </ul>
  </li>
  <li>Resource Directory Pages
    <ul>
      <li><a href="home-rd.html">RD Home page</a> (rdtropo template)</li>
      <li><a href="basic-rd.html">RD Basic (inner)</a> (rdbasic template)</li>
      <li><a href="basic-rd-twocol.html">RD Basic (inner), two columns</a> (rdColumns template)</li>
    </ul>
  </li>
  <li>All other inner pages (MS and channel)
    <ul>
      <li><a href="basic.html">Basic, one column</a> (110-basic template)</li>
      <li><a href="basic-twocol.html">Basic, two columns</a> (210-basic two column template)</li>
      <li><a href="basic-wide.html">Basic, wide</a> (120-basic-sidebarless template)</li>
      <li><a href="basic-sidebarless.html">Basic, sidebarless (but not wide)</a> (is not a template.  Add a local style to areanav to create.)</li>
      <li><a href="basic-es.html">Basic, Espan&otilde;l</a> (110_es_basic template)</li>
    </ul>
  </li>
</ul>
<h2>Microsites use:</h2>
<ul>
  <li>microsite template for homepage</li>
  <li>110-basic for interior pages</li>
  <li>2 column and sidebarless as needed</li>
  <li>note: don't use 2 column just to align boxes.  It can be done in 110-basic.</li>
</ul>
<h2>Resource Directory use:</h2>
<ul>
  <li>rdtropo template for homepage</li>
  <li>rdbasic for interior pages</li>
  <li>rdcolumns as needed</li>
  <li>note: don't use rdcolumns just to align boxes.  It can be done in rdbasic.</li>
</ul>
<h2>Channels use:</h2>
<ul>
  <li>rdtropo template for homepages/landing pages</li>
  <li>Laws and Regs use 110-basic for interior pages</li>
  <li>Learn the issues and Science and Technology use rdbasic pages</li>
  <li>Note: You will need to add a local style to the areanav file to hide the sidebar</li>
  <li>Note: You can't have sidebars on some and not on others.  Once style is there, no page will not have a sidebar</li>
</ul>
<h2>To-do</h2>
<ol>
  <li><del>Check in IE 6</del></li>
  <li><del>Add dropdown IA menu</del></li>
</ol>
</body>
</html>