<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/t4.dwt" codeOutsideHTMLIsLocked="false" -->
<!-- EPA Template, OneEPA Web, 17 November 2010 -->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Sample Templates | EPA Web Design | US EPA</title>
<meta name="DC.title" content="Sample Templates for EPA Web Sites" />
<meta name="DC.description" content="This page contains the OneEPA Templates" />
<meta name="keywords" content="web page templates, templates" />
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="metaElements" -->
<!-- InstanceEndEditable -->
<meta name="DC.type" content="" />
<meta name="DC.Subject.epachannel" content="" />
<meta name="DC.Subject.epabrm" content="" />
<meta name="DC.Subject.epacat" content="" />
<meta name="DC.Subject.epaect" content="" />
<meta name="DC.Subject.epaemt" content="" />
<meta name="DC.Subject.epahealth" content="" />
<meta name="DC.Subject.epaindustry" content="" />
<meta name="DC.Subject.epaopt" content="" />
<meta name="DC.Subject.epappt" content="" />
<meta name="DC.Subject.eparat" content="" />
<meta name="DC.Subject.eparegulation" content="" />
<meta name="DC.Subject.eparit" content="" />
<meta name="DC.Subject.epasubstance" content="" />
<meta name="DC.audience" content="" />
<meta name="DC.coverage" content="" />
<meta name="DC.date.created" content="" />
<meta name="DC.date.modified" content="" />
<meta name="DC.date.archivedate" content="" />
<meta name="DC.creator" content="US EPA" />
<meta name="DC.language" content="en" />
<meta name="viewport" content="width=device-width; initial-scale=1.0"/>

<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="meta" href="/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<!--RSS Feeds -->
<link rel="alternate" type="application/atom+xml" title="EPA.gov News" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSRecentNews" />
<link rel="alternate" type="application/atom+xml" title="EPA.gov Headquarters Press Releases" href="http://yosemite.epa.gov/opa/admpress.nsf/RSSByLocation?open&location=Headquarters" />
<link rel="alternate" type="application/atom+xml" title="Greenversations, EPA's Blog" href="http://blog.epa.gov/blog/feed/" />

<!-- ALL PAGE STYLES BELOW THIS LINE -->
<link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/epa.css" />
<!--[if IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie7.css"/><![endif]-->
<!--[if lt IE 7]><link rel="stylesheet" href="http://www.epa.gov/epafiles/templates/webcms/css/ie6.css"/><![endif]-->
<!-- InstanceBeginEditable name="styles" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="bodyClass" type="text" value="basic" -->
</head>
<body class="basic">
<!--googleoff: index-->
<p id="sitewidec"></p>
<p class="skip">Jump to <a href="#main" title="Jump to main content">main content</a> or <a href="#areanav" title="Jump to area navigation.">area navigation</a>.</p>
<div id="header">
  <p><a href="http://www.epa.gov/" title="US EPA Home Page"><img src="http://www.epa.gov/epafiles/templates/webcms/css/i/print-epa-logo.gif" alt="US Environmental Protection Agency logo" /></a></p>
  <form id="EPAsearch" method="get" action="http://nlquery.epa.gov/epasearch/epasearch">
    <fieldset>
      <ol>
        <li id="azindex"><a href="http://www.epa.gov/epahome/quickfinder.htm" title="Alphabetical list of top EPA topics">A-Z Index</a></li>
        <li><a href="http://www.epa.gov/search.html">Advanced Search</a></li>
        <li>
          <fieldset id="search">
            <legend>What are you looking for?</legend>
            <input name="querytext" id="searchbox" value=""/>
            <button id="searchbutton" type="submit" title="Search"></button>
          </fieldset>
        </li>
      </ol>
      <input type="hidden" name="fld" value="" />
      <input type="hidden" name="areaname" value="" />
      <input type="hidden" name="areacontacts" value="" />
      <input type="hidden" name="areasearchurl" value="" />
      <input type="hidden" name="result_template" value="epafiles_default.xsl" />
      <input type="hidden" name="filter" value="sample4filt.hts" />
    </fieldset>
  </form><!-- /search -->
  <ul>
    <li id="learn"><a href="http://www.epa.gov/gateway/learn/" title="Learn the Issues">Learn the Issues</a></li>
    <li id="scitech"><a href="http://www.epa.gov/gateway/science/" title="Science and Technology">Science &amp; Technology</a></li>
    <li id="laws"><a href="http://www.epa.gov/lawsregs/" title="Laws and Regulations">Laws &amp; Regulations</a></li>
    <li id="about"><a href="http://www.epa.gov/aboutepa/" title="About EPA">About EPA</a></li>
  </ul><!-- /IA Buckets -->
</div><!-- /header -->
<div id="content">
  <div id="area">
    <p><a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Contact Us</a></p>
    <p>EPAFiles: Web Design</p>
  </div><!-- /area -->
  <div id="page">
    <div id="main">
      <ul id="breadcrumbs">
        <li class="first"><b>You are here:</b> <a href="http://www.epa.gov/">EPA Home</a></li>
        <!-- InstanceBeginEditable name="breadcrumbs" -->
		<li><a href="../index.html">EPA Web Design</a></li>
		<li>Sample Templates</li>
		<!-- InstanceEndEditable -->
      </ul>
<!--googleon: index-->
      <h1><!-- InstanceBeginEditable name="PageName" -->Sample Templates<!-- InstanceEndEditable --></h1>
      <!-- <epaold> -->
      <!-- EPA Archive Policy Disclaimer v2.0 04/29/05 -->
      <p id="archive">Note: EPA no longer updates this information, but it may be useful as a reference or resource.</p>
      <!-- </epaold> -->
      <p class="warning">EPA builds all web content in the Drupal WebCMS as of January 2013. All new microsites and resource directories will be created using Drupal WebCMS.  There is still content on EPA's legacy servers and this content will be maintained there until it is transformed and moved into the Drupal WebCMS.   This information on styles and look and feel only applies to the existing content using Template 4 or older versions of EPA's template.  Information for building new content is found in the <a href="http://www2.epa.gov/webguide">EPA Web Guide</a>.</p>
      <!-- InstanceBeginEditable name="content" -->
	<div class="box righted clear">
        <h5>Development Note</h5>
        <p><strong>To save files</strong>: right-click the link to the file you want to save and choose &quot;Save Target/Link As...&quot;. In the dialog box that pops up, set <strong>Save as type</strong> to &quot;All Files.&quot; Edit the file extension to <code>.html</code>. For <code>.dwt</code> files, change the file extension to <code>.dwt</code> (not <code>.html</code>).</p>
      </div>
	<ul>
		<li><a href="#t4">Template 4</a></li>
		<li><a href="#describe">Detailed description of the Template</a></li>
		<li><a href="#version">Version History</a></li>
	</ul>
	<p><strong>Note:</strong> If you are using a template that predates the current tabbed template, you do not have the full set of functionality available in the current template.</p>
    <hr style="clear:none; width:50%"/>
	<h2 id="t4">Template 4</h2>
	
	<table class="zebra tablebord" summary="A listing of the available templates for EPA's Web Design.">
	<tr>
		<th style="width: 33%">Site</th>
		<th>Samples</th>
        <th>How to Use</th>
	</tr>
	<tr>
		<td>
          <h3 name="rs" id="rs">Sites using Template 4</h3>
		  
          <p>Fixed-width (960px) with a 180px-wide sidebar and a 740px-wide content column. Includes breadcrumbs. No "Language links" above search box. Two-column and sidebarless templates as needed.</p>
		</td>
		
        <td>
        	<p>The basic page template will be the most used template on our sites so we are providing a <a href="t4-basic.dwt">Dreamweaver Template (<code>.dwt</code>) file</a>.</p>
          <ul>
          	<li>Home Page Examples:
          		<ul>
          			<li><a href="webcms/home-redesign.html">Empty Homepage Layout</a></li>
          			<li><a href="webcms/home-redesign-example.html">Populated Homepage Example</a></li>
          			</ul>
          	</li>
          	<li>Basic Page Examples:
          		<ul>
            <li><a href="webcms/basic.html">Basic Page</a></li>
            <li><a href="webcms/basic-twocol.html">Basic Page with Two-columns</a></li>
            <li><a href="webcms/basic-wide.html">Wide Basic Page</a> (sidebarless)</li>
            <li><a href="webcms/basic-sidebarless.html">Sidebarless but not wide</a> page is width of basic page minus the sidebar (add a local style sheet to create this version)</li>
          </ul></li>
        </ul>
        </td>
		<td>
			<ul>
				<li><strong>Homepage</strong>
				<ul>
				<li>Banner is not required.  If a banner is used max width is 700 pixels.</li>
				<li>QuickFinder (Optional)
					<ul>
						<li>Limit of 20 items</li>
					</ul>
				</li>
				<li>Right column
					<ul>
						<li>"Top 3" box is the first item
							<ul>
						<li>Top 3 can be questions, popular pages, tasks or something else</li>
						<li>If a map is used (e.g. geoss, water), "Top 3" box is 2nd</li>						
					</ul>
						</li>
						<li>No area navigation in right hand sidebar</li>
					</ul>
				</li>
			</ul>
				
				<li><strong>Basic Pages</strong>
					<ul>
				<li>White space is yours to use as needed</li>
                <li>Don't use two-column template just to align boxes. It can be done with the basic template.</li>
              </ul></li>
			</ul>
		</td>
	</tr>
	
    
	</table>
	<p class="pagetop"><a href="#content">Top of page</a></p>
	<hr />
	<h2 id="describe">Detailed description of the Template</h2>
	        <p>EPA's new web template ("OneEPA") is a big change from our previous template ("v3"). Not only is the color palette different, but the design philosophy differs, too. Changes include:</p>
			<ul>
				<li>Fixed width: 960px</li>
				<li>Clear separation between "Agency"-stuff ("chrome") and your content ("whitespace")</li>
				<li>Central JavaScript repository (jQuery framework)</li>
				<li>Dropdown menus link to Agency Information Architecture</li>
			</ul>
            <p>You'll be happy to know:</p>
			<ul> 
			<li>EPA styles will continue to work without any work on your part.</li>
			<li>The editable regions in the OneEPA template are the same as template 3.</li>
			<li>The <a href="/epafiles/index.html#instrux">instructions for creating a page</a> are nearly the same for the OneEPA template.</li>
			<li><strong>Note:</strong> the change using a &lt;hr /&gt; in the sidebar.
			<ul><li>&lt;li <span class="highlight">class="separator"</span>&gt;&lt;a href="http://www.epa.gov/epafiles/"&gt;EPA Web Design Home</a><span class="highlight">&lt;hr /&gt;</span>&lt;/li&gt;</li>
			<li>Add the separator class to the &lt;li&gt; element and put the &lt;hr /&gt; inside the &lt;li&gt; element.</li>
			</ul>
			
			</ul>
			<p><strong>Other Templates</strong></p>
<ul>
<li>Sidebarless template (wide)
<ul>
<li>To be used when you have wide content that needs the entire screen space.</li>
<li>You can not put your entire site into the sidebarless template unless it's an application presenting data (Oracle, Cold Fusion)</li>
</ul>
</li>
<li>Two-column template
<ul><li>Used when there is significan right sidebar content and the boxes just won't behave. (It happens!)</li>
<li>Do not use it to align boxes to the right.</li></ul></li>

<li>Dynamic templates documentation have not been updated for OneEPA Web.
<ul>
<li><a href="/epafiles/docs/coldfusion.html">ColdFusion</a></li>
<li><a href="/epafiles/docs/oracle.html">Oracle</a></li></ul></li>
</ul>

		
			
			
			<p>We've got a number of examples and some how-tos. These include using the central jQuery framework to build your own interactions (such as tabs, panels, tablesorters, etc.).</p>
            <ul>
                <li>Examples
                  <ul>
	  				<li><a href="js.html">JavaScript and jQuery</a></li>
                    <li><a href="gallery.html">Image gallery</a></li>
                    <li><a href="html.html">Showing basic HTML (tables, lists, archive box, etc.)</a></li>
                    <li><a href="/epafiles/s/tabs.html">Horizontal and vertical tabs</a></li>
                    <li><a href="/epafiles/s/forms.html">Contact Us form</a></li>
                  </ul>
                </li>
			</ul>
           

	
	
	<p class="pagetop"><a href="#content">Top of page</a></p>
	<hr />
	<h2 id="version">Version History</h2>
	<table class="table zebra" summary="A listing of the changes between versions of templates for EPA Web Design.">
		<caption>
		Template Version History
		</caption>
		<thead>
			<tr>
				<th id="versionnum">Version #</th>
				<th id="date">Version Date</th>
				<th id="changes">Description of Changes</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td headers="versionnum">OneEPA</td>
				<td headers="date">November 2010</td>
				<td headers="changes">
                  <p>A move into a consistent look-and-feel with EPA's home page and across all EPA.gov pages. New structure warranted new designs for each kind of site.</p>
                  <p>New "tabs" for the Top-4 IA links (Learn the Issues, Sci&amp;Tech, Laws&amp;Regs, About EPA) and drop-down IA menus.</p>
                  <p>All AA/RA top-level designs have been removed.</p></td>
			</tr>
			<tr>
				<td headers="versionnum">4.1.1 and 3.2.2</td>
				<td headers="date">05 Aug 2010</td>
				<td headers="changes"><p>We have removed the EPA-all and Area-only search options. All search boxes should search All EPA.</p>
                <p>In addition, we've added Google Search Appliance-specific code.</p></td>
			</tr>
			<tr>
				<td headers="versionnum">4</td>
				<td headers="date">15 May 2009</td>
				<td headers="changes">Many</td>
			</tr>
			<tr>
				<td headers="versionnum">3.2.1</td>
				<td headers="date">21 May 2008</td>
				<td headers="changes">Archived<img src="http://www.epa.gov/epafiles/images/epafiles_misc_outdatediconmini.gif" width="22" height="18" alt="EPA no longer updates the information at this link, but it may be useful as a reference or resource." /> If you need these files, browse to <code>/epafiles/templates/archive/</code>.</td>
			</tr>
			<tr>
				<td headers="versionnum">3.2.1</td>
				<td headers="date">19 Oct 2006</td>
				<td headers="changes">Archived<img src="http://www.epa.gov/epafiles/images/epafiles_misc_outdatediconmini.gif" width="22" height="18" alt="EPA no longer updates the information at this link, but it may be useful as a reference or resource." /></td>
			</tr>
			<tr>
				<td headers="versionnum">3.2.1</td>
				<td headers="date">28 Jun 2006</td>
				<td headers="changes">Archived<img src="http://www.epa.gov/epafiles/images/epafiles_misc_outdatediconmini.gif" width="22" height="18" alt="EPA no longer updates the information at this link, but it may be useful as a reference or resource." /></td>
			</tr>
			<tr>
				<td headers="versionnum">3.2</td>
				<td headers="date">24 May 2006</td>
				<td headers="changes">Archived<img src="http://www.epa.gov/epafiles/images/epafiles_misc_outdatediconmini.gif" width="22" height="18" alt="EPA no longer updates the information at this link, but it may be useful as a reference or resource." /></td>
			</tr>
			<tr>
				<td headers="versionnum">2.1.1</td>
				<td headers="date">22 Mar 2002</td>
				<td headers="changes">Archived<img src="http://www.epa.gov/epafiles/images/epafiles_misc_outdatediconmini.gif" width="22" height="18" alt="EPA no longer updates the information at this link, but it may be useful as a reference or resource." /></td>
		</tbody>
	</table>
	<p class="pagetop"><a href="#content">Top of page</a></p>
	<!-- InstanceEndEditable -->
<!--googleoff: index-->
      <p id="areafooter">For help with your epa.gov web design, contact the <a href="http://www.epa.gov/epafiles/auxfiles/contactus.html">Web Template Workgroup</a>.</p>
    </div><!-- /main -->
    <div id="areanav">
      <h4 class="skip">Area Navigation</h4>
      <ul>
        <li class="separator"><a href="http://www.epa.gov/epafiles/">EPA Web Design Home</a><hr /></li>
        <li><a href="http://www.epa.gov/epafiles/templates/">HTML Templates</a></li>
        <li><a href="http://www.epa.gov/epafiles/s/">Styling your Content</a></li>
        <li><a href="http://www2.epa.gov/webguide">EPA Web Guide</a></li>
        <li><a href="http://www2.epa.gov/webguide/epa-web-standards">EPA Web Standards</a></li>
 </ul>
    </div><!-- /area-nav -->
  </div><!-- /page -->
</div><!-- /content -->
<div id="footer">
  <ul id="goodies">
    <li id="rss-news"><a href="http://www.epa.gov/newsroom/rssfeeds.htm">News Feeds</a></li>
    <li id="podcasts"><a href="http://www.epa.gov/epahome/podcasts.htm">Podcasts</a></li>
    <li id="mobile"><a href="http://m.epa.gov/">EPA Mobile</a></li>
    <li id="email-news"><a href="http://www.epa.gov/newsroom/email_signups.htm">News by Email</a></li>
    <li id="widgets"><a href="http://www.epa.gov/widgets/">Widgets</a></li>
  </ul>
  <ul id="globalfooter">
    <li><a href="http://www.epa.gov/">EPA Home</a></li>
    <li><a href="http://www.epa.gov/epahome/usenotice.htm">Privacy and Security Notice</a></li>
    <li class="last"><a href="http://www.epa.gov/epafiles/auxfiles/contactus.htm">Contact Us</a></li>
  </ul>
  <p id="seal">The Seal of the United States Environmental Protection Agency</p>
</div><!-- /footer -->
<p class="skip"><a href="#content" title="Jump to main content.">Jump to main content.</a></p>
<script src="http://www.epa.gov/epafiles/js/third-party/jquery.js"></script>
<script src="http://www.epa.gov/epafiles/js/epa-core-v4.js"></script>
<!-- ALL SCRIPTS BELOW THIS LINE -->
<!-- InstanceBeginEditable name="scripts" -->
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>