/* -----------------------------------------------------------------------
	 EPA's Home Page CSS
	 Overrides css/epa.css
	 v.epa2, 07 March 2011
	 Questions? hessling.michael@epa.gov
----------------------------------------------------------------------- */

/* TYPOGRAPHY
----------------------------------------------------------------------- */
/* Headings */
#headline #banner h2,#message #banner h2{color:#fff;font-size:1.333em;font-weight:bold;margin-bottom:0.75em}
#headline #banner h3{color:#fff;font-size:1.1em;font-weight:bold;margin-bottom:0.75em}
#main h3{font-size:1.35em;font-weight:bold;line-height:1;margin-bottom:0.5em}
h3 em{font-weight:bold}
h4{font-size:1.2em;font-weight:bold;line-height:1;margin-bottom:1em}
h5{font-size:1em;font-weight:bold;margin-bottom:1.5em}
h6{font-size:1em;margin-bottom:1.5em}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img{margin:0}

/* Text */
#content p img.left{float:left;margin:1.5em 1.5em 1.5em 0;padding:0}
#content p img.right{float:right;margin:1.5em 0 1.5em 1.5em}

/* Lists */
#content #main ul{list-style-image: url('http://www.epa.gov/hpfiles/css/i/bg-bullet.png')}

/* Horizontal Rules */
hr{background:#d9f0a0;border:1px solid #d9f0a0;clear:both;color:#d9f0a0;float:none;text-align:center;margin:0.7em auto;width:80%}
hr.space{background:none;border:none;color:#fff}
hr.separate{background:transparent url('i/border-horizontal.png') repeat-x;border:none;color:transparent;width:100%}

/* Form elements */
#content form legend{display:block;font-weight:bold;padding:0 0 5px}
#content form input{/*border:1px solid #bfd9e8;color:#4a545a;*/font-size:small;font-weight:normal;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;padding:2px 3px}
#content form button{background:#4289aa;border:none;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;color:#fff;letter-spacing:-1px;padding:1px 2px 2px;text-transform:lowercase}
#content form button:hover{background:#599dbd;-webkit-box-shadow:0 0 3px rgba(135, 139, 144, 0.4);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.4);cursor:pointer;text-shadow:0 1px 1px #aaa}

/* Misc elements */
#content blockquote{margin:1.5em;color:#666}

/* GRIDS/LAYOUT
----------------------------------------------------------------------- */
/* EPA Logo */
#header{background-image:url('i/bg-header-hp.png')}
#header h1,#header h1 a{display:block;height:45px;margin:0 0 0 48px;padding:0;text-indent:-3000px;width:378px}
/* drop down menu */
#header ul li#about ul a,#header ul li#learn ul a,#header ul li#laws ul a,#header ul li#scitech ul a{width:190px}

/* =Main Text Content */
/* Special messages above banner */
#message{background:#1f262a url('http://www.epa.gov/hpfiles/css/i/bg-message.png') repeat-x;border-bottom:1px solid #333c41;margin:0 49px;padding:10px 20px}
#message h2{background:url('http://www.epa.gov/hpfiles/css/i/message-arrow.png') no-repeat 0 50%;letter-spacing:1px;margin:0;padding-left:15px}

#banner, #aside{border-right:7px solid #1f262a;height:370px}
#content #banner div{font-size:1.1em;height:370px;overflow:hidden}
#content #headline #banner div div{background:transparent url('http://www.epa.gov/hpfiles/css/i/bg-homebanner.png') repeat;background:rgba(0, 0, 0, 0.6) none;padding:1em 1em 0;width:410px}
#content #headline #banner div div ul{list-style-image:url('http://www.epa.gov/hpfiles/css/i/bg-bullet-banner.png')}
#headline #banner a {color:#fff; font-weight:bold}

/* Shorter Banner */
#headline,#headline #banner,#headline #aside,#headline #banner div{height:315px}
#nav{top:298px}

#content #below_banner{margin:0;padding:0 0 0 120px;text-indent:-3000px;position:absolute;width:735px;height:38px;top:340px}
#below_banner a{display:block;float:left;height:38px;position:relative;width:735px;z-index:20}
#earth_day{width:200px}
#forty{left:17px;width:510px}

#content .no_asides #banner,#content .no_asides #banner div{width:946px}
#content .no_asides #aside{display:none}
#content .one_aside #banner,#content .two_asides #banner,#content .three_asides #banner{float:left;overflow:hidden;width:676px}
#content .switch #banner{float:right}
#content .one_aside #banner div,#content .two_asides #banner div,#content .three_asides #banner div{width:676px}
#content .one_aside #aside,#content .two_asides #aside,#content .three_asides #aside{float:right;padding:0 10px;width:242px}
#content .switch #aside{float:left}
#content .one_aside #aside{background:url('i/bg-aside-01.png') no-repeat}
#content .switch #aside{background:url('i/bg-aside-01-switch.png') no-repeat -7px 0}
#content .two_asides #aside{background:url('i/bg-aside-02.png') no-repeat}
#content .two_asides #aside .first{height:242px}
#content .two_asides #aside .last{height:124px}
#content .three_asides #aside{background:url('i/bg-aside-03.png') no-repeat}
#content .three_asides #aside .first,.three_asides #aside .mid,.three_asides #aside .last{height:124px}
#content #aside a {color:#fff; font-weight:bold}

#main{background:#f7f2f2 url('i/bg-main.png') repeat-x;padding:10px 10px 5px;margin:0 0 0 50px;width:940px}
/*  =Simple Columns in Main */
#main .columns{background:url('i/bg-column.png') repeat-y;display:inline-block;display:block;margin-top:2px;overflow:hidden}
#main .three{background:url('i/bg-column-three.png') repeat-y}
#main .equal{background:url('i/bg-column-equal.png') repeat-y}
* html #main .columns{height:1%}
#main .column{display:inline;float:left;margin:8px 10px 0;overflow:hidden}
#main .columns .last{float:right;margin:8px 0 0 4px;width:252px}
#main .columns .up,#main .three .up{margin-top:0}
#main .columns .first,#main .three .first{margin-left:0}
#main .column{width:255px}
#main .equal .column{width:210px}
#main .three .column{width:204px}
#main .three .first{width:373px}
#main .three .last{float:right;margin:8px 0 0 10px;width:323px}
#main .equal .last{width:252px}
#main .narrow{width:124px}

#content #moremyenv {margin:0 0 1.5em;overflow:hidden}
#moremyenv li{float:left;margin:0 15px}
#email-signup{background:url('http://www.epa.gov/hpfiles/css/i/bg-email.png') no-repeat;padding:3px 0 20px 52px}
#myenv fieldset p{margin-bottom:0}

#admin{background:url('http://www.epa.gov/hpfiles/css/i/admin.jpg') no-repeat -2px 0;display:block;height:128px;margin:0 auto 10px;width:256px}
#main #admin ul{list-style:none;margin:0;overflow:hidden}
#main #admin ul li{display:inline}
#main #admin ul li a{color:#fff;display:block;float:left;font-size:11px;font-weight:bold;margin:0 2px 0 5px}
#main #admin ul li a:focus,#main #admin ul li a:hover{color:#39c}
#main #admin h3{color:#fff;line-height:1.25;margin:0 0 12px;padding:24px 0 0 10px}
#main #admin h3 a{color:#fff;display:block;height:70px;text-decoration:none;width:230px}

/* Footer */
#footer{background:url('http://www.epa.gov/hpfiles/css/i/bg-footer-blue.png') no-repeat -49px 0;height:auto;padding:1em 0 4em}
#footer a:focus,#footer li a:hover{color:#39c;text-decoration:none}
#footer ul{list-style:none}
#seal{display:block;height:82px;position:absolute;right:49px;text-indent:-3000px;top:35px;width:82px}

/* Web20 goodies */
#goodies{height:100px;left:auto;position:absolute;right:176px;top:26px;width:274px}
#goodies li{display:inline}
#goodies li a:focus{outline:none}
#goodies li a{display:block;height:55px;position:absolute;text-indent:-3000px}
#goodies li a:hover{background-image:url('http://www.epa.gov/hpfiles/css/i/bg-goodies.png');background-repeat:no-repeat}
#goodies li#widgets a:hover{background-position:2px -3px}
#goodies li#widgets a{left:0;width:52px}
#goodies li#rss-news a:hover{background-position:-58px -3px}
#goodies li#rss-news a{left:60px;width:75px}
#goodies li#podcasts a:hover{background-position:-138px -3px}
#goodies li#podcasts a{left:140px;width:60px}
#goodies li#blog a:hover{background-position:-203px -3px}
#goodies li#blog a{left:205px;width:70px}
#goodies li#fb a:hover{background-position:-75px -68px}
#goodies li#fb a{height:33px;left:77px;top:65px;width:33px}
#goodies li#yt a:hover{background-position:-117px -68px}
#goodies li#yt a{height:33px;left:119px;top:65px;width:33px}
#goodies li#tw a:hover{background-position:-157px -68px}
#goodies li#tw a{height:33px;left:159px;top:65px;width:33px}
#goodies li#fr a:hover{background-position:-198px -68px}
#goodies li#fr a{height:33px;left:200px;top:65px;width:33px}
#goodies li#more-socmed a{background:transparent;font-weight:bold;height:auto;left:80px;position:relative;top:104px;text-indent:0;width:auto}

/* Global footer links */
#globallinks{float:left;margin:10px 0 0 30px;overflow:hidden;width:435px}
#globallinks li{border-bottom:1px dotted #fff;float:left;margin-left:15px;width:130px}
#globallinks li a{display:block;padding:5px 0 0}
#url{display:none}

.clearfix:after, .columns:after, #content:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden}
.clearfix, #content{display:block}


/* styles Cathy added */
#govdelivery{background:url('http://www.epa.gov/hpfiles/css/i/bg-email.png') no-repeat;padding:3px 0 20px 52px}
#opengovbox,#spillsbox{width:250px;clear:left;overflow:hidden}
#opengovbox p,#spillsbox p{float:left;margin:0;padding-top:6px;width:101px}
#opengovbox ul,#spillsbox ul{float:right;margin-left:20px;padding-top:4px;width:125px}
#spillsbox p{width:30px}
#spillsbox ul{float:none;margin:0 0 0 45px;width:170px}

#getinvolved {width:250px}
#getinvolvedleft {float:left;width:101px}
#getinvolvedright {float:right;margin-left:14px;width:135px}